[2022-05-18 21:19] lilyehsani commented on #1234
Issue Score: Excellent

Comments:
Great work! The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that the summary you write in the Sprin

[2022-05-18 21:20] lilyehsani commented on #1236
Issue Score: Satisfactory

Comments:
Great work! Two comments:
1. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that the summary yo

[2022-05-18 21:23] lilyehsani commented on #1240
Issue Score: Excellent

Comments:
Great work! The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that the summary you write in the Sprin

[2022-05-18 21:27] lilyehsani commented on #1242
Issue Score: Excellent

Comments:
Great work! While using Google Docs to sketch out some of the documentation, you should avoid posting links to those Google Docs from an issue, as it may cause confusion as to whether that document (or some future update to the wiki) is the most up-to-date version of that documentation. You should instead transfer the contents of the document to the wiki, and then

[2022-05-18 21:32] charlieweiler opened #1466 "Quests: Implement system for checking for quest completion upon entering a room or collecting an item"
We need to figure out how to check a quest completion automatically when you enter a room or collect an item. Additionally, we need to account for possible circular dependencies with Player. This issue should cover the implementation of all of these changes.

[2022-05-18 21:34] lilyehsani commented on #1177
Issue Score: Excellent

Comments:
Great work! Make sure to assign new issues to the sprint they are worked on (by selecting the appropriate sprint under "Milestone").

[2022-05-18 21:34] lilyehsani commented on #1191
Issue Score: Excellent

Comments:
Great work! Make sure to assign new issues to the sprint they are worked on (by selecting the appropriate sprint under "Milestone").

[2022-05-18 21:37] lilyehsani commented on #1176
Issue Score: Satisfactory

Comments:
Great work! Two comments:
1. Make sure to assign new issues to the sprint they are worked on (by selecting the appropriate sprint under "Milestone").
2. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html

[2022-05-18 21:53] jacknugent1529 commented on #1227
Issue Score: E

Comments: Nice work! The status updates are very thorough and should be helpful for your other team members and future teams. When writing the summary describing the task, remember to specify a tangible goal.

[2022-05-18 21:59] jacknugent1529 commented on #1229
Issue Score: S

Comments: Nice work! It looks like you've thought through the structure of the code. This should greatly help with implementation. Remember to state a tangible goal when summarizing the issue, and also be sure to add status updates as you work through the issue rather than a single closing comment.

[2022-05-18 22:09] Castel-Jaloux commented on #1466
After discussion, we discovered that the best places to check for quest completion in these cases were in the add_item_to_player() and move_room() functions. These are the functions that are called when a player obtains and item or switches rooms respectively. As a result, adding the functionality to check quest completion into these two functions would be the optimal way to make sure that quest c

[2022-05-18 22:15] jacknugent1529 commented on #1230
Issue Score: S

Comments: Nice work on designing the skills! The code framework on the branch should set you up well for the implementation task. However, be sure specify a tangible goal in the issue summary (the first comment), and to add progress updates.

[2022-05-18 22:16] anchristensen commented on #1340
Another update: the execute functions have proved more difficult than expected (the tests weren't the issue, the functions were). Everything except the execute functions is passing the tests. We will move this issue to sprint 4 and aim to submit a pull request today for the code.

[2022-05-18 22:28] jacknugent1529 commented on #1239
Issue Score: E

Comments: Nice work! The updates explain well your progress and limitations. Remember to convert cards to issues shortly after the meeting

[2022-05-18 22:54] charlieweiler opened #1467 "Quests: Refactor WDL design with new mission changes (the new mission struct)"
Since our initial WDL design, the mission_type struct has changed into a more compact struct. The WDL should be refactored to account for these changes.

[2022-05-18 22:58] jacknugent1529 commented on #1152
Issue Score: E

Comments: Nice work on this issue! The tests look thorough and well-written. In the future, even for relatively straightforward issues, try to give a more in-depth closing statement describing which work was performed by each assignee on the task.

[2022-05-18 23:17] JSerf02 commented on #1425
After discussing how this should work, we realized that the mission system includes unnecessary pointers to the objects of the missions when the string ids are really the only things necessary. Replacing these pointers with strings will help a ton with room visiting and item acquisition and it will also prevent circular dependencies with NPCs when those checks are eventually implemented. Because o

[2022-05-18 23:19] JSerf02 commented on #1425
Created this [Wiki]https://github.com/uchicago-cs/chiventure/wiki/Quests-~-Completing-Item-and-Room-Integration-Into-Quests) documenting the changes from the previous comment, and with that, the design is complete and documented.

[2022-05-18 23:19] #1425 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-05-18 23:31] jacknugent1529 commented on #1182
Issue Score: E

Comments: Nice work on this issue! The updates are informative and the closing statement provides the necessary information. Note that the issue summary should describe your goals with the issue.

[2022-05-18 23:35] elizabethli31 commented on #1424
Met with the NPC team today to discuss how feasible it is to include different dialogues with quests. Currently, we are hoping to have a list of quest ids and task ids in each NPC struct along with different dialogue options. These dialogue options would only be triggered if the player has the necessary prereqs

[2022-05-18 23:35] jacknugent1529 commented on #1183
Issue Score: E

Comments: Excellent work! The wiki page looks like it will be very helpful for your own team and future teams. When using google docs, try to paste the contents into the issue directly so it can act as documentation for the future

[2022-05-18 23:40] elizabethli31 opened #1468 "Quests: Design a way to incorporate quests and tasks into NPC struct and dialogue"
After meeting with NPC team, we were told how their dialogue works (triggers a conversation and actions based on key words). We had to come up with a way to have quests in certain dialogue options

[2022-05-18 23:44] elizabethli31 commented on #1468
We decided to have npc_quest_list and npc_task_list where each node included an id and dialogue (node_t from npc's structs). If the player's stats meet the prereqs of the quests and tasks, then the NPC will go through with the dialogue that is stored in that particular node. We currently have functions that can help with this but would need the NPC team to actually write these functions. I wrote p

[2022-05-18 23:44] #1468 closed, assigned to JSerf02, jakeziqiwei, elizabethli31

[2022-05-19 00:04] ukanyanwu opened #1469 "GUI: Creating Proper Tests for NPC Structs"
To integrate graphical elements for NPCs, their available lines and frames of expressions need to be accounted for.  As such structs for npc_actions, lines, and a list to hold them all have appropriate structs to hold their information. With these structs, they have new, init, and free functions that are used. They need to be properly tested to make sure that they are used and developed correctly

[2022-05-19 00:52] jacknugent1529 commented on #1249
Issue Score: E

Comments: Excellent work! The updates are thorough and give a good idea about the benefits and downsides of using PEG. Note that it's best to create the issues early and provide updates on what you've tried even if it hasn't been successful.

[2022-05-19 00:55] awliu2 commented on #1344
whoops, clicked the wrong button. This issue should remain closed.

[2022-05-19 00:56] jacknugent1529 commented on #1244
Issue score: S

Comments: Nice work writing tests! This is certainly something the dsl module needs. remember to convert cards to issue as soon as possible, and in the closing statement try to give a summary of exactly what was accomplished in the issue and why it is now complete.

[2022-05-19 01:01] jacknugent1529 commented on #1180
Issue Score: E

Comments: Excellent work! The pros and cons of each library are detailed and are very useful for choosing a library. The closing statement is also very well-written.

[2022-05-19 01:01] awliu2 commented on #1344
Clicked the wrong button. This issue should remain closed.

[2022-05-19 01:01] #1344 closed, assigned to jhsivadas, awliu2, baigh1

[2022-05-19 01:27] awliu2 commented on #1421
A pull request for part of this task was submitted yesterday, and we are currently going through reviewer suggestions to improve the code (i.e adding header comments, using a common definitions file, etc)
https://github.com/uchicago-cs/chiventure/pull/1456
This pull request specifically refactored the to_wdl module

[2022-05-19 01:32] awliu2 commented on #1420
Edited the task to specifically focus on the implementation of the NPC dialogue, as this task is likely as challenging (if not more challenging) as implementing the rest of NPC grammar/structure. We met to briefly discuss potential ideas and will continue working on this issue in the coming days.

[2022-05-19 01:38] awliu2 commented on #1114
This task should be closed. It was resolved in #1213

[2022-05-19 01:55] corian-jal commented on #1443
**Division of Work**
_battle_default_objects.c - Fatimah_
get_random_default_weapon() //needs to account for new fields
get_random_default_consumable() //needs to account for new fields
And add: get_random_equipment_weapon, get_random_equipment_armor, get_random_equipment_accessory

_battle_flow.c - Angela_
set_battle_player() //needs to account for equipment stat changes.
set_enemy() //needs to a

[2022-05-19 02:55] elizabethli31 commented on #1430
We wrote a task_tree_free function that recursively frees a task_tree and a test as well. The existing function that adds_task_to_quest does not seem to be properly implemented which is why the test is failing, so we have to go back and fix that.

[2022-05-19 02:57] aliu65803 commented on #1443
We will need to wait until the NPC team is done with updating their npc_battle_t in order to fully update set_enemy as the npc_battle_t does not currently have equipment. We cannot make this change ourselves since we know that the NPC team is updating their battle code, but do not know the specifics of their implementation yet.

[2022-05-19 02:59] nicholaswlee commented on #1443
In battle_print.c, we have decided to add a new function called "int *print_battle_item_details". This gives a full description of an item and its stat changes. The function "print_battle_items" now just print the names of all the battle items and their quantities. This will help reduce issues with too much text in a screen.

[2022-05-19 03:08] elizabethli31 commented on #1295
This issue is separate from #1161 which addressed more of the CLI side. The GUI team and I talked through the specifications of our quest task_tree struct and how we wanted to have these displayed. So far, they created a simple display of the tree positions using letters but not yet with the actual task_ids which will hopefully be done during this next sprint.

[2022-05-19 03:12] elizabethli31 commented on #1263
I made some changed to the wiki page from this original design. Originally, I had intended for a list of quests and tasks to be placed in the NPC struct. There would be two options for this method: 1) NPC dialogue triggers the initialization of certain quests or tasks given key words, 2) The NPC quest and task structs are already initialized and the dialogue is based off that. With the second opti

[2022-05-19 05:43] anchristensen commented on #1340
Closing statement: We implemented the reader effect as described in the opening statement--we wrote functions so that the reader effect can examine certain conditions of the world which can then be used by conditional skills (a type of complex skill) to determine if a condition is met. Specifically, this included a statistics reader for things like a player's xp, and an attribute reader for things

[2022-05-19 15:40] williamhu314 commented on #1413
Our plan for this function is to allow it to choose an existing room randomly, then choose a random unused direction, and make a room in that direction. If a room already has rooms on all 4 sides of it, the algorithm will just choose another room at random until it finds a room where there are vacant adjacent spaces. We may create different static generation algorithms later, but this method seems

[2022-05-19 16:33] williamhu314 commented on #1413
Here are the details of our plan for the implementation:

**First room**
1. We will pick the roomspec of the first room randomly using random_room_lookup
2. We will use the roomspec_to_room function to create the first room from the roomspec.

**Creating new rooms**
1. To create the new room, we will select the starting room randomly. We plan on doing this by making a helper function that chooses

[2022-05-19 16:44] williamhu314 opened #1471 "Create helper functions for static and dynamic game autogeneration"
In this issue, we aim to create helper functions that will help us with our static and dynamic game autogeneration functions. Specifically, we would like the following functions:

1. A function that creates the first room in the game randomly. This can be done fairly easily using the random_room_lookup and the roomspec_to_room functions. We will need this function for both static and dynamic game

[2022-05-19 16:45] williamhu314 commented on #1413
There are many helper functions that we need to address before we actually begin working on manipulating the inputted game struct appropriately, and this will be too much to accomplish in this issue. Thus, I have made a new issue that involves creating helper functions for static and dynamic game autogeneration in #1471. After the helper functions are implemented, the main static game generation f

[2022-05-19 16:47] williamhu314 commented on #1414
As I noted in #1351, there are many helper functions that we need to address before we actually begin working on manipulating the inputted game struct appropriately, and this is being done in #1471. These helper functions will be helpful for both static and dynamic game generation, and may also be helpful if we want to support other generation algorithms in the future.

[2022-05-19 16:53] williamhu314 opened #1472 "Brainstorming/Designing Different Variations of Static and Dynamic Game Autogeneration"
In #1351 and #1374 we are implementing our "default" static and dynamic game generation algorithm that will make the entire game completely randomly.

In the static case, the function generates the game starting by creating a random room, and then choosing a random room in the game to generate new rooms from.

In the dynamics case, the function makes rooms and paths on demand whenever the player w

[2022-05-19 16:55] williamhu314 commented on #1472
Some factors to consider are:

1. The randomness of the algorithm. We may make functions that generate a game "less randomly" and give the author more control
2. The structure of the game. We may make functions that make the graph of all the rooms, paths, and coords resemble a particular shape, such as a square, rather than having the structure be completely random.
3. The number of rooms in the g

[2022-05-19 17:00] williamhu314 opened #1473 "Creating tests for game autogeneration helper functions"
In #1471, we are aiming to create helper functions that will aid us in our static and dynamic game autogeneration functions in addition to providing flexibility in case we want to create different versions/variations of these autogeneration functions.

In this issue, our goal is to create tests for all of the helper functions. Specifically, we need tests for the following functions:

1. The functi

[2022-05-19 17:24] sglenn-uchi opened #1474 "Fix old kind 4 (now kind 5) implementation in actionmanagement.c"
After looking at some previous examples of how CONVERSATION mode is entered in dialogue, I realized our implementation of the TALK_TO case in do_npc_action is incomplete. My goal is to correct the implementation and make the test cases pass.

[2022-05-19 17:25] sglenn-uchi commented on #1474
I corrected the implementation and pushed to the npc/actions_original branch.

[2022-05-19 18:32] bvvill opened #1475 "Refactoring NPC movement by getting rid of separate definite movement and indefinite movement structs"
Currently, the only difference between the `npc_mov_definite` and `npc_mov_indefinite` structs is that the indefinite one has a hash table of "room times", `npc_room_time_hash_t`, which is just has the room IDs and an integer value for the amount of milliseconds an indefinite NPC is supposed to be in that room. Although a hash_table is technically a doubly-linked list (per uthash's documentation),

[2022-05-19 18:36] bvvill commented on #1475
My current plan to alleviate this is to add a time field to the existing `room_id_dll` struct, so that it isn't necessary to have separate structs for definite and indefinite moving NPCs and taking the `mov_type` enum into consideration (where appropriate) will be sufficient, and considerably less complex.

[2022-05-19 19:06] bvvill commented on #1475
The time field I mentioned in the previous comment will come in the form of the `time_ray_t` struct, which have `time_t start` and `double assigned_time` fields, representing the start time of when an (indefinite) NPC enters a room and the number of seconds that NPC has been assigned to be in that room

[2022-05-19 19:07] bvvill commented on #1475
This `time_ray_t` struct will be a new member of the `npc_path_dll_t` struct, which I am renaming from `room_id_dll_t`

[2022-05-19 19:08] bvvill commented on #1475
definite NPCs will have this `time_ray_t` field to be `NULL`, whereas it will actually be initialized for indefinite NPCs

[2022-05-19 19:10] junasano commented on #1302
We finished adding onto the already exisiting implementations of kind 4-6 actions and have it is updated on the npc/actions_original branch. Our next step would be to have the tests pass and this links to the issue here:
https://github.com/uchicago-cs/chiventure/issues/1339

[2022-05-19 19:10] #1302 closed, assigned to junasano, sglenn-uchi

[2022-05-19 19:13] junasano commented on #1339
Although the branch successfully builds, we were having trouble with having the tests pass. Therefore, we had our senior developer look into the issue.

[2022-05-19 19:41] nicholaswlee commented on #1443
All of the code has compiled. We now are working on getting the tests to compile. Since equipment has become a thing, some of these tests have become obsolete and will need to be changed.

[2022-05-19 19:54] ukanyanwu commented on #1469
Unfortunately there are issues with Criterion to make tests, so functions are being tested in main files that will print to stdout. The NPC_action and NPC_line structs are currently printing the correct values to stdout when prompted with a printf to the appropriate parameters for their structs. Memory is also being deallocated correctly with their respective free functions, as well. NPC_info list

[2022-05-19 20:11] ukanyanwu commented on #1459
Currently, there are tests written in a main .c file for the player_inventory struct. Unfortunately, player_inventory relies on using item.h within game-state for one of its parameters, and there are issues with it not being recognized and therefore unable to compile. @dhirpalshah is also looking into this issue in order to fully verify that the new and free functions for player_inventory actually

[2022-05-19 20:21] nicholaswlee commented on #1443
All the code and tests have now compiled. We will now be working on getting all the examples to compile.

[2022-05-19 20:30] nicholaswlee commented on #1443
All the examples compile, now it is time for all of the tests to pass.

[2022-05-19 20:34] JSerf02 commented on #1439
Modified add_task_to_player() to add all of the tasks in the prereq list as well

[2022-05-19 22:30] wzeng0 opened #1479 "dsl: implement player_class grammar in dsl_grammar.lark for player_class implementation"
While implementing player class, the grammar needs to be updated for the conversion to happen

[2022-05-20 00:22] nicholaswlee commented on #1443
We have been able to get all tests to pass and have filed a pull request.

[2022-05-20 00:46] awliu2 commented on #1343
The pull request associated with this issue is #1410

[2022-05-20 00:47] awliu2 commented on #1420
This task is currently being worked on in the dsl/npc-dialogue branch.

[2022-05-20 01:19] JSerf02 commented on #1439
Finished implementing the addition of tree management functionality to the quest creation and verification functions and also finished adding a function to collect rewards from a reward struct

[2022-05-20 01:19] #1439 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-05-20 01:21] JSerf02 commented on #1466
Implemented the new mission redesign which removes the NPC dependency from the quest module. This will make it so NPCs can now include quests while will vastly simplify NPC integration. Also, this new design is much neater and makes the code easier to read and write, which will be especially helpful for when we implement WDL parsing.

[2022-05-20 01:24] JSerf02 commented on #1466
Added in an `update_player_quests()` function that can be called by other modules to complete other quests. Implementing this function had a complication where the quest module needed to know the current room, but that info is stored in the game struct which can never be accessed by quests. We fixed this by modifying the player class by adding a `crnt_room` string that we update for every player i

[2022-05-20 01:30] JSerf02 commented on #1466
Modified `add_item_to_player()` and `move_room()` to call the `update_player_quests()` function so item acquisition and room entrance tasks will automatically complete when you collect the item/move to the room. This change required moving `add_item_to_player()` to game.h and adding a new `game` parameter, so we changed all calls to the function in other teams' files to account for this. After run

[2022-05-20 01:32] JSerf02 commented on #1466
We successfully implemented a system for checking quest completion on room entrance and item acquisition

[2022-05-20 01:32] #1466 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-05-20 01:44] JSerf02 opened #1481 "Quests: Add quest_ctx and rework tests to remove redundancy"
When working on the many changes to the quest module, two issues became very clear: First, lots of functions need the same information but have them as different parameters with different names in different locations which is really confusing when you're trying to call the functions. Second, all of the tests require the same initialization and they are all copy pasted which pads out the test file

[2022-05-20 02:34] bvvill commented on #1475
added init(), new(), and free() functions for the `time_ray_t` struct

[2022-05-20 02:36] JSerf02 commented on #1481
Created the quest_ctx_t struct and added new, init, and free functions for it

[2022-05-20 02:36] bvvill commented on #1475
removed the `move_npc_indefinite` and `move_npc_definite` functions as it's no longer necessary to have separate functions, `move_npc_mov` takes care of both types perfectly

[2022-05-20 02:40] bvvill commented on #1475
Ran into a little bit of a change amplification problem from going from `int room_time` to `double room_time` in reference to the amount of seconds (which used to be milliseconds, and is being switched in order to be similar to the output of `difftime()` in the standard `time.h` header, which will soon be utilized to its full extent) an indefinite NPC spends in each room along its path, mainly in

[2022-05-20 02:41] bvvill commented on #1475
removed the `register_npc_room_time` function and its test, as `npc_mov_init` accomplishes the same purpose.

[2022-05-20 02:44] bvvill commented on #1475
updated `extend_npc_path_indefinite()` and `extend_npc_path_definite()` (and their tests) to reflect changes in the `npc_mov` struct. I've decided to let these functions stay separate because they get called upon often and there's an extra parameter used in `extend_npc_path_indefinite` that would often be unused if the functions were generalized. This makes me really wish there was a good way to d

[2022-05-20 02:46] bvvill commented on #1475
also, forgot to mention that I've implemented init(), new(), and free() functions for the `npc_path_dll_t` struct, although I've decided to abstract them away to solely reside in `npc_move.c`, since they're basically helper functions

[2022-05-20 02:48] bvvill commented on #1475
Finally, did some rearranging of the functions in the `npc_move` module so that the functions are sorted by their type of operation, like struct, "get", compare, and "do something" (I could think of no better name, even update didn't totally apply lol) functions

[2022-05-20 03:17] junasano commented on #1339
After some feedback from Lily regarding getting the tests to pass, it was suggested that the PR would be too big if submitted as one. Therefore, we will be creating a new brach called npc/actions_dev where new implementations of npc-actions will be slowly transferred, while making sure the tests pass.
Once a decent amount of work is done, a PR will be submitted. The first step is to add the agent

[2022-05-20 04:25] csraffaga commented on #1296
Formatting, as well as data structures (a map_graphics struct) in addition to written new and free functions have been pushed to Github from my local repository. A few adjustments need to be made to the draw_map_graphics struct in order for it to compile and output as we want, but this is progress!

[2022-05-20 04:27] csraffaga commented on #1300
The modular design for scene is complete and pushed to GitHub. This push consists of a scene data structure with information required to output the desired screen with author customizations. New and free functions have also been written  and only require a few minor adjustments to ensure they are working as desired. The draw_map_function just needs to be updated to call the new function and refere

[2022-05-20 05:14] bvvill commented on #1475
The init(), new(), and free() functions for `time_ray_t`s have also been extracted away into `npc_move.c`, for the same reason

[2022-05-20 05:21] csraffaga commented on #1262
The inventory module has been refined. Add and remove from inventory functions have been added to the .h file and implemented in .c. This required a small edit to the inventory struct. The inventory is now a matrix of slots and each slot contains space for an item and a tag (full or empty) which is an enum type I designed.  This is an important inclusion because without it one would not be able to

[2022-05-20 05:22] bvvill commented on #1475
[code]

basically all of the failed builds on this branch are because I had set up `npc_mov_init` like the above code, instead of the below. Letting this serve as a painful reminder that initializing the head of a utlist is essential, as sussing this out took me 2 excruciatingly-long hours

[code]

[2022-05-20 05:24] bvvill commented on #1475
why on earth does it look like this

[2022-05-20 05:27] bvvill commented on #1475
![Refactoring NPC movement by getting rid of separate definite movement and indefinite movement structs by bvvill · Pull Request #1483 · uchicago-cs_chiventure - Google Chrome 5_20_2022 12_25_45 AM](https://user-images.githubusercontent.com/102555942/169456849-17a62414-c57d-47ea-adbf-fe87079b12b8.png)
red_code = bad;
green_code = good;
return 0;

[2022-05-20 05:30] bvvill commented on #1475
But if someone could explain to me exactly why the code on the top doesn't work that would be so dope

[2022-05-20 05:32] sabinecodes15 commented on #786
We realized that the updated implementation of load_actions() was failing because the function build_conditions() operates under the assumption that an item has already been added to the game; thus, I had been trying to add conditions to actions too early. I instead [added a load_conditions() function](https://github.com/uchicago-cs/chiventure/commit/c8056122bae5b415a40173cc21e0b49f4bd6853b) that

[2022-05-20 06:33] ukanyanwu opened #1485 "GUI: Creating Proper Tests for Scene Structs"
Scene graphics utilises its own scene_graphics structs in order to visually represent them in chiventure. This struct is used in the draw function for scene graphics, and in order to fully verify that it can and will work as intended, scene graphics must show that its new/free functions properly allocate and deallocate memory, respectively.

[2022-05-20 08:40] JSerf02 commented on #1481
We reworked all of the functions in the quest module that had player_t and quest_hash_t as parameters to use the new quest_ctx objects instead. We also adjusted the tests accordingly.

[2022-05-20 08:42] JSerf02 commented on #1481
We refactored all of the tests from the quest module to make them stronger and remove redundant code through helper functions. Our tests are now stronger and way shorter and easier to read. While doing this, we encountered a few significant bugs and crashes that were extremely difficult to pin down. It's interesting to note that one of these bugs was actually a bug with a function from the player

[2022-05-20 15:55] sglenn-uchi commented on #1474
After a discussion with our team leader, we are proceeding with a new, more efficient plan of correcting the kinds 4-6 (now kinds 5-7) tests. Fixing the kind 5 (new name for kind 4 due to addition of another kind by action management) is now part of the attached issue, so I'm going to close this one.

https://github.com/uchicago-cs/chiventure/issues/1474

[2022-05-20 15:55] #1474 closed, assigned to sglenn-uchi

[2022-05-20 16:57] junasano commented on #1339
The a new union agent was successfully added and the struct game_action_effect was changed as well to account for the new agent. After tweaking many files, the branch builds and passes all the tests.
The next step is to change functions that currently take in item_t as a parameter to agent_t instead (specifically those that will be used by both item related things as well as npc-action functions)

[2022-05-20 17:33] majorsylvie opened #1486 "cli: create documentation for next year's group"
team members: Matteo, Miles, Brianna

This task involves detailing what we have done this quarter, which would include talking about the research and motivation behind using Bison, along with the improvements to the current code we have added.

Probably be good to make a wiki page detailing this!

[2022-05-20 17:37] majorsylvie opened #1487 "cli: documentation for adding a new "function""
team members: Faruk, Brianna, Kate

once the `view` function work is done, we can document the process that went into creating a new function, as in:

* what is the goal of the new function (to work with a new action type from AM)
* what we as CLI have to code
* what we have to update about the existing architecture (updating global action variable list, updating the lookup table)

This would take

[2022-05-20 17:39] majorsylvie commented on #1487
As of now, it is unrealistic to work on this until the `view` function is fully implemented, because until then we will not have not actually fully implemented a new function, and would not be aware of the full process.

[2022-05-20 17:41] majorsylvie opened #1488 "cli: allow sequential quotes in CLI input"
team members: Miles, Matteo, Faruk

this is an extension of the quotation-as-one-token issue from before, where we want to allow multiple quotation groups to be made in a single CLI input

[2022-05-20 17:44] majorsylvie opened #1489 "cli: create small bison demo"
team members: Brianna, Faruk, Kate

this task serves as part of the demo that we will present to the class, where we show bison actually doing parsing.

This can be gerryrigged in the sandbox

[2022-05-20 17:46] majorsylvie commented on #1489
Created a branch to work on this issue:
run
[code]
to use the branch!

[2022-05-20 17:48] majorsylvie commented on #1489
I believe it would be good to get bison to work with a few simple examples, such as the removal of extra prepositions like `to` and `the`.

[2022-05-20 17:53] majorsylvie commented on #1489
When coming together to work on this issue, we should define exactly what we want our demo to show in terms of examples and output.

Preliminary idea is to have it print out the list of string what would be fed to an actual existing operation.

so an example demo would be:

normally, when the user types `"go south"`, the CLI parses it as such:
[code]
and will raise an error if you try to give it t

[2022-05-20 18:04] Vincent-Zhang4135 opened #1490 "Add NPC-specifc prefabs into class_prefab.c inside Playerclass"
Jonathan, Katie, and I are adding in friendly NPC's into the playerclass module in class_prefabs.c. Currently, all the playerclass prefabs are very combat and skill heavy, and there aren't many supportive classes. Therefore, we are going to add some classes into the code with the stats of these new classes, alongside a short and long description. Although there is room for refactoring, we will pri

[2022-05-20 18:24] sabinecodes15 commented on #786
Upon closer inspection, we realized that implementing tests for inventory conditions should be a separate issue. Thus, we will close this issue with the approval of PR #1492.

[2022-05-20 18:33] milesgardner commented on #1486
We plan on splitting this task up 3 ways:

Improvements to current code - Miles Gardner
General Bison information/going forward - Brianna
Matteo - Intro and general info/ going forward

[2022-05-20 18:45] katyashchukina commented on #1270
Bison now runs on CSIL machines! We have created a very basic bison example file and it runs with no issues, therefore we are closing the issue.

[2022-05-20 18:45] #1270 closed, assigned to katyashchukina, majorsylvie, milesgardner

[2022-05-20 19:02] milesgardner commented on #1334
This has been merged into dev and all code is complete.  Unit tests are complete as well.

Matteo and I plan on building upon this framework, allowing for quotes within quotes in the future. For this pull request, Matteo worked on the implementation and I worked on adding testing for it.

[2022-05-20 19:02] #1334 closed, assigned to milesgardner, bzeng6, mrestuccia1

[2022-05-20 19:28] cyruszzhou opened #1495 "GUI: writing new and free functions and tests for scene_graphics"
We have come up with the structs of scene graphics but haven't written any new/free function or test yet. Now we are trying to make up for this and change the original hardcoded memory allocation as well. This would benefit future developers to come up with new functionalities based on the current structs. Also, this makes eyeball testing the rungraphcis function for scene-graphics module much mor

[2022-05-20 19:30] cyruszzhou commented on #1495
We have sucessfully written functions and tests for scene graphics (new/init/free functions). All tests pass, so we are assured that they are functioning properly. We also found out a way to adapt the criterion macro (in regard to Makefile and test.c), which our teammates can use as a template.

[2022-05-20 19:30] cyruszzhou commented on #1495
We are now trying to pull request these functions and tests before the draw function (which makes more sense). The issue is closed.

[2022-05-20 19:30] #1495 closed, assigned to cyruszzhou, csraffaga

[2022-05-20 19:34] nbilaver opened #1496 "rpg-skilltrees: expand reader effect"
team members: Chelsea, Nikola, Kabir

This issue seeks to add more to the reader module, mainly by creating more readers for useful aspects of the game. At the moment, the reader module is undergoing a PR, so at the time of writing this issue cannot be started, but will be able to be worked on soon.

[2022-05-20 19:39] mrestuccia1 opened #1497 "Cli: strengthening unit tests for older and newly added code in CLI"
Currently, the unit tests in Chiventure do not cover many cases and are thus quite weak. This is cause for worry, as they might be missing errors that could create issues down the line. We aim to bolster these tests by adding more both to the previously written functions of the CLI code, as well as to the new functions we are adding (multiple words in quotes, removing fillers, multiple commands...

[2022-05-20 20:01] mrestuccia1 commented on #1334
After fixing suggestions and concerns from Faruk and Jack: The updated, and final code that was merged by Jack into dev is:

`char **parse(char *input)
{

    if (strcmp(input, "") == 0)
    {
        return NULL;
    }

    case_insensitize(input);

    char **words;
    words = (char**)malloc(sizeof(char*)*TOKEN_LIST_SIZE);
    char **by_quotes;
    by_quotes = (char**)malloc(sizeof(char*)*TOKEN

[2022-05-20 20:31] awliu2 commented on #1421
Making progress on refactoring the dsl_parser module in the dsl/dsl-parser-refactor branch. We've separated the utility modifiers from the game/item/action/room transformers, and separated all that from the main transformer class that operates upon the entire dsl file. We now need to make sure everything runs as expected.

[2022-05-20 21:20] csraffaga opened #1500 "GUI: Edit GDL wiki and format"
The GDL wiki as well as the GDL structure need to be updated to facilitate increased author design ability. This includes adding a field for camera width and height to be compatible with customized scene display and a reworking of the module to increase efficiency. Previously the file was being read by multiple functions - but this would require passing through multiple times and doing additional

[2022-05-20 21:31] Castel-Jaloux opened #1501 "Quests: Readability Improvements (Quest Completion Enum and Streamlined Reward Delivery)"
Quests currently represent status as integer values from -1 to 2, which makes it difficult to tell what each status value actually means. We want to change this to an enum so the status is more understandable.

In a similar vein, the complete_task() function returns a reward struct, which is almost always immediately passed into accept_reward(). While we don't want the accepting of the reward to b

[2022-05-20 21:32] Castel-Jaloux commented on #1309
Incorporated as part of a larger issue and is now discarded.

[2022-05-20 21:32] #1309 closed, assigned to Castel-Jaloux, JSerf02

[2022-05-20 21:36] wzeng0 commented on #1479
Initially the Lark grammar did not support the player_class. I changed it so that the game looks for a class called player_class. Player class is able to take in short description, long description, multiple attributes, and base stats now. The grammar is updated in ```dsl_grammar.lark``` and we created a new file called ```player-class-grammar-ex.dsl``` for testing. I'm closing this issue now beca

[2022-05-20 21:37] #1370 closed, assigned to katie-gao, vanolson

[2022-05-20 21:38] csraffaga commented on #1419
@imadejski and I have currently updated all that is required for the header file of gdl and have begun to implement. The module works as follows. A single read_gdl() function will take in the gdl file and fill necessary structures that other graphics modules will require! This will run through the file once over and output an initialized and completed graphics struct.

[2022-05-20 21:42] #1479 closed, assigned to wzeng0, awliu2, baigh1

[2022-05-20 21:49] nicholaswlee commented on #1356
Here are some tests to consider adding so we do not forget in the future:

Moves:
- Moves that do physical damage
- Moves that do magical damage
- Moves that consume SP
- Moves that change stats of a user
- Moves that change stats of an opponent
- Moves that change both stats of a user and a opponent
- Moves that change both stats and do damage

battle_item_t:
- Items that change other user stats

[2022-05-20 22:00] csraffaga commented on #1273
Thus far the display statistics module has not been acted on yet as it requires completion and formulation of the scene module and the newly approved gdl system. The representation of the on screen statistics is now specified in the gdl file and function headers have been designed in read_gdl.h that can be found in /include/gdl.

[2022-05-20 22:15] katie-gao opened #1503 "Create design document for the demo"
Jake, Van and I are discussing the demo based on the changes we have made throughout this quarter. As we individually had worked on different tasks, we are going to design a demo that includes the breadth of ideas/code we worked on to present in the future. This is a preliminary issue and a brainstorming session.

[2022-05-20 23:19] rohandeme commented on #1446
Created a new branch called autogenerate/edges to work on this issue.

[2022-05-21 00:28] cyruszzhou opened #1505 "GUI: writing new, free, and tests for quest_graphics functions"
We have written graphics structs and draw functions for the quest module, but have not yet written new and free functions and tests for that module. We are now trying to enable the quest_graphics module for pull request. This would not only benefit future developments by formalizing the process of malloc/init/free, but also making our own testing on the rungraphics functions easier.

[2022-05-21 00:30] cyruszzhou commented on #1505
We have written new, init, and free functions for the quest modules. We also wrote tests for them. After debugging, they all passed. The usage of these functions are straightforward and has just enough information needed. We have committed the change to git, and we are one step forward to pull request our quest_graphics module.

[2022-05-21 00:31] cyruszzhou commented on #1505
As this task is finished, we now close the issue. We will wait for pull request to take place.

[2022-05-21 00:31] #1505 closed, assigned to cyruszzhou, imadejski

[2022-05-21 00:34] williamhu314 commented on #1446
We finished the functions and tests for init and new and are now working on the free function and test

[2022-05-21 00:37] williamhu314 commented on #1446
The new function will allow the game author to pass a heap-allocated 1D array and the number of rows and columns they want in the 2D array and will output a heap-allocated 2D array. This will make things less complex because the game author will only need to use malloc once instead of implementing a for loop of mallocs in the case of a heap-allocated 2D array.

[2022-05-21 00:40] williamhu314 commented on #1446
The free function will also allow the game author to avoid using a for loop when freeing an edges array.

[2022-05-21 00:45] rohandeme commented on #1446
We have finished writing the tests for free and init, thus concluding this issue. While the  attribute "edges" doesn't has its own struct, these functions will make it easier on the game author as they will only have to input a 1D array of "edges", which will then be converted into a 2D adjacency matrix through the functions we just wrote. A pull request will soon be made to transfer these changes

[2022-05-21 00:45] #1446 closed, assigned to jsssengonzi, rohandeme, williamhu314

[2022-05-21 01:42] williamhu314 commented on #1471
The function for creating the first room has been implemented

[2022-05-21 01:50] nicholaswlee commented on #1448
The goal of this PR is to allow NPC's to surrender when they reach a certain hp level. This will change two data types:
stat_t will now have surrender_level.
[code]
Additionally, we will also be changing battle_status_t.
[code]

The main two functions that need to change are:
- battle_flow_move() //This needs to incorporate surrender level
- print_battle_winner() //This needs to print a new statem

[2022-05-21 02:22] nicholaswlee commented on #1448
Because this is a smaller pull request, we have decided to add tests to make the process a bit easier for when the battles test team creates their tests.

[2022-05-21 03:09] nicholaswlee commented on #1445
Angela, Emilio, and I have met up and discussed what we would like to see in the demo. We have outlined different example moves, items, and equipment that can highlight all the new features we have coded in. Another big thing we would like to showcase our runtime component.

[2022-05-21 03:44] nicholaswlee commented on #1445
We have decided that we will be using the examples from last year as a "base template" for our demo. We will be updating the data structures and fields as well as implementing run_turn_component.

[2022-05-21 03:45] nicholaswlee commented on #1445
The design doc can be found [here](https://github.com/uchicago-cs/chiventure/wiki/Battle-~-Demo-~-Design-Document).

[2022-05-21 15:36] cyruszzhou opened #1509 "GUI: pullrequesting everything"
We have developed our features in a separate folder on a separate branch. Now we need to pullrequest everything into the dev branch. It is thus necessary to create new branches that contain every step of pullrequest in order for everything to be pull requested in different steps.

[2022-05-21 15:38] cyruszzhou commented on #1509
I have submitted pullrequests for raylib tweaked version, part1 of scene_graphics, and part1 of quest_graphics. I am waiting for the review.

[2022-05-21 17:20] KabirDubey opened #1510 "rpg-skilltrees: meet with action management, integrate skilltrees into a view action"
The action management module works with the conditions and effects involved to manipulate a player in chiventure. They designed a fourth "kind" of action (called VIEW) that presumably makes a player view items (further documentation pending).  This utilizes a `do_self_action` function that executes VIEW actions when given various player attributes. From lines 157-174 of the header file:

[code]

W

[2022-05-21 17:36] williamhu314 commented on #1471
For 2b, to update the pick_random_direction function to account for our new coord struct, we will need to add a new helper function called room_exists_in_direction that determines whether there exist an adjacent room in the given direction based on the coord struct information.

[2022-05-21 17:41] rohandeme opened #1511 "RPG-Openworld: Write more intricate tests for edges_new, edges_init, and edges_free"
We recently completed a pull request, where we added functions called edges_new, edges_init, and edges_free, which would allow us to add and free a 2D adjacency matrix of edges whose values represent the likelihood of two rooms generating next to one another. In this issue, we will add more detailed tests to ensure that these functions are working as expected.

[2022-05-21 17:48] anchristensen commented on #1460
Brief update: the designing is complete. We have outlined what precisely needs to be done to implement this issue. Specifically, we will need to: 1) add RANDOM as an enum option to complex_skill_type_t once the complex_skill pull request has been approved. 2) add a random effect for random chance. This will work for skills like "All-Out Attack" as described in the opening statement; it becomes Cha

[2022-05-21 18:14] Don-Osipov commented on #1463
After trying to implement a switch statement given the target action, we have realized that a switch statement is not the right tool and have instead implemented an if-else statement to parse the target actions. I have also added possible future actions that this function can support.

[2022-05-21 18:17] HarrisonD123 opened #1512 "Create a Wiki page for Action Management's action functions"
We've noticed that sorting through the actionmanagement module took a significant amount of time, given the lack of documentation. It will be beneficial to future actionmanagement teams for us to create a Wiki page for each of our action functions, especially as more are added in the future. This page will describe how values are passed into each of `do_item_action,` `do_path_action,` `do_item_ite

[2022-05-21 18:34] Don-Osipov opened #1513 "action-management/Adding structures to action management design doc"
Will create a wiki page with a design doc explaining all the relevant structures to action management.

[2022-05-21 18:39] williamhu314 commented on #1511
Specifically, we will add tests with more matrices involved, including edge cases such as when wanting to make a 1x1 matrix or when wanting to make a bigger matrix (e.g. 20x20).

[2022-05-21 18:49] emilybae1705 opened #1514 "Design and implement a hostility_level conversion function and a tone_t struct for dialogue provocation of conditional_friendly NPCs"
Currently the `hostility_t` enum includes three types of NPCs: FRIENDLY, CONDITIONAL_FRIENDLY, and HOSTILE. As stated in our [design document](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-NPC-Battle-Integration-Changes-Design-Document) FRIENDLY NPCs will remain friendly throughout the game, players can provoke CONDITIONAL_FRIENDLY NPCs into becoming HOSTILE, and HOSTILE NPCs are mainly fig

[2022-05-21 18:58] williamhu314 commented on #1471
The room_exists_in direction and pick_random_room functions have been implemented and we are working on fixing some bugs with these functions

[2022-05-21 19:06] emilybae1705 opened #1515 "Implement hostility_level conversion function and tone_struct"
After finishing design document, implement code.

[2022-05-21 19:25] Vincent-Zhang4135 commented on #1490
The NPC team wants to code in friendly NPC's which would need friendly classes like healer or something of that sort. We met with Lily to discuss the motivation and reasoning behind this, and decided that because all the playerclass prefabs are geared more towards actions and skills that players actually have, it can also be helpful to add in prefabs that are directed towards non-hostile NPCs. We

[2022-05-21 19:27] sabinecodes15 opened #1516 "Create Tests for Item Inventory Conditions"
Issue #236 allows game developers to specify items that players must have in their inventory to perform certain actions. This functionality needs tests to ensure that inventory conditions are properly created. The current issue will be closed when these tests are implemented

[2022-05-21 19:28] sabinecodes15 commented on #236
The WDL portion of this issue will be implemented with the approval of PR #1492. The last thing that needs to be done to close this issue are tests to ensure that inventory conditions are properly implemented- see issue #1516

[2022-05-21 19:33] HarrisonD123 commented on #1455
It turns out the CLI team already runs a test to make sure the self action matches an available action (e.g. `view`). No need to add new testing for this.

[2022-05-21 19:50] HarrisonD123 opened #1517 "Implement an "upgrade stats" command as a new self action"
It would be cool if an upgrade command could be included to upgrade certain aspects of the current character (i.e. stats, skills, etc). The simplest command to start on would be "upgrade stats", which would involve a simple flat upgrade to all stats. The biggest unknown for this issue would be how to attach conditions to this action, given that upgrade stats might require different conditions (lev

[2022-05-21 19:51] Don-Osipov opened #1518 "Create tests for new "Self" action and corresponding view actions in the do_self_action of actionmanagement.c"
We will create a new module in the tests/action_management folder since we previously created a new action type for self actions. `do_self_action` takes a target action to do on self, which right now includes `"stats"` and `"effects"`, although it can and probably will be expanded on later. These actions are used by the CLI team to print out the current stats and stat effects of the player.
We wil

[2022-05-21 20:38] Vincent-Zhang4135 commented on #1490
Jonathan and I synced and added four new prefabs, and will notify Katie to finish the last two (Lord + Healer). While implementing, we thought of possibly ways of refactoring our these player classes into two modules separately for npc and players alike. This change might require a lot of work, and so we decided to push this off and left a comment on the document if future devs want to delve into

[2022-05-21 20:42] sabinecodes15 commented on #1516
While looking at ways to implement these tests, we realized there were some redundant function calls in the wdl test functions. We're refactoring the code to define the `__get_doc_obj()` function in a header file included by all the tests (rather than having each test copy the function), and adding the parameters "name" and "file_path" so each test file can specify what file they'd like to parse.

[2022-05-21 20:53] Vincent-Zhang4135 opened #1519 "Implement Testing for speed auto_gen_movement functionality inside test_npc_move.c"
In Issue #1306 , we adjusted the auto_gen_movement() function in npc_move.c to include a multiplier based on the speed stat of the NPC's class that affects the time spent in each room on an indefinite movement path. The corresponding test Test(npc_mov, auto_gen_movement_indefinite) does not currently account for the implementation of this feature and is thus crashing, so we have commented it out f

[2022-05-21 21:09] HarrisonD123 commented on #1516
We created a new `test_wdl.c` file to hold the implementation of the `__get_doc_obj()` function. We figured out that the new .c files we created needed to be added into the `CMake` file for `tests/wdl.` We added `test_wdl.c` and `test_conditions.c`

[2022-05-21 21:32] #1443 closed, assigned to nicholaswlee, aliu65803, corian-jal

[2022-05-21 21:33] aliu65803 commented on #1443
We have fixed all the comments on the pull request and resolved all the merge conflicts. Since we have completed implementing all of the changes outlined in our design document such as adding/updating structs and updating functions, we are now done. The pull request has been approved by Emilio, Lily, and Jun. When the pull request gets merged to dev, it should close this issue as well.

[2022-05-21 22:57] elizabethli31 commented on #1349
Properly refactored everything in dev to the new modules task, prereq, quest, quests_hash, and quests_state. Updated cmake files to include these new modules. Currently merging with the add_status_enum branch which is creating some syntax errors that will need to be fixed

[2022-05-21 22:59] mrestuccia1 opened #1520 "Cli: Implement Suggestions for not found commands based on Levenshtein distance"
Currently, when a command is not found in Chiventure a function is called to give suggestions. These suggestions are calculated simply by comparing characters. However, this is not a very accurate method, as length can also play a part in similarity. As such, we aim to implement a fuzzy search system (specifically Levenshtein's Distance) in order to better predict what word a user might have been

[2022-05-21 23:25] anchristensen commented on #1461
Update: We have determined the broad subjects which need to be addressed in the summary of complex skills wiki page. We are going through specifics of each subject now and writing up a summary of this information.

[2022-05-21 23:43] anchristensen commented on #1461
Closing statement: We wrote up a brief summary of complex skills on a wiki page here: https://github.com/uchicago-cs/chiventure/wiki/Skill-Trees-~-Complex-Skills-Summary. This summary aims to help other teams understand and navigate complex skills so that they can better use these complex skills for their own purposes. It briefly describes the four types of complex skills (sequential, combined, co

[2022-05-21 23:43] #1461 closed, assigned to nbilaver, anchristensen

[2022-05-22 01:12] mrestuccia1 commented on #1520
The formula I used for this task was this one:

![6224efffbe9a4e01afbddeeb900bfd1b3350b335](https://user-images.githubusercontent.com/102557721/169674041-7bfa068d-6773-4d2f-bbb0-e374dbc56255.svg)

Linked here:

https://en.wikipedia.org/wiki/Levenshtein_distance

This clearly lent itself to recursion, so I started editing the suggestions operation in the src/cli/scr/operations.c file. I quickly not

[2022-05-22 01:17] mrestuccia1 commented on #1520
Finally, I simply built  function that repeatedly called the Levenshtein helper, for each of the 29 commands, and then picked the one with the lowest score as the suggestion. Below is the code for this:

` // This function returns a string which is the suggestion
  // It finds the suggestion by using Levenshtein's
  // Distance formula linked here:
  // https://en.wikipedia.org/wiki/Levenshtein_di

[2022-05-22 01:52] csraffaga opened #1521 "Reformat player stat representation in WDL"
As it stands, it is unclear where the author can specify what the default statistics of a player are, whether it should be in the WDL or the GDL, how they should be represented, and how to track which player statistics are going to be displayed on screen with the scene. I need to meet with action management to understand the broader implementation of statistics in the game from the WDL and how to

[2022-05-22 03:08] emiliolevinspage commented on #1453
Finished the intro sections and its done!

[2022-05-22 03:14] aliu65803 commented on #1453
We are closing the issue now since we have created and documented all of the sections outlined above in the introduction. This will make it clearer for future developers how to create and use more modes.

[2022-05-22 03:14] #1453 closed, assigned to emiliolevinspage, aliu65803, nmkhan100

[2022-05-22 03:45] emiliolevinspage commented on #1445
After some tweaks and added details, the design document is finished and the demo is ready to be implemented, inspired by the structure of past examples and using the design doc which details the moves and items that will be used as well as the structure of the turn that will show off the new turn component infrastructure. I am closing the issue because the document is complete and the work moving

[2022-05-22 03:45] #1445 closed, assigned to nicholaswlee, emiliolevinspage, aliu65803

[2022-05-22 03:56] KabirDubey commented on #1066
Created 1066-prefabs-skills branch. Worked with Arya to implement classes and tests for druid, elementalist, knight, and sorceror classes.

Ran into a seg fault along the way. Future teams should take care to put commas in the initialization of the `DEFAULT_CLASS_NAMES` array in lines 20-31 of `class_prefabs.c`.

31 out of 31 tests pass.

All that remains is to update the wiki page.

[2022-05-22 03:56] imadejski commented on #1500
https://github.com/uchicago-cs/chiventure/wiki/Graphics-~-GDL
Wiki is updated with more specifics of the statistics section of the GDL file as well as the addition of a camera width and height section. The sample is updated accordingly.

[2022-05-22 03:56] #1500 closed, assigned to imadejski, csraffaga

[2022-05-22 04:25] KabirDubey commented on #1066
[Wiki page has been updated](https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Example-Stats-and-Abilities).

[2022-05-22 04:27] KabirDubey commented on #1066
Merged 1066-prefabs-skills with dev.

[2022-05-22 05:00] bzeng6 commented on #1298
I fixed the code based on PR comments:

I made the fight_operation function assert that the npc_battle struct in the npc is not NULL before the function returns.

I fixed a typo in the header file.

[2022-05-22 14:29] RamarkoB opened #1524 "Research Previous Implementation of Lua in WDL"
As of right now, all custom scripts are run at initialization. Our goal as custom-scripts to make actions more dynamic, and so we want the custom scripts to instead be called when the function itself is called. To deal with this, we want to store custom scripts within WDL, so that the custom scripts will only be callled at runtime

[2022-05-22 14:31] RamarkoB commented on #1524
There are past examples of Loading Lua into the WDL, for which we can find documentation [here](https://github.com/uchicago-cs/chiventure/wiki/WDL-~-Lua-Scripting-and-WDL) and [here](https://github.com/uchicago-cs/chiventure/wiki/WDL-~-Current-Integration-in-Chiventure)

[2022-05-22 14:32] RamarkoB commented on #1524
As of right now, I am attempting to create a demo by storing a custom action into the WDL, but I'm struggling with compiling the game while including "load_game.c"

[2022-05-22 16:49] #1278 closed, assigned to nbilaver, arya32hub, anchristensen

[2022-05-22 17:19] katie-gao commented on #1490
I have finished the Lord and Healer implementations, alongside fixing some of the strings to match the 80 character mark. For now, we have finished a good baseline for these new npc's. I also think we can fix up the wiki documentation to correspond with these new classes, if these changes get approved. I fixed up the code so that there is only now one failing test, but not sure where the error is.

[2022-05-22 18:07] williamhu314 commented on #1471
I have added a new helper in autogenerate.c related to room_exists_in_direction called find_room_in_direction. This function will actually output the pointer to the adjacent room in the given direction rather than just returning true of false like room_exists_in_direction

[2022-05-22 18:38] cyruszzhou opened #1525 "GUI: writing new/init/free functions and testing for npc_graphics"
We are now trying to write new/init/free functions for the npc_graphics module and will test them. This is done to benefit future development and for the whole module to be able to be pulled into the dev branch. This would also make eyeball testing on the module much more convenient.

[2022-05-22 18:41] williamhu314 opened #1526 "Update functions to account for tag in room struct"
We have included a new tag field in the room struct so that we can figure out what the roomspec of a given room is which is important for our autogeneration functions. However, most of our functions currently do not support the tag field as in they do not correctly assign the correct integer to the tag field when a new room is generated. In this issue, we aim to update our functions to account for

[2022-05-22 18:55] williamhu314 commented on #1471
I have finished implementing the path_autogenerate function. Thus, we have successfully implemented all necessary helper functions required for our game autogeneration functions.

We still need to update the functions to account for tags and will do that in #1526. We will make tests for our functions to catch and fix any bugs in #1473.

[2022-05-22 18:56] williamhu314 commented on #1471
I have finished implementing the path_autogenerate function. Thus, we have successfully implemented all necessary helper functions required for our game autogeneration functions.

We still need to update the functions to account for tags and will do that in #1526. We will make tests for our functions to catch and fix any bugs in #1473.

[2022-05-22 18:56] #1471 closed, assigned to jsssengonzi, rohandeme, williamhu314

[2022-05-22 19:05] williamhu314 commented on #1473
We have finished #1473 and implemented a few additional functions that will require tests. The full list of functions needing tests is now as follows:

**In game_autogenerate.c**
1. random_first_room (Creates a random first room for the game)
2. The random_room_from_game (returns a random room within the game)
3. autogenerate_room_in_game (picks random room in a game and generates a room in a rand

[2022-05-22 19:20] williamhu314 commented on #1413
The helpers are now completed. The plan is to first make the first room of the game as follows:

1. If the char* is not "pickrandomly", the function will look up the roomspec with the given name using a for loop, make the first room with roomspec_to_room and room_generate, and set the first room to have that roomspec. If the name of the roomspec is not a roomspec in the specgraph, the function wil

[2022-05-22 19:47] KabirDubey commented on #1510
Meeting outcomes:
1. Make a `display_skills()` function in the `skilltree` file that iterates through the skilltree and returns a string containing the prerequisite level and any other appropriate info about skills.
2. Send that to action management to integrate. Action management will handle testing.

[2022-05-22 20:16] elizabethli31 commented on #1349
Properly merged with the add_status_enum branch and included samples module which is used to create samples for testing. In this issue, we changed the quests feature from having two modules (structs and functions) to six modules (prereq, task, quest, quests_hash, quests_state, and samples) which are each elements of the quest feature and hold both structs and functions. We also changed the cmake f

[2022-05-22 20:23] nicholaswlee opened #1528 "Create a design document for tests for run_battle"
For this issue, we will create a design document in the Wiki that will lay out tests for the new functions that were implemented for the new run-battle function. Each module will have the new functions laid out, as well as a brief description of what needs to be tested. A few features we will need to test is whether CLI works properly, printing is correct, correct items and moves were selected, an

[2022-05-22 20:57] nicholaswlee commented on #1356
Fatimah and I are meeting to create the design document. We are looking through each file to see what tests need to be made.

[2022-05-22 21:25] Castel-Jaloux commented on #1426
We have wrote all the WDL parsing functions to load quests and sub-elements of quests, as well as some basic type-checking validation functions. However, we still need to provide more thorough testing to make sure these functions work as intended. To do this, we will need to write a script to input WDL files into these functions, have the functions parse and interpret them, and print information t

[2022-05-22 21:36] corian-jal commented on #1356
Nicholas and I have created the design document [here](https://github.com/uchicago-cs/chiventure/wiki/Battle-~-Test-~-Moves-~-Items-~-Equipment-~-Design-Document) listing all of the tests that need to be created or updated in each module. The next step is to actually implement these test updates, which we can begin immediately.

[2022-05-22 21:36] #1356 closed, assigned to nicholaswlee, corian-jal

[2022-05-22 21:39] corian-jal opened #1529 "Implement and Update Battle Tests for Stat, Move, Item, and Equipment Changes"
We will update existing and create new battle tests to accommodate all of our changes and additions over the course of the quarter, to culminate in a pull request.

Members: Nicholas, Fatimah, Nafis

[2022-05-22 21:55] katyashchukina commented on #1336
The command Brianna is talking about is name_operation which looks like this:

char *name_operation(char *tokens[TOKEN_LIST_SIZE], chiventure_ctx_t *ctx)
{
    case_insensitize(tokens[1]);
    case_insensitize(tokens[2]);
    if(find_entry(tokens[1], (ctx->cli_ctx->table)) == NULL)
    {
        return "New words must be defined using only words that are already defined!";
    }
    if(find_entry(

[2022-05-22 21:58] aliu65803 commented on #1444
We met yesterday to start our implementation of the run_battle function. During this meeting, we restructured our run_turn_component function to only do half of what it did before in order to make sure that our run_battle function is compatible with CLI integration.

[2022-05-22 22:02] jakeziqiwei commented on #1258
We have edited the quest ID in the test functions to not all just have "test" as an identifier in order to cover our basis. and increase coverage. The changes did not affect the result of the test and is pushed/merged along with the Quest_hash test issue/pull request. Ready to be closed!

[2022-05-22 22:02] #1258 closed, assigned to jakeziqiwei, elizabethli31

[2022-05-22 22:04] anchristensen commented on #1460
Update: we decided to add three specific enums to the complex_skill_type_t struct (RANDOM_CHANCE, RANDOM_RANGE, RANDOM_SWITCH) instead of just one RANDOM enum so that we can work within the complex_skill_t struct for all of the effects. We also decided on three new structs, one for each of the random effect types, so that that information can easily be passed into the execution functions. The exec

[2022-05-22 22:07] aliu65803 opened #1530 "Implement battle demo using demo design document."
For this issue, we will implement our demo by following the design outlined in our design document. We will use the previous examples as a template for our demo. We will create one room that has two enemies, meaning that the user can fight one after the other if they so choose. In order to showcase our new battle equipment struct, one enemy will have battle equipment and one will not. We will aim

[2022-05-22 22:52] RamarkoB commented on #1524
Splitting up this task into multiple tasks to simplify keeping track of progress on integration of Lua into the WDL. As of right now, we were able to find previous integration of loading Lua into the WDL, for which we can find documentation [here](https://github.com/uchicago-cs/chiventure/wiki/WDL-~-Lua-Scripting-and-WDL) and [here](https://github.com/uchicago-cs/chiventure/wiki/WDL-~-Current-Inte

[2022-05-22 22:53] #1524 closed, assigned to RamarkoB

[2022-05-22 22:55] jakeziqiwei commented on #1430
We have finished writing the functions. Throughout our conversation with the other team members, we realized that we only really needed the task_tree_free function since there were some design choices made to not free certain things. So that's the only function we ended up writing. We also found some errors with the some of the other tree functions, which we needed up fixing. We created a pull req

[2022-05-23 00:13] cyruszzhou opened #1532 "GUI: writing tests for map_graphics"
The structs and new/init/free functions for the map_graphics module have been written. I am now trying to write tests for these functions. This would not only benefit future development by formalizing the whole process, but also yield an advantage when it comes to testing the run_map_graphics function. This is also necessary for the whole module to be pullrequested.

[2022-05-23 01:23] cyruszzhou commented on #1532
I have written tests for the funcrtions and I debugged the functions based on the testing results. Now they all seem to pass! I believe they are in a good shape to be pull requested. We are still waiting for gdl module for these functions to be truly completed. But as for now we can first pull request this in.

[2022-05-23 01:25] cyruszzhou commented on #1532
This issue has been closed. We are waiting for the pull request to make further progress.

[2022-05-23 01:25] #1532 closed, assigned to cyruszzhou

[2022-05-23 01:44] jhsivadas commented on #1416
Created a google doc to contain notes related to document:
https://docs.google.com/document/d/1k_kR5jrWG6eBNiL2DsK6aHszXp8vQHAxpD2Gi8yopvc/edit?usp=sharing

[2022-05-23 01:44] nmkhan100 opened #1533 "Creating battle_test_utility.h/.c file for functions that can be used in all battle and NPC test files"
There are a number of functions included in all of the battle and NPC test files that are used in all of the tests. Rather than having to copy and paste these functions into each battle test file in order to use them, it would be helpful for there to be a single file with all of these functions that we can simply import into our test files. It would also help to rename a few functions, remove dupl

[2022-05-23 01:46] jackjackkimkim opened #1535 "Document the use of conditionals field for actions in prior action-management demo (spring 2020)"
Description: Upon looking through previous demos for any implementations of conditionals for actions, we came across 2020 action-management team's demo which tried to hard code a conditional attribute to actions. We were particularly interested in their add_inventory_conditions function which required an item in the inventory before performing an action. This will be particularly useful if it can

[2022-05-23 01:57] junasano commented on #1339
Finished changing the functions that were mentioned in the previous comments and the tests all pass.
A PR was submitted and once approved, this issue will be closed automatically.

[2022-05-23 02:24] jhsivadas commented on #1416
Pushed a draft demo file to the dsl/demo-file branch. Contains a new dsl demo that follows the storyline from the last years demo file. Adds a player class (student) and two npcs (Jack and Borja).

[2022-05-23 03:19] jhsivadas commented on #1412
Created a google doc for code outline and brainstorm:
https://docs.google.com/document/d/1QGo6oYAvGDH9XW1Vgf_8ycJ7HYuCH6-9_mZI12FWqWI/edit?usp=sharing

[2022-05-23 03:36] cyruszzhou opened #1540 "GUI: writing new/init/free and tests for input_box_graphics"
We have already written a top-level struct for input_box_graphics. To pull request the input_box_graphics we need to write new init and free functions for this struct. We also need to test that these functions work correctly. Proper documentation would also be required for this to be a part of the holistic program. It is also important for us to follow the standard of the whole program in implemen

[2022-05-23 03:38] baigh1 commented on #1418
Created a preliminary document for brainstorming/organization: https://docs.google.com/document/d/1_RoKQjGd1FpDaKnpMvBDOJwe5BrgAvSMt9eikE6HX2w/edit?usp=sharing

[2022-05-23 03:44] cyruszzhou commented on #1540
I have successfully written new/init/free functions for this module. I have also written tests for them and they all passed. What is noteworthy (for future reference) is that the color struct in raylib has fields following the order of r,g,b,a, and to test them we need to cr_assert_eq for each field.

[2022-05-23 03:45] cyruszzhou commented on #1540
This issue is currently closed, and we look forward to the pull request.

[2022-05-23 03:45] #1540 closed, assigned to cyruszzhou

[2022-05-23 04:05] baigh1 commented on #1252
Changed base_stats in dsl parser to reflect similar style. ("base stats" instead of "base_stats"). Additionally, the DSL grammar for player class was split off into a second issue.

[2022-05-23 04:46] lukasg8 commented on #1526
After working on this issue, we realized that it would be beneficial to add a matching tag element to the roomspec_t struct. Otherwise, functions such as roomspec_to_room would be very dependent on having a specgraph struct which would make it difficult.

Ideally the input to roomspec_to_room would only be a roomspec rather than an entire specgraph since this would give developer more flexibility.

[2022-05-23 05:48] bvvill opened #1542 "Making sure Header Files are Properly Defined and Terminated"
Recently, I've realized that my habit of deleting any empty lines at the end of a file could cause problems with many historical Unix utilities. So, I've decided to take it upon myself to go through every header file in chiventure has a newline at the EOF and is properly defined with `#ifndef ... #define ... #endif`

[2022-05-23 07:54] bzeng6 commented on #1328
I've created a Makefile for the parser-bison sandbox.

I've defined a linked list of strings struct call word_ll ([thanks](https://github.com/jacknugent1529/bison-example/tree/word_parser) Jack 🥹) that contains each of the tokens in the input.

I've created a parser-bison.c file and a parser-bison.h file, in it with functions that are called when a certain token is inputted, as specified in the pa

[2022-05-23 08:12] bzeng6 commented on #1328
I've also included CREDITS as a new token that is recognized as the string "credits", and I'm trying to figure out how to get the parser to call a function handle_credits_cmd in parser-bison.c that will call the credits_operation function in operations.c.

Currently I'm having trouble with including header files from different directories.
When I write #include "cli/operations.h", which is what ot

[2022-05-23 08:39] bzeng6 commented on #1328
I've fixed the header file issues by including more -I paths in the Makefile.

I've fixed some issues with type mismatch in the y file.

I've also defined a function, ripped from cli/test_game.c file in tests, that creates a sample chiventure_ctx_t struct to use in the call to credits_operations.c.

However, when I make, I get issues where it says certain functions are "undefined reference", even

[2022-05-23 10:46] bzeng6 commented on #1328
The undefined reference issue is fixable by also compiling the c file which the function is defined in the make.

But then if you run the executable and you type "credits", you get a seg fault on the call to parse()

<img width="669" alt="Screen Shot 2022-05-23 at 5 49 16 AM" src="https://user-images.githubusercontent.com/96360414/169803499-1ba97d91-6b27-4722-941a-733bedfa87dd.png">

<img width="4

[2022-05-23 10:54] bzeng6 commented on #1328
So now I've just made it so inputting "credits" functions exactly as credits_operation does, but now I'm not sure how to proceed. Should the next step be to call operations_c functions straight from the sandbox, or to make the sandbox functions create arrays of tokens?

[2022-05-23 10:55] bzeng6 commented on #1328
Oh, also I added parser-bison.c to the CMakeFiles.txt file in sandbox directory in build.

[2022-05-23 11:49] bzeng6 commented on #1328
I created a function handle_cmd that takes any phrase words_ll and tokenizes it into an array of strings (like parse in parser.c). The screenshot demonstrates that it puts every word from input into the array, as it prints out the items in the array as they are initialized. I'm a bit confused why it's able to take more than 4 strings, though.

<img width="416" alt="Screen Shot 2022-05-23 at 6 54 0

[2022-05-23 12:23] bzeng6 commented on #1328
I updated the code to make sure it only stores up to TOKEN_LIST_SIZE number of strings, and if the input has more than TOKEN_LIST_SIZE number of strings, it returns NULL (like current grammar). We can see if we can make TOKEN_LIST_SIZE a larger number, maybe like 15?

[2022-05-23 13:59] bzeng6 commented on #1336
Using bison this would be straightforward—just match the two synonyms to the same token

[2022-05-23 14:07] cyruszzhou commented on #1525
We have finished writing new/init/free functions and we are waiting for tests to be finished. NPC_graphics structs are relatively complicated so this may take a little bit more time.

[2022-05-23 14:26] RamarkoB opened #1543 "Document the integration process for LUA and WDL into demo"
Building off of Issue #1524. There is previous documentation of Lua and WDL, but the Custom-Scripts team want to know how to store Lua information and use it using WDL. This issue will be marked closed when we have a working demo that uses Lua and WDL in conjunction, or we have an example that we can then integrate into a demo.

[2022-05-23 14:41] lukasg8 commented on #1526
Currently, the function roomspec_autogenerate iterates through specgraph until it finds the corresponding roomspec to identify the 'tag' (the position of the roomspec in the roomspec list in specgraph).

This method seems inefficient, especially since this function will be run every time a roomspec is generated **and.** because the roomspec list gets longer in specgraph, the function time increase

[2022-05-23 14:45] lukasg8 opened #1544 "update functions for tag struct in roomspec struct"
This issue was found while working on issue #1526.

The lack of a tag struct in the roomspec struct means that functions need to iterate through the specgraph every time in order to find the relative position of the roomspec in the list of roomspecs in specgraph. This is critical information for the autogenerate function because it will be used to search up the edges between different roomspecs to

[2022-05-23 14:49] jroven commented on #1402
Jake moved the new versions with fixed bugs of multiclass(), multiclass_shortdesc() and multiclass_longdesc() from class.h and class.c to multiclass.h and multiclass.c. Both Jake and I also implemented tests for multiclass_shortdesc() and multiclass_longdesc() in test_multiclass.c.

[2022-05-23 14:56] katie-gao opened #1545 "Implementing changes for playerclass demo"
As referenced in the previous issue, Van, Jake, and I plan to see what changes are needed to do a two playerclass multiclass demo.  This issue will discuss the current issues we have, and figuring out what the previous year did to successfully demo the warrior class.

[2022-05-23 14:57] katie-gao commented on #1503
After discussing, we decided to demo the multi-class module (Jonathan and Jake have been working on this all quarter), and two classes with the new skills/stats (the rest of us have worked on the prefabs module). That way, we can demonstrate the entire team's work, and the two classes can be encapsulated in a multiclass. We are continuing to be in contact with the skillstree team to see their prog

[2022-05-23 14:57] #1503 closed, assigned to katie-gao, vanolson, wellingtj

[2022-05-23 15:34] #1411 closed, assigned to helenastc, lukasg8

[2022-05-23 15:42] cyruszzhou commented on #1509
Seems like we need a better way to figure out how to incorporate the tweaked version of rayilb

[2022-05-23 15:42] cyruszzhou commented on #1509
I have also pull requested input_box_graphics

[2022-05-23 15:56] lukasg8 opened #1546 "percentage based autogeneration of rooms"
Based on the review of our Static Game Autogeneration Design in #1351 we decided to change the logic of the function roomspec_autogenerate so that it considers the entire list of roomspecs and is fair to the edges for each room without prioritizing the rooms which are located earlier in the list.

The current implementation randomly generates a number from the number of roomspecs in the list which

[2022-05-23 15:56] lukasg8 commented on #1351
After looking reviewing the function roomspec_autogenerate, we decided we need to modify it to implement percentage based generation to fully utilize our adjacency matrix in our specgraph struct.

We will implement functionality which considers the edges in a row all at once using percentages to fairly represent the relationships between the roomspec and the rest of the roomspec list in issue #154

[2022-05-23 16:01] sglenn-uchi commented on #1457
We met over the weekend to discuss demo ideas and divvy up work. We ended the meeting with a plan of which aspects of what NPC modules we'll display and how they'll interact, as well as a plan of how we'll divvy up the work.

[2022-05-23 16:18] calvinytcheong2020 opened #1547 "Reach out to open world team to discuss potential collaboration"
Description: Custom scripts would ideally provide game developers with more versatility, with varying interactions between items and locations (and other aspects of the game state). As a prelude to the full integration of custom scripts into Chiventure (a task which could be taken up by a future team), we decided to reach out to the open world team, since customization could prove useful in an ope

[2022-05-23 16:49] #1319 closed, assigned to jiaoboxuan, JaStarbuck

[2022-05-23 17:09] #786 closed

[2022-05-23 17:29] srydbergcox commented on #1514
The function to change `hostility_level` has been added, it is called `make_npc_hostile()`. It was straightforward, now we can focus on integrating with the dialogue to figure out when this function should be called.

[2022-05-23 18:11] sabinecodes15 commented on #786
Closing statement:

The implementation of `load_conditions()` provides a way for game developers to optionally specify conditions for item actions in a WDL by first verifying that a "conditions" object exists for an action, then iterating through the object to append each condition to the action's conditions list. We also generalized the function in a way that should permit the smooth integration

[2022-05-23 18:11] JaStarbuck commented on #1319
Putting this comment from above here:
Closing statement: sound.c is easier than expected; it's basically initialization, playing sound, and freeing sound_t. Through the process I found out the difference between Mix_Chunk and Mix_Music arrays. The former could play multiple sounds simulataneously (as long as they are loaded, of course), while the latter could play only one sound at at a time (whic

[2022-05-23 18:11] helenastc commented on #1376
The functions and tests were implemented and the pull request for it has been approved and closed.

[2022-05-23 18:11] #1376 closed, assigned to helenastc

[2022-05-23 18:15] wellingtj opened #1550 "Design document for implementing multiclass skills"
Some skills might need more than one class to activate, and so I thought it might be worth coming up with a way to create skills that need multiple classes, called multiclass skills. This issue seeks to come up with a way to address this. Not only that, but multiclassing needs to be addressed in the wiki now that the multiclass module is updated. I plan to address the basic idea of what a multicla

[2022-05-23 18:19] sabinecodes15 commented on #1516
In `test_conditions.c`, we created a new function `conditions_check()` as a helpful generalization of conditions test. In subsequent tests, we can use this function to specify an item and one of its associated actions to check, and `conditions_check()` will verify that the list of conditions provided in the wdl matches the list of conditions allocated to the action when the game is loaded.

Now th

[2022-05-23 18:28] JaStarbuck opened #1551 "sound: fixing sound module warnings"
The sound.c file that was pushed to dev accidentally compiles with warnings. the task is to fix the code in sound.c so the warnings are removed. By removing the warnings while maintaining the structure and integrity of the code, we will be able to write more functions to increase functionality of the sound module while keeping the same coding philosophy used in the sound load/free/play functions.

[2022-05-23 18:49] sabinecodes15 commented on #1516
The above issue was resolved by using `load_obj_store()` in place of `__get_doc_obj()`. With this change, three of the four conditions tests that we wrote are now passing. We're currently still getting the following issue:

"Assertion failed: Action TAKE for item TABLE has no conditions specified in wdl, but action condition list is not NULL"

There _is_ a condition specified in the wdl, so I'm no

[2022-05-23 18:52] wellingtj commented on #1550
The design document is complete. I will upload it to the wiki soon and then close this issue

[2022-05-23 19:10] JaStarbuck commented on #1551
From initial inspection, it looks like everywhere sound->name was passed into one of the Mix... functions it gives an error. sound->name is of type char* (a string) but the functions need type struct Mix_Chunk*. The next step is to find out what is needed instead of the name of the sound to be passed into these functions.

[2022-05-23 19:18] anchristensen commented on #1510
After further conversation with action management we have decided to add two new functions to support their work: 1) the display skilltree function that returns high level info about skills within the skilltree, as @KabirDubey described and 2) a function that takes in a skill and prints its description

[2022-05-23 19:46] cyruszzhou commented on #1509
Previous versions returns 1 and 0 instead of SUCCESS and FAILURE, and some pullrequests involve undesired DSStore. I have now resolved these issues.

[2022-05-23 19:52] JaStarbuck commented on #1437
From slack, brainstorming ideas for what a demo would look like:
We have gotten the demo from their github to work--if all else fails we could show them that and just have the speech say something related to chiventure. Hopefully we can create a function that given some text will say something so we can make a demo game that uses the function and will text to speech what is on the screen during th

[2022-05-23 19:55] elizabethli31 commented on #1350
We wrote two remove quest functions (one that removed one quest from the hash table and another that removed all quests from the hash table). For this issue, we struggled with testing because the previous hash table functions written last year were not properly tested, so we also wrote tests for all of the hash table related functions (add_quest_to_hash and get_quest_from_hash). This issue is link

[2022-05-23 19:55] #1350 closed, assigned to jakeziqiwei, elizabethli31

[2022-05-23 20:00] elizabethli31 commented on #1369
We decided that the mission struct is properly freed because we should not be freeing the items or NPCs related to them (also the mission struct was completed rewritten to no longer include the actual NPC struct). The quest struct does not properly free the task tree which was causing memory leaks. For this issue, we wrote the proper task_tree_free function but the tests were not passing because t

[2022-05-23 20:00] #1369 closed, assigned to jakeziqiwei, elizabethli31

[2022-05-23 20:31] jiaoboxuan opened #1553 "sound & rpg-battles: make a design doc for integrating sound effects into rpg-battles module"
in this issue, the `sound` team (myself) will work with the `rpg-battles` team to integrate sound effects.

Assignees: `sound`: Victor; `rpg-battles`: Emilio and Nafis

[2022-05-23 20:32] jwschroeder21 commented on #1436
Victor reached out to the RPG team, and they requested documentation so that they could use the functions in sound.h/sound.c

[2022-05-23 20:36] majorsylvie opened #1554 "cli: document changes needed to implement `view quests` group of commands"
the quests team wants to implement a group of `view quests` commands.
This task will be do document what team needs to do what because the implementation of a 4th kind of action makes what the quests team wants more complicated to implement, and by meeting and documenting, we avoid having integration issues between the involved teams

[2022-05-23 20:37] majorsylvie commented on #1554
We have scheduled a meeting between reps from each team after our team meeting 5:30pm May 23rd!

[2022-05-23 20:37] JSerf02 commented on #1481
We successfully added quest_ctx, reworked tests, and fixed numerous bugs

[2022-05-23 20:37] #1481 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-05-23 20:40] JSerf02 commented on #1426
We added a comprehensive test and WDL example file for WDL parsing that ensures every possible situation is properly accounted for.

[2022-05-23 20:41] majorsylvie commented on #1554
https://docs.google.com/document/d/1XEtIJlm0A2CyZ-WRf0a7PABN_FjYQ_BLR5ccnZuM8H4/edit?usp=sharing
Here is the shared google document to be used during the meeting for notes!

[2022-05-23 20:41] JSerf02 commented on #1426
After many hours of pain, the WDL parsing tests finally pass! If you ever have to debug WDL, I'd HIGHLY recommend using gdb (and even better, the VSCode gdb GUI).

[2022-05-23 20:42] JSerf02 commented on #1426
WDL parsing functions for quests are implemented and substantially tested

[2022-05-23 20:42] #1426 closed, assigned to Castel-Jaloux, JSerf02

[2022-05-23 20:48] JSerf02 commented on #1501
We added the enum and added the update_task() function

[2022-05-23 20:48] JSerf02 commented on #1501
Fixed more tree management issues so prereq tasks are now properly added to the player

[2022-05-23 20:49] JSerf02 commented on #1501
The quest status enum and update_task() function have successfully been added

[2022-05-23 20:49] #1501 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-05-23 20:57] jiaoboxuan opened #1555 "sound: DEMO"
Everyone is assigned, and this is not deemed as a part of Sprint 4. It's, however, a vital component of our final presentation.

[2022-05-23 21:03] jwschroeder21 commented on #1436
Update: added changes to the read me to specify how other teams can use the sound modules. I mainly discussed the use of mp3 files, wav files, sound_t declaration, and what to do if a lot of sounds are required. Special thanks to Victor for brainstorming with me. Waiting on PR approval before closing the issue.

Also removed Victor as an assignee because he will do the PR review.

[2022-05-23 21:04] tatmaca opened #1557 "Implementing a refactoring of legacy custom-scripts code"
The custom-scripts team decided to refactor the legacy source code, as it was previously all stored in one large, difficult to read source file. After reviewing the code, we decided that we could refactor the source code into four modules: the arguments (arg) module, the object_type (obj) module, the lua module, and the implement into game (get) module.

We decided that the "arg" and "obj" modules

[2022-05-23 21:09] jwschroeder21 commented on #1553
sent in a PR with updated documentation in the README file for RPG-battles team. hopefully their questions are answered there

[2022-05-23 21:09] emilybae1705 commented on #1283
In continuation of Sam's closing statement, my PR for this issue has been approved and merged into dev branch. My PR removed `surrender_level` and `health` from the `npc_battle_t` struct as `surrender_level` has been added to `stat_t` and `health` has been renamed as `hp` in the `stat_t` struct. I also replaced bool `will_fight` in `npc_t` to `hostility_t` so that we can make `npc_battle_t` and `n

[2022-05-23 21:09] #1283 closed, assigned to srydbergcox, emilybae1705

[2022-05-23 21:12] jiaoboxuan commented on #1553
Will work with`rpg-battles` team on Wednesday afternoon.

[2022-05-23 21:14] elizabethli31 opened #1558 "Quests: Write functions that help NPC dialogue determine if the task/quest can be given"
We want to have a conditional NPC dialogue that will only be triggered if the player meets the necessary prereqs for the particular quest/task. Instead of having the NPC modules depend on prereqs, we will only need to pass ids and a qctx struct. After these functions are complete, the NPC modules can call on them to start the dialogue

[2022-05-23 21:15] elizabethli31 commented on #1558
I wrote the functions for that are needed for this (npc_can_give_quest and npc_can_give_task) and just need to write tests for it now

[2022-05-23 21:17] jwschroeder21 commented on #1320
Update: we have submitted a PR and are waiting for approval before the merge!

[2022-05-23 21:22] cyruszzhou opened #1560 "GUI: Preparing for the DEMO"
We have written individual rungraphics functions. For the final presentation of this class, we need to create a demo that chains all modules. To have a good demo we would also like to collect relevant resources (images, texts, maps, scenes, etc.) and correct for concurrency issues.

[2022-05-23 21:40] majorsylvie commented on #1487
The view function has now been fully implemented! So we can start making documentation!
I will be beginning on this by making a wiki page that describes the general process.
Will likely make a branch to test the addition of an independent type of function to follow along with the page

[2022-05-23 21:41] tatmaca opened #1561 "Create a script in the sandbox testing the boolean data type with Lua"
The custom-scripts team has decided that, along with the documentation we've written up this quarter, we wanted to leave a substantial code base through which future teams can clearly see how they can implement Lua with the different data types described in our arg_custom_type module.

This issue is complete when a successful merge request is made which incorporates a Lua function which can accura

[2022-05-23 21:44] ecoble opened #1562 "sound: Tests for Sound Modules"
In this issue we will write tests for the sound modules, particularly the sound.c file and a few functions (load and play).

Assignees: Jake, Rhea, Jason

[2022-05-23 21:48] JaStarbuck commented on #1437
from meeting with Elizabeth: priority is to create a demo in sandbox, if that gets done, then create functions

[2022-05-23 22:00] arya32hub commented on #1391
Define item stat test is crashing.

[2022-05-23 22:01] RamarkoB opened #1563 "Update Documentation and Goals Page on Wiki"
Given that Custom-Scripts is more of an abstract goal for a team, we designed a [Goals Page](https://github.com/uchicago-cs/chiventure/wiki/Custom-Scripts-~-Goal) on the wiki early in the quarter. Moving forward, we should attempt to increase documentation of what we've accomplished and possible goals moving forward for future teams. Alongside this, it would be prudent to update the [documentation

[2022-05-23 22:04] jwschroeder21 commented on #1320
closing statement:

we created an example of sound using sound in chiventure through using the existing Chiventure structs. First, we opened a new issue 'research and create chiventure structs needed for the sound example' to first make the game in which we would integrate the sound. After installing VM and finishing this issue, we incorporated the sound to round out the issue!

NOTE: The pull req

[2022-05-23 22:18] katie-gao commented on #1371
Notes from the meeting:
- skillstree team seems about the same as what they were doing
- function is for complex skills
- each character gets skill id
- effect.c has effects and etc.
so basically we’re going to merge what we have
and they’re going to do druid, elementals, knight, and sorcerer
We’re going to stick with what we did
could do the additional changes

The wiki page is also now updated t

[2022-05-23 22:25] anchristensen commented on #1510
Brief update: both functions have been implemented and some tests have been added. Right now one of the tests is failing, once we figure that test out this issue should be done. We're hoping to get the pull request in within the next day or so.

[2022-05-23 22:40] helenastc opened #1564 "Update Wiki with our final implementation status"
For this issue, we plan to add to the Openworld Source Document Wiki what we have accomplished this quarter. This includes updating the old speclist_t struct to a specgraph_t and writing new autogenerate functions. With this, we hope that the next openworld team can start working on this module right where we left off.

[2022-05-23 22:48] emilybae1705 commented on #1457
We've written up a [Wikipage](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-NPC-Demo-Design-Document) for the demo design document. It's still a work in-progress but a rough sketch of what we're thinking right now. We're planning on integrating all NPC subteams (dialogue, action-management, battle-integration, and movement) so our demo showcases how all those NPC features work together.

[2022-05-23 22:57] vanolson commented on #1371
We reached out to the skill-trees team, and I had a zoom meeting with Arya and Kabir to discuss how we wanted to approach our prefab additions. It turned out that we were working on very similar parts of the prefab skill-trees, so we decided to use our additions to the existing TODO'd classes in the module, while the skill trees team would add some new classes and create skill trees for them. We'd

[2022-05-23 22:57] #1371 closed, assigned to katie-gao, vanolson

[2022-05-23 23:06] majorsylvie opened #1565 "cli: implement our end of `view quests`"
follow our end of the implementation as defined in the documentation of `view quests`

[2022-05-23 23:11] majorsylvie commented on #1565
Here's the branch
[code]

[2022-05-23 23:13] wellingtj commented on #1409
this turned out to be fine, there was just a warning from their code that confused me. We can close this

[2022-05-23 23:13] #1409 closed, assigned to nobody

[2022-05-23 23:16] Castel-Jaloux opened #1566 "Quests: Create Functions to work with CLI Output"
Currently, the Quests module and Quest features have no way of being displayed in the actual Chiventure game through CLI. To remedy this issue, we need to work with the CLI and Action Management Teams. After meeting and discussing this issue with their teams, we determined which functions were necessary, and now implementation and testing are the only steps remaining.

[2022-05-23 23:17] katyashchukina commented on #1565
We all had a group meeting with action management and quest teams and came up with this document with specific requirements:
https://docs.google.com/document/d/1XEtIJlm0A2CyZ-WRf0a7PABN_FjYQ_BLR5ccnZuM8H4/edit

[2022-05-23 23:20] majorsylvie commented on #1565
Actually, since the PR for view stats has not come in yet, instead use the
[code]

[2022-05-23 23:23] Castel-Jaloux opened #1567 "Quests: Design Demo Game"
We need to create a demo game involving the quests module to display the functionality we have added to the quest module over the past quarter. Before we can make this game, however, we must design it. We need to create a common quest "theme" or "storyline" to improve the presentation's overall authenticity and audience engagement. Additionally, we need to plan how the different tasks and quests i

[2022-05-23 23:31] aliu65803 commented on #1444
We are done implementing run_battle_mode and adding a way to switch into battle mode. We are waiting for CLI to finish their battle_operation function before moving on.

[2022-05-23 23:32] aliu65803 commented on #1530
We are done creating the items, equipment, and moves for the demo.

[2022-05-23 23:34] wellingtj commented on #1305
This has been included in issue #1490 and is therefore not needed anymore

[2022-05-23 23:34] #1305 closed, assigned to wellingtj

[2022-05-23 23:40] wellingtj opened #1568 "Modify skill_node struct to include class prerequisites"
Lets say someone was a warrior and a wizard. They can use fire and swords. Maybe they could light their sword on fire. Going along this intuition, it would therefore be cool to provide an implementation for skills that require more than one class. I therefore think it would be beneficial to include a field in the skill node struct for the required classes to use a skill, as well as the number of s

[2022-05-23 23:41] baigh1 commented on #1412
We created two files, one for example graphs (example_graphs.py) and one for the actual algorithm implementation (graph_validator.py). The first one contains 7 graphs, each one showcasing a different type of graph that would not be considered valid as a dialogue graph. We also had one graph that had no issues as our "normal" case.

Graphs we created for each specific test case:
SELFLOOP INFINITECI

[2022-05-23 23:45] majorsylvie commented on #1554
We met with AM and Quests and made this google doc:
https://docs.google.com/document/d/1XEtIJlm0A2CyZ-WRf0a7PABN_FjYQ_BLR5ccnZuM8H4/edit?usp=sharing
We all specified what each team needs to do, on our end we need to:
* update the call to `do_self_action` to take in a target array of strings instead of an individual string
* pass in the tokenized string array (minus the first term) into `do_self_ac

[2022-05-23 23:45] katyashchukina commented on #1565
We made the changes outlined in the document, which are:

- Sanitize the token list to be 3 entries (removing the action word)
- Remove the check for only 2 words

Currently it shows a warning because the quest team haven't changed do_self_action on their side (because one of the types has changed from a string to a list of strings as per their request), but we are closing this issue because we ha

[2022-05-23 23:47] katyashchukina commented on #1565
Reopened issue because we forgot to pull request!

[2022-05-23 23:48] majorsylvie commented on #1554
Documentation is complete! All the teams know what they need to do, and we will now be implementing!

Faruk organized the meeting
Faruk, Brianna, and Kate all spoke at the meeting to clarify what needs to be done by each group

There should not be any more documentation to do on our end, closing

[2022-05-23 23:48] #1554 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-23 23:48] katyashchukina commented on #1565
We made the changes outlined in the document. Currently it shows a warning because the quest team haven't changed do_self_action on their side (because one of the types has changed from a string to a list of strings as per their request), but we are closing this issue because we have made all the changes they requested

[2022-05-23 23:58] ukanyanwu commented on #1296
The map_graphics struct has its new/init/free functions implemented, along with tests that assert that they work correctly. In a separate main.c file, the function to run map_graphics is also implemented. Something important is that the map_graphics use coordinates of the player to help develop the map, but there is currently no implemented function to pull said coordinates and. have them updating

[2022-05-23 23:58] #1296 closed, assigned to cyruszzhou, csraffaga, ukanyanwu

[2022-05-24 00:09] nicholaswlee opened #1569 "Bring calculate crit out of battle_ai.c and instead have it be calculated in battle_flow to have crits be communicated to the user better."
The goal of this PR is to change our code to calculate critical damage in battle_flow.c. When creating the demo, we found that our print statements do not differentiate if our damage if calculated with or without a crit. We will also make it so that a different message will print if critical damage is successful. This will primarily change three functions, battle_flow_move, enemy_make_move, and pr

[2022-05-24 00:12] nicholaswlee commented on #1569
We are meeting and changing this now. Emilio and I have talked about how this will need to change to fully show how critical damage is working in a battle. I am handling the coding and Emilio is handling the compilation errors and testing.

[2022-05-24 00:22] bzeng6 commented on #1487
I just wrote up directions on how to get chiventure to recognize a desired action and call a new operation function, in the cases that the operation does not fit into any of the four action kinds. I explained how how you have to call `add_entry` to associate the action and operation together and add it into a hash table of commands, explaining what the different arguments in the function call are.

[2022-05-24 00:27] nicholaswlee commented on #1569
The code itself has been implemented. Emilio will be doing the rest.

[2022-05-24 00:40] katyashchukina commented on #413
Currently this is happening in src/ui/src/window.c where printing to the given window is defined as: win->print(ctx, win, retval);

So to do this issue I think the first thing to do is to change win to a list of space separated wins

[2022-05-24 00:41] katyashchukina commented on #413
I have made line_wrapping branch which can be accessed by:
git checkout line_wrapping

[2022-05-24 00:42] nicholaswlee commented on #1569
We have deleted the tests in battle_ai.c as crit is no longer calculated in damage.

[2022-05-24 00:47] imadejski opened #1572 "GUI: Create Wiki page for graphics sandbox"
Create Wiki page to update future chiventure graphics workers on the modules in the sandbox and next steps we would like to take. This includes a review and explanation of each module.

[2022-05-24 01:22] wellingtj commented on #1550
the wiki has been updated accordingly and the design document is completed. See the Multiclass: Design section of the wiki to get a bit more of an idea for functionality. See issue #1568 for implementation of this issue. Here is the link to the page : https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Multiclassing:-Design. Within here, I wrote a brief summary detailing what a multiclas

[2022-05-24 01:22] #1550 closed, assigned to wellingtj

[2022-05-24 01:39] elizabethli31 commented on #1428
We met with the cli and action management team to figure out exactly what they need from us in order to display the quests. We decided that we want to display all the quests a player has, the task tree affiliated with a particular quest, and the components in a task. We need to write three functions that return what we want printed as a string. Also, provided cli and action management with the fun

[2022-05-24 01:39] #1428 closed, assigned to jakeziqiwei, charlieweiler, elizabethli31

[2022-05-24 01:41] elizabethli31 commented on #1558
Wrote tests for both the functions and everything passes. In this issue, we determined functions that the NPC team will need to use in order to trigger a certain conversation. We wrote these functions, so that the NPC team will not need to use most of our structs besides the higher level ones. Now, NPC team can utilize these tests for their dialogue function. We worked with NPC who have been writi

[2022-05-24 01:42] junasano opened #1573 "Update documentation for npc/actions"
The current documentation was created for an older version of npc actions, therefore, the wiki page documentation needs to be updated accordingly for the next groups.

[2022-05-24 01:51] junasano opened #1574 "Move the npc/action implementations onto the stable branch with agent_t and submit a PR"
Currently, the npc/action functions are on an unstable branch. The first step was to move a new agent struct onto the dev branch. And now that's complete, the next and last step is to move the remaining functions for npc/actions onto that stable branch.

[2022-05-24 01:52] junasano commented on #1574
A new branch was created based off of npc/actions_dev, which is the stable branch with the agent struct. This new branch is called npc/actions_final and this is where the npc/action functions will be implemented.

[2022-05-24 02:16] junasano commented on #1574
In the new branch, a couple of changes were made to some header files and the action functions were moved. It builds successfully and all of the tests pass.
The next step is to make sure the functions are fully accurate and complete while waiting for the previous PR to be updated.

[2022-05-24 02:43] emiliolevinspage commented on #1528
We have outlined the modules and functions to test, as well as where those tests should go.

[2022-05-24 02:44] nbilaver commented on #1568
The changes outlined have been added, only task that could be added is related to the class_prefabs.c file in playerclasses, as it uses skill_node_new, and the usage of it looks like it could actually benefit from the addition of the new fields. Will contact people working on the file about potential changes.

[2022-05-24 03:27] #1335 closed, assigned to KabirDubey, nbilaver, chelseaegbarin

[2022-05-24 03:35] jwschroeder21 commented on #1436
Closing statement: we created documentation for other teams to use in their sound module. the documentation discussed mp3 files, wav files, sound_t declaration, and Mix_Chunk + Mix_Music specification. we will meet with the reg battle team wednesday at 5pm to further discuss this in person, but hopefully the documentation should help!

Current status: Waiting on Elizabeth's approval of the PR, and

[2022-05-24 03:45] jwschroeder21 commented on #1320
I prematurely closed this issue and am waiting until the pull request is merged before closing it!

[2022-05-24 03:52] anchristensen commented on #1510
Closing statement: Pull request #1575 will finalize this issue. The action management team described to us a module of theirs which works with the conditions and effects involved to manipulate a player in chiventure. They designed a fourth kind of action (called VIEW) that makes a player view items/info. They needed two functions from us to effectively be able to display skilltrees: The first, giv

[2022-05-24 04:05] anchristensen commented on #1460
Update: All three execute functions have been written and are compiling. For now, we have decided against a generalized execute function which means the user will have to use the specific execute_random_range or execute_random_switch (etc.). This general function will be left for future implementation--a union might be able to be used, for example, but for now we don't see this as crucial to this

[2022-05-24 04:09] wellingtj commented on #1402
Multiclass_shortdesc is now working perfectly and the code is compiling. I believe there is an error in Jonathan's part of the code so I'm leaving the rest of the debugging to him

[2022-05-24 04:20] jwschroeder21 commented on #1555
We are having a great time with the text to speech feature and would love to incorporate it into our demo. Potentially, we can have classmates come up and write sentences to test text-to-speech implementation.

[2022-05-24 04:28] jwschroeder21 opened #1577 "sound: create documentation for text-to-speech"
In this issue, we will create documentation for the text-to-speech feature in the sandbox module. We will create a README file that explains how to implement and use this feature. Hopefully, when the pull request is merged, other teams will be able to understand this feature and use it in their implementations.

Assignees: Rhea, Victor, Jake

[2022-05-24 04:30] HarrisonD123 commented on #1463
### Closing Statement
We made several changes to our new do_self_actions function to make it easier for the CLI team to call and to make it easier to have our function support many new viewing actions.

- Our do_self_actions function now only contains the parameters `chiventure_ctx_t *c`, `action_type_t *a`,
                   `char* target`, and `char **ret_string`
- The `target` parameter decide

[2022-05-24 04:30] jwschroeder21 commented on #1577
Update: we are all in a Campus North study room playing with the text-to-speech feature. We are putting song lyrics in it and playing "super bass" by Nicki Minaj.

[2022-05-24 04:39] JaStarbuck commented on #1551
I've created a new branch for this issue called sound/warnings

[2022-05-24 04:45] sangerr opened #1579 "sound: research and create a demo with dialogue prior to integrating text to speech"
In this issue, we will be creating a demo of an instance in the game where there will be dialogue between two npc's or a player and an npc. In order to create this demo, we will need to research and develop an understanding of the structs and implementation necessary to have a game dialogue. After we have created a demo with dialogue, we will create a new issue where we can integrate the text to s

[2022-05-24 04:45] HarrisonD123 commented on #1455
We've added error checking into our conditionals in our `do_self_action` function. Upon an invalid action or action target, we now simply assign the return string to our error message, which the CLI team then picks up. We've decided to expand this issue to also include a display option for stat effects as well as just stats. Our function now supports but `"view stats"` and `"view effects"`.

[2022-05-24 04:48] sangerr commented on #1579
To initially research how to create a demo with dialogue, I have been looking at the src/npc/examples/dialogue_example.c file, as that team created a detailed dialogue in the game example. For our demo, we will need to have a more concise dialogue between players, as well as figure out at what nodes we want sound from text to speech.

[2022-05-24 04:52] HarrisonD123 commented on #1455
### Closing Statement
Given that our `do_self_action` function now has an if-else logic chain to test what the user wants to view (based on `strcmp`'s), we now have a way to error check the item that the user wants to view. This means that if the user types `view porta-potty` into the command line, we will be able to return an error message. We also have an error message to check for the action it

[2022-05-24 05:04] jwschroeder21 commented on #1577
Update: linked Rhea's pull request for 'added documentation for the text to speech feature.' Waiting on reviews by Elizabeth and Jason before closing statement.

[2022-05-24 05:20] KabirDubey commented on #1568
I was the chosen one for @nbilaver's mission. I added the new fields to the add_skill function and refactored the calls to add_skill accordingly. I also standardized 80 character lines in some places, but not everywhere. Next steps are for things to be finalized on playerclass' end.

[2022-05-24 05:38] JaStarbuck commented on #1551
After some playing around, there are a few observations I've made:
The load and free functions cannot just return integers. Loading the sounds in the demo produce structs depending on whether they are background sounds or sound effects. These structs are then passed into the play function. So, if we are to make separate load and play functions, we would need the load function to return the struct

[2022-05-24 05:59] sabinecodes15 commented on #1516
The issue was resolved- it turns out there were a few errors in the way I was parsing the WDL fields in the test.
- I needed to ensure that any string comparisons were being done between strings of the same case (e.g. two completely lowercase strings), so I added `case_insensitized_string()` where applicable.
- I had to iterate through the list of actions to find out which one matched what I was l

[2022-05-24 06:32] bzeng6 commented on #1298
Recently there was a [change](https://github.com/uchicago-cs/chiventure/issues/1397) to the npc struct that changed the will_fight bool to a hostility_level bool. I adjusted the reference to this struct item accordingly, to make sure that the npc hostility_level is on HOSTILE mode before changing the game mode to BATTLE.

[2022-05-24 06:45] nmkhan100 commented on #1533
I'm currently looking through all the battle test files for functions that I can put in my battle_test_utility.c file.

[2022-05-24 06:52] JaStarbuck commented on #1551
Instead of conditional returns, I've instead created a union that can contain either a sound effect or music. This will make it easier to be able to distinguish between sound types in later functions. Some playing around with the inputs to the free function was needed to get it to work and the load function now returns the union called sound_type_t.

[2022-05-24 07:04] nmkhan100 commented on #1533
I've added all of the functions from the battle test files to my battle_test_utility.c file.

[2022-05-24 07:07] bzeng6 commented on #1298
Closing statement:

We think this issue is ready to close because now that the build issues are fixed and the operation is added to the lookup_t hash table, the function is fully implemented. It properly checks whether a given npc is in the current room and whether they are hostile (willing to fight) before changing the game mode to BATTLE.

Brianna and Kate primarily dealt with meeting with the B

[2022-05-24 07:10] JaStarbuck commented on #1551
After creating the union and fiddling with the inputs to various functions, I have a version which returns no warnings or errors. I have submitted a merge request to merge the branch sound/warnings to dev.

From the pull request, thought it'd be helpful here too:
As Rhea said, this comment will be about what was changed that helped with the error: Originally, we were passing in the string name of

[2022-05-24 14:05] #1298 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-24 14:29] #1271 closed, assigned to majorsylvie, milesgardner, mrestuccia1

[2022-05-24 14:41] #1340 closed, assigned to nbilaver, arya32hub, anchristensen

[2022-05-24 14:50] srydbergcox opened #1587 "Create the NPC demo based on the design document"
Using the [design document](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-NPC-Demo-Design-Document) that our team made earlier in this sprint, we will create our demo. The goal of this demo is to create one example that showcases the work of all four sub-teams. To do this, we may need to monkey-patch some things, this is something that we will look into. The design document has more details

[2022-05-24 14:52] ukanyanwu commented on #1459
Tests are currently being created for the Inventory Module, however we've discovered that some of our functions are unable to run because they rely on indexing the 2D array that represents the inventory with the x and y positions of an item. However, under item.h, the x and y positions for items are pointers, meaning that they cannot be used to index the array the way we wish to in important funct

[2022-05-24 15:09] dhirpalshah commented on #1459
I have contacted @KendrickXie from team action management to changed these fields, so the pull request for their part should be in ASAP.

[2022-05-24 15:17] KendrickXie opened #1588 "Changing inventory position elements in item_t struct from pointers to unsigned int"
The position elements in the item_t struct were originally for holding the coordinates of an item within an inventory, but the graphics team no longer requires these elements so we are removing them.

[2022-05-24 15:21] jhsivadas commented on #1412
Updated with 10 tests checking different valid test cases as well, as well as invalid paths in a valid graph depending on starting node. 10/10 test cases have passed.

[2022-05-24 16:54] jwschroeder21 commented on #1551
Update: Linked pull request #1583 to this issue, merging on the development front.

[2022-05-24 17:14] nicholaswlee commented on #1530
Last night, we met up and decided to try to remake the examples from last year to include our new stuff. Currently two of the run: battle_command_example and battle_flow_example. In order to finish the CLI one, we will have to wait for run_battle to be implemented.

[2022-05-24 18:03] #1448 closed, assigned to nicholaswlee, nmkhan100

[2022-05-24 18:57] KendrickXie commented on #1588
Due to some miscommunication, I initially thought the elements for the positions in item_t should be removed entirely. Instead, the graphics team needs them to be unsigned ints rather than pointers.

[2022-05-24 19:58] dhirpalshah commented on #1588
We do not want there to be a pointer to an unsigned int because we want the value to be directly stored within the item struct itself, so that we can access it for inventory display purposes.

[2022-05-24 20:03] milesgardner commented on #1452
The implementation of `remove_fillers()` has been merged into `dev`.  Matteo and I have written adequate testing, and plan on additionally adding documentation for further groups on how the general parsing structure operates. I worked on implementation, and Matteo worked on the testing.

[2022-05-24 20:03] #1452 closed, assigned to majorsylvie, milesgardner, mrestuccia1

[2022-05-24 20:07] milesgardner commented on #1497
As a team, we've identified various aspects of the `parser.c` , `cmd.c`, and the `operations.c` which need more rigorous testing.  We are currently writing tests for the basic tokenization, quote tokenization, the removal of filler words, and the functionality of multiple commands, in various contexts and edge cases.

[2022-05-24 20:33] philipchenaux commented on #1259
Issue Score: Excellent

Comments:
Great job on this issue! Clear and concise.

[2022-05-24 20:35] philipchenaux commented on #1260
Issue Score: Excellent

Comments:
Great job! Excellent updates -- an exemplary issue.

[2022-05-24 20:38] philipchenaux commented on #1263
Issue Score: Excellent

Comments:
Great job! Just make sure that in the future you don't prematurely close the issue before issuing a closing statement!

[2022-05-24 20:39] philipchenaux commented on #1265
Issue Score: Excellent

Comments:
Great job, and a very thorough wiki! I would advise next time just including a brief summary of what you added to the wiki instead of just saying that the wiki was updated, but this is a very minor detail!

[2022-05-24 20:40] milesgardner commented on #1486
A wiki page for documentation for future CLI teams has been created : https://github.com/uchicago-cs/chiventure/wiki/CLI-~-Future-Documentation

[2022-05-24 20:41] milesgardner commented on #1486
Currently, we only have updates for the parsing module.  Next, we are going to add commentary on our work with Bison, and general information about the existing codebase.

[2022-05-24 20:44] philipchenaux commented on #1266
Issue Score: Excellent

Comments:
Great work! A very thorough set of updates and a clear goal to start with.

[2022-05-24 21:46] nmkhan100 commented on #1448
We have modified the stat_t struct by introducing a new field, the surrender_level field, and we have changed the battle_status enum so it now includes BATTLE_ENEMY_SURRENDER. Because of these changes, we also changed two functions, the battle_flow_move() function which now includes the surrender level, and the print_battle_winner() function which now prints a statement for when an opponent surren

[2022-05-24 21:46] majorsylvie opened #1592 "cli: make WDL file that showcases what we've worked on!"
wdl file should have player info,
places with longer names to be parsed as "[longer name here]"

[2022-05-24 21:48] majorsylvie commented on #1592
made branch
[code]

[2022-05-24 21:50] majorsylvie commented on #1592
added readme file!
as of now contains info on WDL file

[2022-05-24 21:51] HarrisonD123 opened #1593 "Create a Demo for the Action-Management team"
For our Spring 2022 demo, we will want to above all showcase the work we've done in implementing our new 4th action kind and all the functionality we've implemented around it. This will mean we will want to create a monkeypatched demo .c file in our action_management/examples directory and manually assign values to the structs contained in the game struct.

For this demo, we will want to show the

[2022-05-24 22:15] katie-gao opened #1595 "Wiki Documentation to match newly written npc-specific prefabs in Playerclass module"
Vincent, Jonathan, and I recently written npc-specific prefabs (alchemist, lord, healer, fisherman, shopkeeper, and chef) into the class_prefab.c. This is seen at issue #1490. Now, we plan to update the wiki page to display the new npc implementations. Currently, the playerclass wiki pages only have the original classes stats and abilities, and summaries. All of the new npc-specific prefab classes

[2022-05-24 22:24] jroven commented on #1595
Added two classes onto the Player Class ~ Class List wiki page

[2022-05-24 22:39] Don-Osipov commented on #1072
**Closing Statement**

This issue has been completed by removing the bugged function (attribute_new) and updating all the tests that previously used the function to instead use the attribute-type-specific attribute creator functions found in item.c. Implementation was completed by Don Osipov, but Harrison Dong and Kendrick Xie contriuted to the decision-making process and understanding of the code

[2022-05-24 22:43] JaStarbuck commented on #1437
I have approved pull request #1591 which will allow us to integrate text to speech now. #1591 was creating a demo game with dialogue that we can transition into text to speech. This is good news.

[2022-05-24 22:43] awliu2 commented on #1254
More progress is being made (in `dsl/npc-support-modified`). We now support the inventory of items, and we also fixed some bugs (such as NPCs only being able to be defined at the bottom of the DSL file). We've generated an `npc.wdl` file as a proof-of-concept and included it in the `examples/wdl` subdirectory, along with an `npc.dsl` file in the `examples/dsl` subdirectory.

[2022-05-24 22:45] awliu2 commented on #1254
This:
[code]
generates this:
[code]

[2022-05-24 22:57] jwschroeder21 commented on #1577
Closing statement:

In this issue, we created documentation for the text-to-speech feature in the sandbox module. We created a README file that explains how to implement and use this feature, which will help future teams. The pull request has been merged and now we can work on further developing the text to speech feature. Once we formally integrate text to speech, we will create a new issue that

[2022-05-24 23:03] Vincent-Zhang4135 commented on #1024
Katie, Jonathan, and I met synchronously to discuss how to integrate playerclass/item interaction in battle_logic.c. We noted that there is a `combatant_t` type that contains a `class_t` type, which determines the playerclass of a player. We realized that this is the link between how various player classes can have various battle logic interaction.

In battle_logic.c, there is a `consume_battle_it

[2022-05-24 23:14] Vincent-Zhang4135 commented on #1024
We have come to the conclusion that we are going to split `apply_stat_changes()` into two functions, one specializing in items (`apply_item_stat_changes()`) and one in movements (`apply_item_stat_changes()`). We are not touching movements for this issue, but we realized that for changing item effects based on class, we need to pass down the combatant's class and also the full battle_item_t struct

[2022-05-24 23:19] #1551 closed, assigned to jiaoboxuan, jwschroeder21, JaStarbuck

[2022-05-24 23:25] JaStarbuck commented on #1551
Closing statement: The changes made to the sound module have successfully been merged into dev. Adding the union will prove to be very helpful in the future as it will help us and other groups more easily distinguish music and sound effects in game without making the implementation of those overbearingly difficult. We will still need to test these functions in the future and also find a way to pot

[2022-05-24 23:26] JaStarbuck commented on #1464
Now that the fixing sound module warnings issue has been closed and merged into dev, we can seriously begin work on this issue.

[2022-05-24 23:27] JaStarbuck commented on #1464
I have created a new branch called sound/pause_stop that will contain the work for these modules.

[2022-05-24 23:27] katie-gao commented on #1595
Jonathan, Vincent, and I that have previously worked on creating new npc-specific prefabs that are in class_prefab.c. These new classes all have descriptions and stats that are detailed in the code. In this issue, we updated the wiki documentation to include all the new classes (alchemist, lord, healer, fisherman, shopkeeper, and chef) with their descriptive summaries at https://github.com/uchicag

[2022-05-24 23:27] #1595 closed, assigned to Vincent-Zhang4135, jroven, katie-gao

[2022-05-24 23:31] parkerbroz opened #1596 "sound: create a text to speech struct"
Summary:  We intend to implement a struct which can be used to more easily use the TTS functionality earlier unlocked by the espeak library. We plan on creating new tts.h and tts.c files in order to implement all the necessary functions. The tts struct will be included in these files. This struct will prove to help with ease of use and readability in the text to speech module.

comment: Including

[2022-05-24 23:43] katie-gao opened #1597 "Create tests for NPC-specific prefabs inside class_prefab.c"
Jonathan, Vincent, and I wrote friendly npc-specific prefabs inside the playerclass module. All of our code has compiled with the six new classes we created (alchemist, chef, healer, shopkeeper, fisherman, lord). We now plan to write tests specific to these new classes in tests/playerclass/test_class_prefabs.c to ensure that all of the new descriptions and stats are suiting for the current chivent

[2022-05-24 23:45] majorsylvie commented on #1271
Actual closing comment!
Faruk did most of the implementation and testing
Miles helped with both implementation and communicating with other teams about what they needed from `view stats`
Matteo reviewed the code to make sure documentation was okay

[2022-05-24 23:48] #1066 closed

[2022-05-24 23:50] JaStarbuck commented on #1464
Looking through the demo.c code, it is important to know what an event is. I found this website to be useful: https://www.libsdl.org/release/SDL-1.2.15/docs/html/sdlevent.html

[2022-05-24 23:59] JaStarbuck commented on #1464
Also, this website!!!:
https://www.libsdl.org/projects/SDL_mixer/docs/SDL_mixer_52.html
this shows a ton of functions that can increase functionality in the sound module.

[2022-05-25 00:05] philipchenaux commented on #1272
Issue Score: Satisfactory

Comments:
Great job! One thing to work on for future issues would be to add some status updates to this issue between the opening and closing statements. If you make any intermediate progress before finishing the task, then it should be documented on the GitHub issue via a comment. These updates should be substantial and describe your thought process, etc.

[2022-05-25 00:08] philipchenaux commented on #1274
Issue Score: Satisfactory

Comments:
Great work again! Here are a few sources of error with this issue that you can work on for future issues:
1. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this

[2022-05-25 00:09] mxu24 opened #1598 "Reach out to rpg-playerclass team for potential player class use in custom actions"
Building off of action-management's implementation of conditional actions, we would like to consult with the rpg-playerclass team to further understand player class, and how we may involve it in our conditional scripts and actions. As a general opening idea, users may input their player class by pressing a given key associated with the class. Based on that input, they may receive certain scripts o

[2022-05-25 00:10] jroven commented on #1024
We have successfully applied one multiplier on the stat changes; specifically, warriors get twice the physical attack bonus when using the consumable Strength Up. We are in the process of coming up with more combinations and will implement them soon.

[2022-05-25 00:13] aliu65803 commented on #1528
We have created a Wiki document with our modules and functions to test, which can be found [here](https://github.com/uchicago-cs/chiventure/wiki/Battles-~-Run-Battle-Testing-Design-Document).

[2022-05-25 00:14] philipchenaux commented on #1289
Issue Score: Excellent

Comments:
Great work on this issue. One comment I have is that make sure all of your updates are relevant to the issue. The update that was just copied straight from Slack can be interpreted as slightly out of context and can be confusing to interpret.

[2022-05-25 00:19] philipchenaux commented on #1295
Issue Score: Satisfactory

Comments:
Great work! Here are three takeaways from this issue that you can try to implement in future issues:
1. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue

[2022-05-25 00:42] aliu65803 commented on #1528
We are now closing this issue since we have created and fleshed out the intended design document. Now, it will be easy for whoever implements these tests to view all they need to test in one document.

[2022-05-25 00:42] #1528 closed, assigned to emiliolevinspage, aliu65803, nmkhan100

[2022-05-25 00:57] vanolson commented on #1545
Katie and I are evaluating how much of last year's demo can be repurposed, which is located [here](https://github.com/uchicago-cs/chiventure/tree/dev/src/playerclass/examples).

[2022-05-25 01:01] #1349 closed, assigned to jakeziqiwei, charlieweiler, elizabethli31

[2022-05-25 01:13] katie-gao commented on #1597
As there are no skills for these new npc-specific prefab classes, the tests for these were much shorter. We wrote tests geared towards each of the new prefabs in playerclass/test_class_prefabs.c, and it mainly checks if the class can load and that the max health is accurate. I am also thinking about adding to wdl/test_class.c to check on the descriptions of these classes as well.

[2022-05-25 01:16] katie-gao commented on #1545
A lot of last year's demo can be used, but this year we want to focus on the new classes skills plus the revamped multiclass module that our team has worked on all quarter. As we are running last year's demo and understanding the code, we are also going to see where we can better. At first glance, we noticed a few typos with their demo and functions that need to be restructured to match the change

[2022-05-25 01:27] bvvill opened #1599 "Fixing ut_hash_handle Mistake regarding NPCs in Rooms"
One of the bugs I have come across while playing with `battle_move_example_2021` is that NPCs don't seem to respond very well to some move commands, and I was able to trace the issue to discrepancies between the hash_handle being used during some functions dealing with NPCs in rooms. Currently, there are two hash_handles included in the `npc_t` struct, the usual `hh` as well as `hh_room`, which th

[2022-05-25 01:27] #1547 closed, assigned to tatmaca, calvinytcheong2020, mxu24

[2022-05-25 01:30] mxu24 commented on #1547
Discussed potential collaboration ideas through Slack with the open world team, but decided not to proceed due to time limitations for both teams. We may move this issue to the backlog for future years.

[2022-05-25 01:52] jiaoboxuan opened #1600 "sound: Write tests for sound.c functions"
In this issue, we need to write tests for `sound.c` functions, which include `load_wav`, `sound_free`, and `play_sound`. These tests will allow us to make sure that all the functions are working properly, so that we can make a successful demo.

Assignees: Rhea, Victor, Jake

[2022-05-25 01:58] csraffaga commented on #1300
The pull request has been sent and approved. This issue is closed.

[2022-05-25 01:58] #1300 closed, assigned to dhirpalshah, csraffaga, ukanyanwu

[2022-05-25 02:04] ukanyanwu opened #1601 "GUI : Making New/Init/Free for Stats Structs"
Stats_graphics has a set of structs that are used to make up the module. Right now, those structs do not have any new/init/free functions to them, so they will be created to make using these structs more flexible and easier when they're being called and used in other functions in the stats_graphics Module.

[2022-05-25 02:06] ukanyanwu opened #1602 "GUI: Testing New/Init/Free Functions for Stats_Graphics Module"
There are currently new/init/free functions being made for the stats_graphics module in gui. Once they are made, they need to be tested to ensure that they initialize and work correctly so any changes can be made when used in other functions that make up statistics_graphics.

[2022-05-25 02:07] csraffaga commented on #1419
The GDL file is nearly set to go, with modular design complete and necessary new / init / free functions. The main read_gdl function is being refactored and multiple helper functions are being implemented and designed to facilitate ease of reading for future developers.

[2022-05-25 02:12] katie-gao commented on #1545
Jake is making some changes to the multi class section of the print_class function

[2022-05-25 02:14] imadejski commented on #1209
This issue wasn't previously closed, but Cyrus, Urunna, and I planned out how to display npc graphics for the npc graphics module. This was a design process within the npc graphics module.
We decided on creating a struct for the NPC info as well as a hashed/linked list that uses the action name as a key and the path to the image and the frame numbers of that image as the values. The module will pu

[2022-05-25 02:15] mxu24 commented on #1598
Discussed with player class team, and looked through their documentation and current projects/goals. The primary class information that may be useful for us is found in the file class_prefabs.c, which contains class descriptions and stats, which we may also consider using for our conditions. There were originally 6 player classes, currently 10 pushed to the dev branch, and the team is aiming to ha

[2022-05-25 02:15] #1598 closed, assigned to jackjackkimkim, calvinytcheong2020, mxu24

[2022-05-25 02:16] csraffaga commented on #1572
Wiki sidebar enhanced to include sandbox future directions.

[2022-05-25 02:24] wellingtj commented on #1545
Currently making a multiclass skill PR, this will be a key feature of the demo ideally.

[2022-05-25 02:35] csraffaga commented on #1572
Given that this year's graphics team has been deviating sharply from what has been done and accomplished in previous years, it is important to highlight and document for future graphics teams the new direction and course we have set for GUI in Chiventure. Not only are we reorganizing the current graphics code to be more readable and flexible by adding function parameters and changing structures, w

[2022-05-25 02:51] jakeziqiwei commented on #1165
We have added extra tests to add coverage to the above functions, but new functions we have written(in the ctx branch). Closing this issue now since it has already been merged into dev

[2022-05-25 02:56] #1165 closed

[2022-05-25 03:02] RamarkoB opened #1604 "Demo with Conditional WDL File loaded with C"
So far, we have been experimenting with WDL files using command line arguments. Before we move further with integrating Lua and the WDL, we first want to create a C file that is able to load a WDL file with conditional statements. This Issue will be ready to be marked complete when we have a working Chiventure demo that is able to include a WDL file with conditional actions.

[2022-05-25 03:10] elizabethli31 commented on #1294
We forgot to leave a closing comment before, but there weren't many changes made for this issue because we wrote the tests and function in the previous sprint but had to make some small modifications because of the change in quest_id format. We also originally had one function that would either remove all quests or just one but decided to split that into two functions

[2022-05-25 03:27] katie-gao commented on #1545
We have figured out the executable, the make functions, and have a kinda-ish demo for the prefabs.

[2022-05-25 03:44] elizabethli31 commented on #1566
I wrote the function for taking a task and converting all of its elements into a string that can be displayed by action management/display

[2022-05-25 03:48] jackjackkimkim commented on #1604
We implemented the inventory conditional function developed by the action-management team. Their function allowed us to check for the existence of an item in the inventory before performing a certain action on another item. After implementing this change in our own WDL file, we were able to link to directly to our demonstration c file so that the WDL file can be used in conjuncture with Lua script

[2022-05-25 04:54] charlieweiler opened #1606 "Quests: Develop function to print the id and status of every quest in the player’s player_quest hash table"

[2022-05-25 05:07] bvvill commented on #1599
Another thing I've done in this branch is optimize `npc_one_move()` in `room.c`, such that it takes a `strcmp()` of the room_id that occupied an NPC's `npc->movement->track` before and after a call to `move_npc`, so that if an NPC stays in the same room, it will just return `SUCCESS` and not have to unnecessarily go through a couple hash functions.

[2022-05-25 05:12] bvvill commented on #1599
Also, in trying to prevent mysterious seg faults resulting from improperly-initialized hash structs, I've went ahead and explicitly NULL-initialized the `npc_hash_t` member of the `npcs_in_room_t` struct in the `npcs_in_room_init()` function, like so:
[code]

[2022-05-25 05:26] jroven opened #1608 "Fix broken multiclass() function for multi-multiclassing, i.e. calling multiclass() on something that is already a multiclass"
In issue #1402, Jake and I got the multiclass module and tests almost completely working, but there is still a bug somewhere in the `multiclass()` function that results in an infinite loop. We unfortunately did not have time to debug this so we have created a backlog issue for the debugging of this function. The function `multiclass()` should be fixed so calling it on something that is a multiclas

[2022-05-25 05:32] jroven commented on #1402
I finished debugging `multiclass_shortdesc()` and `multiclass_longdesc()` so all the tests are passing. Unfortunately, there is still a bug in `multiclass()` that results in an infinite loop when the function is called on something that is already a multiclass. We don't have time to debug it unfortunately so we removed the tests for this function and have made a new issue on the backlog #1608 for

[2022-05-25 09:23] corian-jal commented on #1529
test_battle_ai.c has been updated and a new test_battle_common.c/.h file was created to house functions and static information I plan to reuse in other tests, but no pushes have successfully compiled due to numerous compilation and unexpected signal errors. Given the time left before the code freeze and the projected number of line changes, Nicholas and I are planning to meet later today and discu

[2022-05-25 10:28] nmkhan100 commented on #1533
I'm looking through all the NPC test files for functions that I can put in my battle_test_utility.c file.

[2022-05-25 10:29] nmkhan100 commented on #1533
I've added all of the functions from the NPC test files to my battle_test_utility.c file.

[2022-05-25 10:36] nmkhan100 commented on #1533
I've removed all of the duplicate functions, renamed a few of the functions since they were too unclear, and both organized and labeled all the functions into groups. I've also added modified/new comments describing each function because they were either badly described or nonexistent.

[2022-05-25 10:42] nmkhan100 commented on #1533
I made sure the header file was included in every battle and NPC test file and that I modified the functions used in the test files (in case I removed duplicate functions that have different names or simply renamed certain functions so they have better names).

[2022-05-25 16:15] #1226 closed, assigned to RamarkoB, tatmaca, jackjackkimkim, calvinytcheong2020, mxu24

[2022-05-25 16:16] tatmaca commented on #1226
This issue has been closed. We have created one new build that runs with Lua script, as well as updated the demonstration from two years ago with increased functionality. Future steps after this goal involve creating more demos with more complex scripts in the hopes of creating a strong final demonstration. This demo can be found in the gold.c file!

[2022-05-25 16:16] #1557 closed, assigned to tatmaca

[2022-05-25 16:18] tatmaca commented on #1557
This issue is now closed. We have implemented the refactoring of the legacy code into four distinct modules (arg, get, obj, and lua). Not only is our code refactored, but we have simplified each of the modules such that our functions are now capable of managing every data type! Next steps from this issue include updating test cases and renaming the functions in our old demonstrations, and then put

[2022-05-25 16:18] #1225 closed, assigned to RamarkoB, tatmaca

[2022-05-25 16:40] tatmaca opened #1610 "Update Legacy Demonstration with Refactored Code"
With the newly refactored code in place, the custom-scripts team has decided to update our team's demonstration from two years ago so that it is usable with our new codebase. This includes renaming our include modules and updating both the name of function calls and inputting the correct parameters.

This issue is completed when we are able to run the demonstration.c such that a game of chiventure

[2022-05-25 16:58] Vincent-Zhang4135 opened #1612 "Create a Battle Item Stats Wiki Document to describe stat multipliers for each playerclass + item combination"
While working on Integrating Player Class/Item Interactions with Battle Logic, we realized that there are a lot of different specifications that need to detailed in regarding how certain battle items could affect **depending** on which playerclass the battle item is being used on. We should expect different multipliers for all the different stats depending on which playerclass-battleitem combinati

[2022-05-25 17:06] Vincent-Zhang4135 commented on #1024
Following Jonathans comment, we have created a separate issue for developing a wiki documentation to detail what each player + battle-item should do to the stats. This is linked on #1612. We will use these specifications to implement further combinations, and so this will include warrior and wizard.

[2022-05-25 17:12] Vincent-Zhang4135 commented on #1612
Jonathan has created a basic template for the warrior class stat effects after using a Strength Up consumable, and I have linked below the Player Class Battle Item Stat wiki that will include these multipliers below, and decided for simplicity, that I will work only with Warrior and Wizard player classes for now to make sure we have a work stats functionality first:

[Battle Item Stats](https://gi

[2022-05-25 18:04] #1430 closed, assigned to jakeziqiwei, elizabethli31

[2022-05-25 18:26] bvvill opened #1614 "Adding and Updating Functions dealing with Items in Rooms and held by NPCs"
There are currently a few bugs involving items within rooms or held by NPCs, one being that duplicate items are allowed to be added to a room's or NPC's `item_hash_t`, which is an error according to UTHash's documentation. There are also a couple of useful functionalities that have yet to be implemented, such as "getting" an item from an NPC's inventory given the `item_id`. There are also a couple

[2022-05-25 18:53] #1588 closed, assigned to dhirpalshah, KendrickXie

[2022-05-25 19:02] #1421 closed, assigned to jhsivadas, awliu2, alexlee0422

[2022-05-25 19:21] #1579 closed, assigned to jiaoboxuan, jwschroeder21, sangerr

[2022-05-25 19:23] wellingtj opened #1615 "make more testing for class nodes on skill trees"
Recently we have implemented a parameter within the skill_node struct that is a list of classes, and another that is the number of classes. These parameters lack sufficient testing, which is needed

[2022-05-25 19:27] #1463 closed, assigned to HarrisonD123, Don-Osipov, KendrickXie

[2022-05-25 19:37] #1569 closed, assigned to nicholaswlee, emiliolevinspage

[2022-05-25 19:49] #1457 closed, assigned to bvvill, sglenn-uchi, emilybae1705

[2022-05-25 19:53] sangerr commented on #1579
Closing Statement: This issue is now closed as we implemented an example game with a conversation between an npc and player, which was merged into dev, and now are ready to work on the issue of integrating the text to speech into the example. While working on this, Victor and Jake spent time researching the existing npc structs and examples, and developed an understanding of how to orchestrate a d

[2022-05-25 19:55] #1475 closed, assigned to bvvill

[2022-05-25 20:01] JSerf02 commented on #1566
Researched a non-binary multitree printing algorithm, but it seems that this data structure is so complex that whenever people use it, they typically install a graphics library to display its contents. This seems like overkill for the time being, especially considering the graphics team is working on a function for this exact purpose (though it will likely not be ready in time for the final presen

[2022-05-25 20:05] JSerf02 commented on #1566
Added functions to display the task trees! The display works by first figuring out the dimensions of the rectangular area of text where the tree will be created. Then, it creates 2 matrices to show where the tasks will go on the screen and which areas of the tree are connected. Then, the task matrix is iterated through to produce arrays of 3 strings called "blocks" that store the important info ab

[2022-05-25 20:05] JSerf02 commented on #1566
Debugged the task tree display function to fix memory leaks

[2022-05-25 20:23] mxu24 commented on #1561
Due to issues with building the sandbox, we've decided to move the files (dark_room.c, dark_room.h, and flip.lua) over to examples. While initially aiming to have two separate actions (LIGHT and UNLIGHT) to act on item torch, we realized there would be much more difficulty in using conditionals and booleans with lua, so we decided to change paths slightly to make the test case more clear and strai

[2022-05-25 20:35] ukanyanwu opened #1618 "GUI : Creating New/Init/Free Functions for Slot Struct"
To make up the "items" of the inventory_graphics player_inventory struct, there is a 2D array of slot_t structs. These slots contain a status, either FULL or EMPTY,  and an item, either pointing to NULL or pointing to a heap allocated item_t struct. These will then help make the 2D array for player_inventory_t. Right now, they need their own new/init/free functions to create and free their structs

[2022-05-25 20:49] aliu65803 commented on #1444
We have finished our integration with CLI, meaning we are now done implementing the run battle function. Our code compiles and passes all tests. Due to this, we are now done with this issue. We are creating a PR, which will be reviewed by Lily and Fatimah, and will close the issue once our code gets merged to dev.

[2022-05-25 20:55] vanolson opened #1620 "Create documentation for player class demo"
Most of the documentation for the player class demo is currently in the comments. A lot of it still holds true, since we're demoing similar items as last year and can therefore reuse a number of the functions from last year. We will create a wiki page documenting the demo, including details both on how to use it and how it works. We will need to document both the multiclass demo and prefab class d

[2022-05-25 20:57] rohandeme commented on #1511
By the end of this issue, we intend to add tests for 1x1, 2x2, 3x3, and 4x4 matrices. Will add more updates when we come across edges cases that may be important to test as well.

[2022-05-25 20:58] bvvill commented on #1587
I've created the `npc/demo-2022` branch for us, and I'll create another branch for myself stemming from that one

[2022-05-25 21:07] bvvill commented on #1614
As I said I would do in my opening comment, I've implemented `item_t *get_item_from_npc(npc_t *npc, char *item_id)` in npc.h/.c, which returns an item in an NPC's inventory given the `item_id`, if it exists.

[2022-05-25 21:08] jiaoboxuan opened #1622 "sound: Add initializing functions for sound type declaration"
This issue is created because we found that there are no initialization functions of any kind for `sound_t` module, which comes to be a huge hassle while writing for tests, because the same lines of code will have to be repeated (specifically, `malloc` of `sound_t` and assigning values and pointers within `sound_t`.

[2022-05-25 21:16] bvvill commented on #1614
I've also implemented `delete_all_items_from_npc` and `free_all_items_from_npc`, which delete and (delete, but also) free the given NPC's inventory, respectively. The difference in the use of these functions is that solely deleting an NPC's inventory doesn't free the items that were in it, so that the items can still be used in other places or conveniently added to other hash tables, as is done in

[2022-05-25 21:22] bvvill commented on #1614
in `game.c` and `item.c`, I've also went ahead and explicitly initialized every hash table member of the `game_t` and `item_t` structs to be `NULL` when either of those two structs is created. Doing so is incredibly important for ut_hash table maintenance and stability, and can lead to mysterious seg faults if not done properly. The new lines added to `game_new()` are:
[code]
And the new lines in

[2022-05-25 21:30] HarrisonD123 opened #1624 "Implement a new action "view inventory""
Our goal here is to allow the user to view the names of the items in their inventory. This way, when the player takes an item (i.e. table), they can view this new item in their inventory.

In order to implement this, we would have to create a display inventory function in the game-state/player module that we can call from the action_management/actionmanagement module. We would have to modify the l

[2022-05-25 21:31] bvvill commented on #1614
in `add_item_to_npc()` (in npc.h/.c), I've also explicitly implemented the function instead of using `add_item_to_hash()`, since it assumes the hash handle to be hh and doesn't check that the input parameters aren't NULL.

[2022-05-25 21:32] HarrisonD123 opened #1625 "Implement a new action "view skills" along with the skilltrees team"
Our goal here is to allow the user to view the names of the skills in their skilltree.

In order to implement this, the skilltrees team would have to create a display skilltree function in the game-state/player module that we can call from the action_management/actionmanagement module. We would have to modify the logic within the if-statement of our do_self_action function to accommodate this and

[2022-05-25 21:34] bvvill commented on #1614
in `game-state/test_rooms.c` and `npc/test_npc.c`, I've updated the tests regarding adding duplicate items to rooms and NPCs, such that the functions now appropriately return `FAILURE` if a duplicate item is attempted to be added

[2022-05-25 21:43] KabirDubey opened #1627 "integrating reader effect execution with conditional skill execution"
In the `complex skills.c` file, conditional skills depend on the implementation of the reader effect (see lines 101). Now that reader effects have been implemented (see #1340 and #1279), we will implement the reader effect functionality and test conditional skills accordingly.

[2022-05-25 22:09] HarrisonD123 opened #1628 "Implement a new action "view quests" along with the quests team"
Our goal here is to allow the user to view the names of the quests.

In order to implement this, the quests team would have to create a display quests function in the `game-state/player` module that we can call from the `action_management/actionmanagement` module. We would have to modify the logic within the if-statement of our `do_self_action` function to accommodate this and to call this display

[2022-05-25 22:21] HarrisonD123 commented on #1628
Talked with the CLI team and the quests team. We will need to change the `string *target` parameter of our do_self_action function to accommodate a third parameter (the quest-id string). If the input passed from the CLI team contains 2 elements (i.e. "quests" and "[quest-id]", then we will call the quests team's show_task_tree with the quest list and quest-id as inputs. Each quest has a task tree.

[2022-05-25 22:22] HarrisonD123 commented on #1625
After talking with the skilltrees team, we decided to have them make 2 functions, one to display a list of all skills and one to display the description of a specific skill. We will call the correct function based on the number of inputs our `do_self_action` function is given.

[2022-05-25 22:31] jbrouwer5 commented on #1625
We implemented two new functionalities within our do_self_action function in order to view skill trees and a description of a specific skill. The code is not currently building because the new display functions in the skill trees module have not been merged to dev yet. Once CLI and Skilltrees merge their respective work our code should work as intended.

[2022-05-25 22:33] arya32hub commented on #1390
Update: Implementation of Item statistics hasn't been succesful. Future implementation requires the item_t struct to be modified to accomodate a `stats_hash_t *item_stats` field. Beyond that Implementation should work if you follow the wiki.

[2022-05-25 22:36] KabirDubey commented on #1465
We met as a team and concluded the following:

1. Issue #1627 is necessary
2. The current `skill-example` file is obsolete. It references battles in a way that lacks documentation. The include statements do not make sense and may cause errors down the line
3. Our construction of complex skill examples overlaps heavily with the demo file #1462

To resolve (2) we will totally refactor in `skill-exam

[2022-05-25 22:38] #1390 closed, assigned to arya32hub

[2022-05-25 23:14] aliu65803 opened #1630 "Update Battle User Stories and Battle Wishlist"
For this issue, we will update the battle user stories and wishlist wiki pages. Over the course of the quarter, we have implemented a lot of new changes and would like to add/remove items from these two documents to reflect the state that battles is currently in. We will also include places that the future battle teams may start at.

[2022-05-25 23:21] aliu65803 commented on #1630
We have met up and created a google doc to plan out this wiki page. We will not be linking that google doc, but we will be transferring the information from the doc into the respective wiki page soon

[2022-05-25 23:21] HarrisonD123 commented on #1624
Just updated the `do_self_action` function to include logic for `view inventory` and `view inventory "[item-name]"`

[2022-05-25 23:30] ukanyanwu commented on #1459
With the changes to item.h made, inventory_graphics can finally be ready for tests. However, at a meeting with @csraffaga
 today, creating tests has revealed that   new/init/free functions within the inventory module need to be created, along with the additional functions specified in #1618 . Once these functions are remodeled, they will be able to make a pass of tests. The tests will be able to p

[2022-05-25 23:51] vanolson commented on #1620
I've written a preliminary version of the page, found [here](https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Class-Demo-Documentation). We will continue to update it as we develop the demo.

[2022-05-25 23:53] KabirDubey commented on #1465
Update: we're not going to make an example for random skills because they're not done yet.

[2022-05-25 23:55] KabirDubey commented on #1627
Added these lines

[code]

See branch 1465 complex skills examples.

[2022-05-25 23:55] #1627 closed, assigned to KabirDubey, nbilaver, arya32hub

[2022-05-25 23:59] ukanyanwu commented on #1469
A new npc_graphics_t struct has been added to the npc_graphics module which compiles necessary information when it becomes time to call the draw_npc function, such as window dimensions and information about the current NPC being displayed when using chiventure. With this new struct, proper new/init/free tests need to be made to confirm that the function works properly.

[2022-05-26 00:04] KabirDubey commented on #1465
Update: refactored the battles examples and complex skills examples into separate files. Fixed various errors in documentation (see commit history). Finalized implementation of conditional skills. All that remains is to ensure that the new files are included correctly. Moving forward to PR.

[2022-05-26 00:25] Don-Osipov commented on #1624
Added the functions to the player.h header file with definitions and descriptions.

[2022-05-26 00:27] HarrisonD123 commented on #1624
Implemented a new `display_inventory_item` function in the `game-state/player` module that returns a string of a specific inventory item's long description when given the name of the item and the inventory hash table.

[2022-05-26 00:35] KendrickXie commented on #1624
Implemented a new ```display_inventory``` function in the ```game-state/player``` module that takes in a player and returns a string of items in a player's inventory. The returned string consists of a maximum of 8 items per line.

[2022-05-26 00:47] KendrickXie commented on #1624
**Closing Statement:**
We have changed ```do_self_action``` to be able to perform ```display_inventory``` and ```display_inventory_item```. ```display_inventory``` is called if the target parameter (a list of strings)  in  ```do_self_action``` is a list of length 1. Otherwise, ```display_inventory_item``` is called to search for the second string in the target parameter.

```display_inventory``` a

[2022-05-26 01:09] nicholaswlee commented on #1529
Because we are realizing that there a lot of tests we will be prioritizing these four files: battle_flow.c, battle_ai.c, battle_print.c, and battle_logic.c

[2022-05-26 01:13] KendrickXie commented on #1588
**Closing Statement**
Position elements in item_t were changed to be unsigned ints.

The idea for the change came from Dhirpal and the code was changed by Kendrick

[2022-05-26 01:17] rohandeme commented on #1511
We finished writing tests for edges_init and edges_new, which have been pushed to the openworld/edges branch.

[2022-05-26 01:30] corian-jal commented on #1529
We have pulled and resolved merges with the files pushed to the dev branch earlier today and are now working to integrate them while solving previous and new compiling and linking errors.

[2022-05-26 01:47] rohandeme commented on #1511
We finished writing tests for edges_free, thus completing this issue. While we ran into no serious bugs or edge cases, writing more tests was quite valuable, as it allowed us to discover subtleties in the code that could be accounted for by future openworld teams. For example, there can be functions that validate that the matrix is a square (same number of rows as columns), and another that makes

[2022-05-26 01:47] #1511 closed, assigned to rohandeme, williamhu314

[2022-05-26 02:06] chelseaegbarin commented on #1465
Closing statement: Implementation of conditional skills was finalized. The example files were written for all types of skills except random, which might be left as a future issue, as the random skills stuff is quite hefty and might entail refactoring into its own module at some point. Battles and complex skills examples were refactored into separete files for ease of understanding.

[2022-05-26 02:17] KabirDubey commented on #1465
Arya wrote examples for combined and sequential skills. Kabir wrote the conditional skill example and re-organized the module. Chelsea ensured the new files were integrated correctly and finalized the additions.

[2022-05-26 02:17] #1465 closed, assigned to KabirDubey, arya32hub, chelseaegbarin

[2022-05-26 02:53] jackjackkimkim opened #1636 "Adding two WDL files for each class that is used for custom-scripts demonstration 2022"
Different WDL files will be loaded into the game depending on the output of the LUA file. There is one WDL specifically for the wizard class and another one for the Warrior Class. Each WDL associated with its respective class have different items and actions.

[2022-05-26 02:54] #1558 closed, assigned to JSerf02, jakeziqiwei, elizabethli31

[2022-05-26 02:55] #1577 closed, assigned to jiaoboxuan, jwschroeder21, sangerr

[2022-05-26 02:57] #1436 closed, assigned to jwschroeder21, sangerr, parkerbroz

[2022-05-26 02:58] jackjackkimkim commented on #1636
#1637 is the pull request associated with this issue.

[2022-05-26 03:03] sangerr commented on #1437
The pull request for creating a demo game for dialogue has been approved. In order to add text to speech into this demo, we need to create the structs for the text to speech. We are currently working on creating these structs in issue #1596. The demo without the text to speech is located in src/sound/examples under tts_dialogue_example.c

[2022-05-26 03:05] jackjackkimkim opened #1638 "Adding the actions "fireball" and "slash" to the Chiventure actions list"
The custom-scripts team would like to add the actions "FIREBALL" and "SLASH" so that we may include these actions on a WDL file. Without the addition of these actions in the main Chiventure actions list, we cannot load in the WDL file properly. These two actions should be added to the list of actions on the load-actions.c file as well as the header file action-struct.h

[2022-05-26 03:06] jackjackkimkim commented on #1638
The actions were added and needs to be reviewed by the action management team!

[2022-05-26 03:07] JaStarbuck commented on #1464
I've realized while working that including free_sound in the play_sound function doesn't make sense--it will be up to the chiventure developer to use free_sound I believe. I have thus edited the play_sound function for that reason. I have also found it useful to include a resume_sound function that complements the pause_sound function.

[2022-05-26 03:10] elizabethli31 commented on #1566
I fixed problems with the show_task function that resulted when certain elements (like missions or prereqs) were initialized as null. Also tested the function with print statements and it currently shows what needs to be displayed.

[2022-05-26 03:14] elizabethli31 commented on #1424
We debugged some of the NPC code that was giving us errors and also merged our branch, so that the functions we wrote (npc_can_give_quest and npc_can_give_task) will work with their functions. Our functions have also been merged with dev, so everything should be up to date now on our end (quests).

[2022-05-26 03:21] charlieweiler commented on #1566
Added show_quest function to print out the player's quest hash table, quest by quest with status and ID displayed. Also created a function for converting quest status enums to strings, which might be useful for other purposes. Each still needs to be tested.

[2022-05-26 03:30] jiaoboxuan commented on #1562
Duplicate issue

[2022-05-26 03:30] #1562 closed, assigned to jiaoboxuan, jwschroeder21, JaStarbuck

[2022-05-26 03:31] anchristensen commented on #1460
Closing statement: With pull request #1641, this issue will be finished. In this issue, we designed and implemented a new type of complex skills, random skills as initially described here: https://github.com/uchicago-cs/chiventure/wiki/Skill-Trees-~-Integrating-complex-skill-(combined,-random,-sequential,-etc.)-implementation. This involved creating three new structs, one for each type of random s

[2022-05-26 03:31] jackjackkimkim commented on #1638
The pull request associated with this issue is #1640

[2022-05-26 03:38] mxu24 commented on #1561
Completed, replaced SWITCH action with two actions LIGHT and UNLIGHT to act on item torch. Makefile was changed, pull request updated with update-sandbox branch.

[2022-05-26 04:01] tatmaca opened #1643 "Create an Advanced Lua Demo with 3+ Args passed through Lua Script"
As the custom-scripts team works towards its final demo for the quarter, we wanted to practice writing more advanced scripts that could interact with more game items and player inputs. Our goal is to create a demo that passes at least 3 parameters through at least 3 Lua scripts. This way, we can have our scripts interact with one another and perform more complex actions.

This issue is complete wh

[2022-05-26 04:01] jackjackkimkim opened #1644 "Taking in user input with LUA and using the input to load in the corresponding WDL file (Custom-Scripts 2022 Demo)"
The demonstration for the 2022 custom scripts team will take in user input via LUA and use that input to load in a WDL file that corresponds to the player class that the user selected (the input from LUA).

[2022-05-26 04:02] jackjackkimkim commented on #1644
The pull request corresponding to this issue is #1642

[2022-05-26 04:05] tatmaca opened #1645 "Writing New Test Cases for Refactored Code"
In our refactoring of the legacy code, we realized that we also had a large amount of test cases which relied on the old data types. These test cases essentially made sure that all the data types work as described while also interacting with Lua in the correct manner. This issue is complete when all the test cases are updated such that the merge request succeeds.

[2022-05-26 04:12] tatmaca opened #1646 "Create a demo where two arguments are passed into Lua script"
In an effort to increase our familiarity with Lua as well as build a greater volume of scripts in our sandbox for future developers, our team decided to create a more advanced script compared to what already exists at present. All of our previous samples in the sandbox were isolated pieces of code which passed one argument into a static Lua script. The goal is to create a demonstration that runs i

[2022-05-26 04:24] mxu24 opened #1648 "Integrate gold.c elements with demonstration"
Include chest and torch functionalities using Lua from the gold.c and dark_room.c files respectively into the current demonstration (pending pull request). This issue will be closed once we have successfully updated the demonstration.

[2022-05-26 04:51] corian-jal commented on #1529
All of the tests we decided to prioritize have been added and updated, and the code compiles. We are now simply resolving criterion crashes and assert failures.

[2022-05-26 05:28] parkerbroz opened #1650 "Sound: add tts struct documentation"
After we have created the TTS struct, we want to provide documentation explaining its functionality. We will edit the README.md in src/sound to provide this documentation. This documentation will give an overview, covers basic structure, shows how to do an example demo, and includes info on the current status and future changes

Assignees: Parker, Rhea, Jake

[2022-05-26 05:32] wellingtj commented on #1346
The tests fail due to a memory error, but the examples build so I will fix the tests tomorrow

[2022-05-26 07:52] junasano commented on #1587
The WDL file is now mostly complete. The rooms, items, and npc is added

[2022-05-26 14:12] williamhu314 commented on #1413
As an update, the path_autogenerate functionality mentioned above has actually now been incorporated into the autogenerate_room_in_game as this is the simpler implementation. Otherwise the implementation has proceeded as planned.

[2022-05-26 14:15] RamarkoB commented on #1543
The Custom-Scripts team had already developed a new demo to show off Boolean types in Lua and another Demo that showed off conditionals in WDL. I was able to combine the two into a single Demo that has Conditionals, alongside Lua Integration. Because there is another pull request issue that is integrating Lua and WDL into the demo, this issue will now center on documenting what we have learned fro

[2022-05-26 14:19] williamhu314 commented on #1413
We have finished implementing the static game autogenerate function that creates all the rooms in a game automatically given a pointer to a game struct, a gen_context struct, the number of rooms, and the name of the roomspec of the first room. We will now test this function and the associated helper functions in #1415 and #1473.

[2022-05-26 14:19] #1413 closed, assigned to williamhu314

[2022-05-26 14:29] #1510 closed, assigned to KabirDubey, anchristensen

[2022-05-26 14:58] ukanyanwu commented on #1525
Tests have been written for the original structs available in the npc_graphics module, but a new struct, npc_graphics_t, has been added recently that compiles information into a struct that hold relevant information when using the draw_npc function. This struct is currently having its tests written to confirm whether its current new/init/free functions are written correctly.

[2022-05-26 15:03] ukanyanwu commented on #1262
Yesterday, @csraffaga and I met to work on the inventory struct and decide what needs to be done to make the first half of this module get further to completion. We looked through our current code and decided that the new/init/free functions for player_inventory needed to be rewritten. This will make it easier for testing, and following chiventure standards when everything is ready to be used in a

[2022-05-26 16:35] alexlee0422 commented on #1412
In this task, we constructed an algorithm to test directed graphs and their validity since dialogues for NPC are to be in this form. It is important for us to do so because it would not make sense for the storyline of the game to not be able to reach a node or if an infinite loop will happen. This algorithm will catch these kind of errors and useful in the future when more stuff is implemented. (T

[2022-05-26 16:44] #1455 closed, assigned to sabinecodes15, HarrisonD123, Don-Osipov

[2022-05-26 17:42] sangerr commented on #1622
Closing Statement: We created this issue because there are no initialization functions of the sound_t module, so we created a sound_new and sound_init function in the sound.c file. The creation of these functions are critical to us writing tests as well as the overall usage of the sound structs. We are still waiting for the pull request to be merged, and will close the issue once it is.

[2022-05-26 17:50] sangerr commented on #1600
Now that we have the sound_new and sound_init functions, these can help us in writing tests for the functions without having to repeat code. We are running into some issues with testing most of the functions due to Cmake and compiler errors. Ultimately, we may have to get rid of 6/8 tests we wrote.

[2022-05-26 19:08] aliu65803 commented on #1630
We have added quite a few changes to the battle wishlist. Some of these items include:

- Auto battle mode, which will activate when a user inputs a certain command
- Full integration of sound effects (work with them to find a way to run the feature on non-CSIL devices)
- Multi enemy parties so the player can fight more than one enemy at a time
- Party battles so the player can play with other pla

[2022-05-26 19:09] nbilaver commented on #1462
Update, we've created a file for the demo, and we've created a lot of surrounding functions necessary for putting in complex skills. Still need to add more rooms, but the demo is at a good spot where adding the rest of the features that we want to show off shouldn't be too bad.

[2022-05-26 19:09] aliu65803 commented on #1630
We have also decided that it might be nice to include a small section on the wishlist with a few items that future years can start with.

[2022-05-26 19:35] emiliolevinspage commented on #1630
We have completed the [wishlist](https://github.com/uchicago-cs/chiventure/wiki/Battles-~-Wishlist) and [user stories](https://github.com/uchicago-cs/chiventure/wiki/Battles-~-User-Stories) updates. We added the section Angela referred to above, as well as an updated battle example in the wishlist. Future teams should be well-set up to pick up where we left off!

[2022-05-26 19:35] #1630 closed, assigned to emiliolevinspage, aliu65803, nmkhan100

[2022-05-26 20:18] #1599 closed, assigned to bvvill

[2022-05-26 20:22] awliu2 commented on #1421
We've completed our pull requests and closed this issue. We now have two modules, `to_wdl` and `dsl_parser` that contain implementations conversion to json format, and grammar parsing, respectively. It is now easier to access the outward facing functions while we abstract some of the nitty gritty detail work (i.e parsing grammar) to separate files.

[2022-05-26 20:23] #1604 closed, assigned to RamarkoB, jackjackkimkim, calvinytcheong2020

[2022-05-26 20:26] awliu2 commented on #1343
This issue has been closed. As we were implementing the grammar, the design changed slightly to ensure that everything compiles.
Below is the finalized grammar we are using:
[code]
Note that phrases have now been changed to be either STRING+ or a number. This allows us to label nodes and edges with numbers instead of alphanumeric strings.

An example of an NPC, with dialogue, in the DSL is given b

[2022-05-26 20:28] awliu2 commented on #1254
We've been continuing to work on this issue, and ironing out any bugs. Hopeful to get a pull request in by thursday night.

[2022-05-26 20:29] awliu2 commented on #1255
Currently being worked on in the `dsl/unit_test` branch. Our testing framework has mostly been setup, now we are going to make it more user friendly, by implementing a default batch test, and also manually running specific tests from the command line.

[2022-05-26 21:03] chelseaegbarin commented on #1247
Implementation written, but one test does not pass when a statistics field for item stat effects was added. Future print could to be debug tests.

[2022-05-26 21:03] #1247 closed, assigned to KabirDubey, arya32hub, chelseaegbarin

[2022-05-26 21:07] chelseaegbarin commented on #1391
Implementation is complete, and tests no longer crash but one does fail. Leaving the tests for a future sprint.

[2022-05-26 21:07] #1391 closed, assigned to KabirDubey, arya32hub, chelseaegbarin

[2022-05-26 21:28] #1339 closed, assigned to junasano, sglenn-uchi

[2022-05-26 22:40] jhsivadas commented on #1254
Current WDL output file. Seems to be working fully going to run some tests and then if working put in a pull request.

DSL File
[code]

WDL File
[code]

[2022-05-26 22:43] #1444 closed, assigned to emiliolevinspage, aliu65803, nmkhan100

[2022-05-26 22:54] awliu2 commented on #1254
Pull request created: https://github.com/uchicago-cs/chiventure/pull/1653

[2022-05-26 22:54] katie-gao commented on #1597
I wrote some tests that were short and not sure if it was completely correct, but I thought it would be helpful to check that everything still works with the new npc-specific classes.

[2022-05-26 23:18] awliu2 commented on #1255
pull request created: https://github.com/uchicago-cs/chiventure/pull/1654

[2022-05-26 23:38] alexlee0422 commented on #1255
In this task, we implement unit tests that tests the DSL to WDL parsing and conversion. This will be useful moving on since the only method to check if the conversions are right is by comparing manually. We added a tests/ subdirectory with a test.py testing file, as well as multiple dsl files and their expected outputs. We also added some flags that allow batch testing the dsl test files, individu

[2022-05-27 00:35] awliu2 commented on #1418
Things to do

- [x] Update the [dsl grammar page](https://github.com/uchicago-cs/chiventure/wiki/DSL-~-DSL-Grammar) with npcs, player class
- [x] make sure that all new files are fully commented and documented, standardize header comments across the board.
- [x] Add instructions for running tests to the [README.md](https://github.com/uchicago-cs/chiventure/blob/dev/src/dsl/README.md)
- [x] Add ins

[2022-05-27 00:56] vanolson commented on #1545
We've written a brief display skill trees function to use to show our newly created prefab skill trees.

[2022-05-27 01:42] #1568 closed, assigned to KabirDubey, nbilaver, wellingtj

[2022-05-27 01:42] csraffaga commented on #1521
After conversing with @jbrouwer5 20 minutes ago, there is no indication of statistics in the WDL. Therefore, the GDL is not able to customize in-game statistic visuals as there is nothing to base a customization off of. A first step is for a game state team to implement some facility for authors to specify the statistics that are included in a game. From there, the GDL has been pre-designed to rea

[2022-05-27 01:42] #1521 closed, assigned to jbrouwer5, csraffaga

[2022-05-27 01:44] vanolson commented on #1545
The prefab display portion of the demo code looks to be in pretty good shape, with the new updates made to the display skill trees function. What's remaining is some of the multiclass portion, though that's in development as well.

[2022-05-27 02:17] nbilaver commented on #1462
Update 2: We now have a usable version of this demo. There is still room for improvement, mainly that there are more things that were done this year that could be added, but as is the demo could be used for the final demonstration.

[2022-05-27 02:42] RamarkoB commented on #1604
This Demo was merged successfully. There is now a working demo that loads WDL from C within the Demonstration File within the src/custom-scripts/examples folder. We are planning to build off this by creating new pull requests that will load in Lua that interacts with a loaded WDL file. Marking this issue as closed.

[2022-05-27 02:50] jackjackkimkim commented on #1535
Instead of using the 2020 Demo from the action management team, we decided to take the inventory condition implemented by this year's action management. The current implementation involves putting in the inventory conditional in a WDL file and works perfectly with what the custom scripts team demo needs.

[2022-05-27 02:50] #1535 closed, assigned to jackjackkimkim, mxu24

[2022-05-27 02:53] jackjackkimkim commented on #1638
Ramarko was able to monkey patch in the custom actions "fireball" and "slash" for our demo so it is no longer necessary to hardcode them into Chiventure.

[2022-05-27 02:53] #1638 closed, assigned to RamarkoB, jackjackkimkim, mxu24

[2022-05-27 02:57] csraffaga commented on #1273
A key aspect of the future of GUI in Chiventure, unfortunately displaying statistics did not receive the attention it deserved. This was due to some complications with other modules (inventory) and the creation of a new GDL module which took priority. The GDL as it stands provides some foundation and direction for future teams to edit and improve Chiventure, but also leaves substantial design and

[2022-05-27 02:57] #1273 closed, assigned to dhirpalshah, imadejski, csraffaga

[2022-05-27 02:58] JaStarbuck commented on #1555
I'm creating a branch called sound/jason_demo for me to play around with and try to get stuff working

[2022-05-27 03:18] jackjackkimkim opened #1655 "Custom scripts- demonstration 2022 with torch functions and monkeypatched custom actions "fireball" and "slash""
We want to update our demonstration to include the torch function that can be interacted with through LUA (user can be lit and then unlit). Additionally, we are monkey patching custom actions called "fireball" and "slash" instead of asking the action management team to hardcode it into Chiventure which may lead to convoluting the actions list in Chiventure.

[2022-05-27 03:37] nicholaswlee commented on #1530
After some more debugging, our battle_command_example is working!!! We are able to consume items, throw items at our opponent, and have a successful battle that show cases stat changes and other new battle mechanics. This example will be great for the next team, and a good backup plan just in case battle_cli_example.c doesn't work.

[2022-05-27 03:38] chelseaegbarin commented on #1391
The asignees met to discuss and plan and implement implementation by the way. We also all tried to debug the tests but to no avail.

[2022-05-27 04:15] sangerr commented on #1437
The tts structs have been implemented, and we are just awaiting approval on the pull request

[2022-05-27 05:07] vanolson opened #1656 "Write new, modify existing helper functions for class_prefabs.c"
Issue #1066 mentioned a number of functions that could be added to `class_prefabs.c`, which, since that issue is closed, I am pasting in here to start a new issue. I will add a `class_prefab_add_items()` function which adds some default items to each class (e.g. a wand for the wizard, a rusty sword for the warrior), by creating items, documenting them on the wiki, coding these items, and adding te

[2022-05-27 05:10] jroven opened #1657 "Implement testing for `apply_item_stat_changes()` in battle_logic.c"
In issue #1024, player class and item interactions were integrated into battle logic, specifically making a lot of changes to `apply_item_stat_changes()` in battle_logic.c. These changes involved creating multipliers based on player class that affect stat changes due to items. In the process, five tests in the battle_logic suite broke because they were not designed for this implementation. The tes

[2022-05-27 05:12] jroven commented on #1024
The implementation broke some of the tests in test_battle_logic.c because the tests were not designed for this feature. I am commenting out the five tests and creating a new issue #1657 to implement working tests.

[2022-05-27 05:57] RamarkoB commented on #1648
This issue was already partially accomplished with Pull Request #1651, which combined the dark_room demo with the Warrior/Wizard Demo. A final step would be to combine those two demos with the gold.c demo. Combining all three demos would give us a final Presentation-ready demo that we can present next week

[2022-05-27 06:49] sglenn-uchi opened #1658 "Write function tests and new .wdl for load_npc.c (new dialogue-quest implementation)"
There currently are no tests for NPC implementation in WDL, including how JSON objects are parsed into their structs. As I am currently working with the Quests team to add implementation for dialogue in quests in WDLs, I think having at least a test WDL file would help. For this issue, I will write a WDL with Quests, Items, and an NPC, to maintain previous features, and most importantly, a list of

[2022-05-27 06:55] RamarkoB opened #1659 "Update Pull requests to reflect changes to add_action function"
Many of the demos that were made by custom scripts used the add_action function to add new actions to an item in a running game instance of chiventure. However, the add_action function has been updated to use different function arguments. To prevent merge conflicts once the branches have been pulled into the repository, we should go through our open pull requests to make sure all function calls to

[2022-05-27 07:05] nicholaswlee commented on #1530
We are now currently working on battle_cli_example.c. Most of our issues are with segmentation faults that we have been debugging with gdb.

[2022-05-27 08:46] KabirDubey commented on #1627
Closing statement: Nik and Kabir thought of the idea. Kabir wrote the new lines and refactored the reader files accordingly. Arya reviewed the work and tested it.

[2022-05-27 09:01] wzeng0 commented on #1252
Got all the grammar working. Some features such as boolean was changed back to being just a phrase for simplicity. The parsing still does not work and I am unsure how to get data from dsl file to put into wdl.

[2022-05-27 09:14] HarrisonD123 commented on #1625
### Closing Statement

We modified our `do_self_action` function to first take in multiple string inputs by converting `string *target` to an array of strings, `string **target`. We then modified our if-statement logic:

If the first string in the array is `"skills"` and the second element is null, we call the skilltree modules function `display_tree,` which prints all skill names out.

If the fir

[2022-05-27 09:21] HarrisonD123 commented on #1628
Quests also wants to be able to view a specific task from a quest's task tree with a new view command: `view task ["task-id"]`.

[2022-05-27 09:23] HarrisonD123 commented on #1628
We changed the parameter of our `do_self_action` function and implemented the if-statement logic within the function to accommodate `view quests` (which calls `show_quests` in the quests module), `view quests ["quest-id"]` (which calls `show_task_tree`), and `view task ["task-id"]` (which calls `show_task`)

[2022-05-27 10:13] nicholaswlee commented on #1530
The battle_cli_example.c is able to run a very limited functioning battle. However, it does not allow for any mistakes in input and creates a lot of segmentation faults. We are prioritizing faulty inputs and allowing for mistakes from our users now.

[2022-05-27 10:19] nicholaswlee commented on #1529
All issues have been resolved and a PR has been submitted. We have made tests for battle_print.c, battle_ai.c, battle_logic.c, and battle_flow.c. Our design document has tests outlined for other files, but we were not able to complete it for this sprint.

[2022-05-27 11:07] cyruszzhou commented on #1269
As the multi window version of raylib has failed to be pull requested, this module is no longer possible to be implemented. We wish future developers can figure out a way in which the multiwindow function can be realized without pulling the whole library (though tweaked) into the dev branch. We now close this issue.

[2022-05-27 11:07] #1269 closed, assigned to cyruszzhou, dhirpalshah, csraffaga

[2022-05-27 11:08] cyruszzhou commented on #1525
We have successfully written all functinos and tests! We close this issue with success.

[2022-05-27 11:08] #1525 closed, assigned to cyruszzhou, dhirpalshah, ukanyanwu

[2022-05-27 11:59] bvvill commented on #1587
I don't think it's going to be wise for us to make a WDL file for our demo, there's just so much about NPCs that hasn't been integrated with the format. I've been up for a while mainly working on an in-memory game based on last year's battle_move_example, so I could iron out the kinks of many of the functionalities we want to show off this year. The example is simply named `npc_example_2022`, and

[2022-05-27 13:21] rohandeme commented on #1564
For this issue, we plan to add to the Wiki what we have accomplished this quarter. This includes updating the old speclist_t struct to a specgraph_t and writing new autogenerate functions. With this, we hope that the next openworld team can start working on this module right where we left off.

[2022-05-27 13:38] rohandeme commented on #1564
Updated the Openworld Source Document wiki to contain implementation information about the specgraph_t and coords_t struct. We also included areas of unfinished business, including WDL implementation and autogenerate functions.

[2022-05-27 15:06] sglenn-uchi commented on #1424
I added WDL implementation for NPCs with dialogue within each quest and task in their list. Currently WDL files can run, I just need a way to test the new parts of the JSON that need to be parsed. I will do this by making a test .WDL file with an NPC with a list of quests and tasks with unique dialogue in each quest and task.

[2022-05-27 15:16] majorsylvie commented on #1487
Added sections on how to add a new kind and update an existing kind

[2022-05-27 15:40] majorsylvie commented on #1487
Finished documentation for adding a new kind.
https://github.com/uchicago-cs/chiventure/wiki/Enhanced-CLI-~-How-to-Implement-a-New-Action-Operation

Closing now:
Faruk created the page and contributed to the documentation
Brianna contributed to the documentation
Kate looked over what we wrote and offered suggestions

[2022-05-27 15:40] #1487 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-27 15:44] bzeng6 commented on #1489
My idea for the Bison demo is to showcase how Bison works and its difference from the current parsing mechanism, in order to demonstrate its potential for use in future chiventure groups.

Some features to showcase:
- Taking in and outputting text
- No input word limit
- Synonyms of action key words
- Recognizing grammar for specific action kinds

[2022-05-27 15:46] majorsylvie commented on #1488
I updated the malloc call in parse to calloc in order to avoid manually allocating to 0

[2022-05-27 16:32] jroven commented on #1612
Vincent, Katie, and I met synchronously to come up with eight class-based multipliers for stat changes due to items. Integrated classes include warrior, wizard, bard, and rogue. Integrated items include the consumables strength up, defense up, elixir of life, and healing potion.

[2022-05-27 16:32] #1612 closed, assigned to Vincent-Zhang4135, jroven, katie-gao

[2022-05-27 16:34] jroven commented on #1024
I have implemented the eight multipliers created in issue #1612 into the `class_multipliers()` function in battle_logic.c. Integrated classes include warrior, wizard, bard, and rogue. Integrated items include the consumables strength up, defense up, elixir of life, and healing potion. This issue is ready for a pull request.

[2022-05-27 16:40] vanolson commented on #1656
I've begun writing the `class_prefabs_add_items()` function, it's outlined in `class_prefabs.h`. Since items aren't an inherent part of classes, the function returns items (in a hash table I think) that can be added to a player in the game state module. The next step is to fully develop the function in `class_prefabs.c`

[2022-05-27 17:26] elizabethli31 commented on #1566
Finished up all the functions and tested by just printing the string. While writing the show_quests, show_task_tree, and show_task functions, we changed the quest_id max length from 100 to 50. Also, made a minor change to the player module in player_quests (changed completion type from int to completion_status). Our next steps now are to follow up with CLI and action management because their code

[2022-05-27 17:44] jhsivadas commented on #1252
Edited the transformers so that the input would be outputted properly as a dictionary of dictionaries for the intermediate output. Mostly spent time changing attributes to be parsed properly. Ready to be processed in dict_to_json

[2022-05-27 18:13] RamarkoB opened #1667 "Compile multiple Custom Scripts Demos with Lua at once"
So far, Custom Scripts has been compiling one demo at a time due to demos not compiling with Lua Libraries correctly. The goal of this issue is to compile multiple demos with Lua at the same time using a single CMakeFiles.txt file. This issue can be marked closed when there is a single CMakeFiles.txt file that can compile multiple demos that use Lua.

[2022-05-27 18:15] emiliolevinspage commented on #1553
We have run into tricky linker issues and given the timeline we are going to instead focus on making a design doc/guide on the wiki to make battle-sound integration go smoothly in the future once the issues are resolved.

[2022-05-27 18:35] srydbergcox commented on #1587
Looking at the current .c file that we have, I think that we should aim to implement a little bit more of a logical progression. What I am currently thinking is this:
1. Player talks to Hostile Harry which prompts a battle. Player runs attack 5x and kills Harry.
2. In the arena, wandering william "watches" the battle so we go talk to william who offers us a sword that does 5 damage so only have to

[2022-05-27 18:38] jhsivadas commented on #1252
Finished the implementation of the player class parsing in dict_to_json. Changed some of the player_class structure in order to process the actual input more efficiently and properly. Example DSL and WDL file output are included inside the repository. Should be ready for a pull request

[2022-05-27 18:46] ukanyanwu commented on #1459
We currently have tests for inventory slot_t structs. Unfortunately there are issues with building the files that contain these tests. Despite linking to the right directories and files as far as we know, the tests are not recognizing functions unique to the items module such as item_new and get_all_items_in_inventory, this is a problem as some of our tests/functions rely on these functions in ord

[2022-05-27 18:48] ukanyanwu commented on #1469
Tests have been written to confirm that the npc_graphics struct can properly new/init/free. It'll be worthwhile to restructure the testing files for these tests in order to make them more readable, but overall, the goal of writing tests that pass for the different structs has been achieved.

[2022-05-27 18:48] #1469 closed, assigned to dhirpalshah, imadejski, ukanyanwu

[2022-05-27 18:50] ukanyanwu commented on #1485
Scene graphics structs have proper structs that show that the structs can properly new/init/free with those appropriate functions. Recently, scene_graphics were pulled into the dev branch of chiventure, confirming that the tests written for the structs were written well and accomplished what they needed to do.

[2022-05-27 18:50] #1485 closed, assigned to dhirpalshah, imadejski, ukanyanwu

[2022-05-27 18:52] ukanyanwu commented on #1509
On Wednesday, @csraffaga and I were able to make pullrequests for the second parts of map_graphics and scene_graphics. After making changes that @philipchenaux requested of us, they were successfully pulled into the dev branch of chiventure.

[2022-05-27 18:53] ukanyanwu commented on #1618
Currently, there are functions written to test the new/init/free functions for slot_t structs for the inventory. We're currently having some issues with building these tests to confirm that they accomplish what they need to, as mentioned in #1459, but an important step has been accomplished in actually writing all of these tests.