[2022-05-27 18:55] jhsivadas commented on #1416
Edited the NPC structure and Player structure to reflect changes made to parsing in the npc and player branches and pull requests. Final example DSL file is below. Going to link a pull request for the DSL file and include example WDL file once player and npc are merged into main branch and can be converted.

[code]

[2022-05-27 19:04] #1490 closed, assigned to Vincent-Zhang4135, jroven, katie-gao

[2022-05-27 19:08] awliu2 commented on #1418
created `dsl/documentation` branch for updating documentation. Also updated the readme in this branch.

[2022-05-27 19:36] RamarkoB opened #1670 "Create Final Demo for presentation"
Over the past Quarter, Custom-scripts has experimented with conditional WDL files, integrating Lua, and other ways of making Chiventure more dynamic. As we approach our final demonstration, this is the final demo that we will create and present during our final presentation. This issue should be closed when the final demo has been created that combines the smaller demos we have created over the co

[2022-05-27 19:43] RamarkoB commented on #1659
This issue was found as unnecessary. We will integrate these corrections into existing branches.

[2022-05-27 19:44] RamarkoB commented on #1659
This issue was found as unnecessary. We will integrate these corrections into existing branches.

[2022-05-27 19:44] RamarkoB commented on #1659
This issue was found as unnecessary. We will integrate these corrections into existing branches.

[2022-05-27 19:44] #1659 closed, assigned to RamarkoB

[2022-05-27 19:44] RamarkoB commented on #1667
This issue was found as unnecessary. We will integrate this corrections into an existing branch.

[2022-05-27 19:44] #1667 closed, assigned to RamarkoB

[2022-05-27 19:46] RamarkoB commented on #1670
Duplicate Issue of #1648

[2022-05-27 19:46] #1670 closed, assigned to RamarkoB, tatmaca, jackjackkimkim, calvinytcheong2020, mxu24

[2022-05-27 19:55] #1566 closed, assigned to JSerf02, charlieweiler, elizabethli31

[2022-05-27 20:13] katie-gao opened #1672 "Make multiclass_prefabs.c to present multiclasses for the Demo"
Jake, Van, and I are creating a new `multiclass_prefabs.c` to include the newly revamped multiclass module for the demo. Though this is primarily for the demo, it could also serve as a greater part of Chiventure as a whole. We will be creating combination prefab classes based on the single classes in `class_prefabs.c`. We will include the Hexblade (combination of Warrior and Wizard) that is alread

[2022-05-27 20:36] baigh1 commented on #1418
Updated the [dsl grammar page](https://github.com/uchicago-cs/chiventure/wiki/DSL-~-DSL-Grammar) with NPCs and Player Class (all sections).

[2022-05-27 20:38] vanolson commented on #1672
We've created `multiclass_prefabs.h` and `multiclass_prefabs.c`, with comments fleshed out on the .h file. We will now turn to implementing these functions.

[2022-05-27 21:04] williamhu314 commented on #1526
The tags have now been added to the roomspec and room structs. The roomspec_to_room function now adds the tag of the roomspec to the newly generated room. All other autogeneration functions rely on the roomspec_to_room function so they will now be able to add the correct tag when generating new rooms.

[2022-05-27 21:04] #1526 closed, assigned to helenastc, lukasg8, williamhu314

[2022-05-27 21:06] williamhu314 commented on #1546
The function has now been updated to account for percentage based roomspec generation (the denominator has effectively been changed from the number of roomspecs to the sum of the values in the appropriate row of the adjacency matrix).

[2022-05-27 21:06] #1546 closed, assigned to helenastc, jsssengonzi, lukasg8

[2022-05-27 21:16] vanolson commented on #1656
I've created the first item in the function. It seems not to cause any problems, so hopefully that will keep happening with the other items, especially once I add testing.

[2022-05-27 21:30] #1645 closed, assigned to RamarkoB, tatmaca, calvinytcheong2020

[2022-05-27 21:39] baigh1 commented on #1418
Updated the [Tutorial DSL](https://github.com/uchicago-cs/chiventure/wiki/DSL-~-DSL-Tutorial#what-is-currently-supported-in-the-dsl) with the new information on NPCs and Player Classes. This included created a new example with the NPCs and Player Classes implemented (both a WDL and DSL example).

[2022-05-27 21:39] lilyehsani commented on #1322
Issue Score: Excellent

Comments:
Great work! Next time, make sure to link the issue to its related Pull Request.

[2022-05-27 21:40] tatmaca commented on #1645
This issue is now closed! With the refactored code in place, the custom-scripts team is now able to merge our numerous demos which demonstrate the capabilities of Lua scripting as well as our final Demo which runs Lua in a sample Chiventure game!

[2022-05-27 22:21] #1565 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-27 22:26] #1402 closed, assigned to jroven, wellingtj

[2022-05-27 22:30] vanolson commented on #1656
Still working on the `class_prefabs_add_items()` function. I will also test the issues and document them, but I think I will have to put the `class_prefab_new()` portion of this issue on hold, both for time reasons and because I don't entirely see its relevance.

[2022-05-27 22:39] katyashchukina commented on #1497
We have added 30 tests, which test the parse_r, cmd_from_string, and parse functions. Our tests covered edge cases that were not covered in the initial testing framework, so we feel that our new tests better make certain that the Chiventure code works as it should. For this task, Matteo, Miles and Kate all worked on the implementation of new tests, and all of us worked on documentation

[2022-05-27 22:39] #1497 closed, assigned to katyashchukina, milesgardner, mrestuccia1

[2022-05-27 22:43] HarrisonD123 commented on #1628
### Closing Statement

We modified our do_self_action function to first take in multiple string inputs by converting string *target to an array of strings, string **target. We then modified our if-statement logic:

If the first string in the array is "quests" and the second element is null, we call the quests module's function show_quests, which prints all quest names out.

If the first string in

[2022-05-27 22:46] katyashchukina commented on #1489
So far we have met all the aims established by Brianna above, but we have implemented each action separately. Now Brianna and I are working on generalising the commands to recognise the commands as a group, so there is only one function per kind of command rather than per each individual command. This is the main advantage of using bison so we feel this is important to implement.

[2022-05-27 22:50] katyashchukina commented on #1328
I have added the kind 3 and kind 4 commands and gotten them working! Next step is to generalise the commands to each kind of instruction rather than having separate functions for each command.

[2022-05-27 22:55] JaStarbuck commented on #1464
Closing statement: The branch for this issue has been merged into the dev branch. In this issue, we have created the function headers in sound.h and created the simple functions for pause/stop/resume_sound in sound.c. This proved to be very simple functions so, hopefully, won't be too hard to test in the future. It will be exciting to see how other groups and the future sound group will implement

[2022-05-27 22:55] #1464 closed, assigned to jiaoboxuan, sangerr, JaStarbuck

[2022-05-27 22:55] vanolson commented on #1656
The `class_prefabs_add_items()` function is complete, barring issues found in testing.

[2022-05-27 23:11] williamhu314 commented on #1415
We have made a couple tests to make sure the function works and that it makes the correct number of games and correct roomspecs. We are now working to fix bugs in our functions since the tests are not passing.

[2022-05-27 23:14] katyashchukina commented on #1336
Bison grammar makes defining synonyms pretty simple. To do this, in the parser.l file you note the different version of the inputs separated by '|'.  For example: ^put|PUT { return PUT; } will recognise both put and PUT as the PUT command. This is a lot easier than the previous implementation

[2022-05-27 23:15] williamhu314 opened #1677 "Replace gencontext with specgraph"
Currently, the gencontext struct is obsolete as all information needed to generate a game is inside specgraph. In this issue, we aim to remove all instances of gencontext and replace them with specgraph. This includes all functions, function headers, and tests.

[2022-05-27 23:23] williamhu314 commented on #1677
gencontext has been removed from all functions and tests. I am working on updating function headers now

[2022-05-27 23:31] williamhu314 commented on #1677
All instances of gencontext have now been replaced in the .c, .h, and test files.

[2022-05-27 23:34] williamhu314 commented on #1677
All instances of gencontext have now been replaced in the .c, .h, and test files.

[2022-05-27 23:34] #1677 closed, assigned to helenastc, williamhu314

[2022-05-27 23:57] williamhu314 commented on #1473
I have created tests for the random_first_room, random_room_from_game, and autogenerate_room_from_game functions.

[2022-05-28 00:01] wellingtj commented on #1656
I am updating documentation for this code as requested by Van

[2022-05-28 00:12] emiliolevinspage commented on #1553
[here](https://github.com/uchicago-cs/chiventure/wiki/Battles-~-Sound-integration-with-battle-(design-document)) is the design doc for future sound implementation. It details the fields, functions, and sound API calls required to use sounds in battle functions. Any move, item, or battle can have sounds associated with it- files are placed in battle/src/sound. We are closing the issue because this

[2022-05-28 00:15] sglenn-uchi opened #1678 "Update NPC Dialogue documentation"
There have been many updates to the NPC dialogue code this quarter. In addition, much of the pre-existing documentation in the code was outdated. In this issues, I will update the relevant wiki pages.

[2022-05-28 00:21] wellingtj opened #1679 "Update class prefab documentation to include multiclass prefabs"
We have prefabricated a few multiclasses for the demo but they not currently logged on the wiki. The classes are "hexblade" (wizard, warrior), "infernal" (elementalist, sorcerer), "paladin" (knight, monk), "enchanter" (bard, healer), and "assassin" (rogue, ranger). They should be logged for future integration purposes. The hexblade class was written from last year's demo with a very basic multicla

[2022-05-28 01:08] nmkhan100 commented on #1533
I have created a battle_test_utility.c/.h file for both the battle and NPC tests to import and use functions from. This has been implemented to prevent teams from having to copy paste functions into every test file for the tests to use the functions and pass. The files have also been made more readable through the renaming of different functions, removal of duplicate functions found in multiple te

[2022-05-28 01:08] #1533 closed, assigned to nmkhan100

[2022-05-28 01:15] Vincent-Zhang4135 opened #1680 "Create Playerclass Wiki Documentation On the Current State of PlayerClass and rooms for future improvement"
As we are wrapping up the last sprint of our team, we want to make a document that records the current state of PlayerClasses so that there is less software archaeology for future devs. Coming onto this feature this year, many of us were a little confused even with the quite extensive documentation, and so we thought it would be helpful to create documentation that is more tailored towards where t

[2022-05-28 01:43] katyashchukina commented on #1328
Brianna and I have ran into an issue where it takes 2 in puts for it to register?
<img width="212" alt="Screenshot 2022-05-27 at 20 41 47" src="https://user-images.githubusercontent.com/54959846/170804896-d85d651d-ee26-4c73-aa1c-e09a6f3f0e56.png">

[2022-05-28 02:28] HarrisonD123 commented on #1512
After thinking about it a bit, we plan on breaking each function explanation into a parameters section and a "how it works" section. It will be separated into multiple subheadings and bullet points.

[2022-05-28 02:37] sangerr commented on #1437
Just created a pull request with the final demo with text to speech functionality, now just waiting on approval.

[2022-05-28 02:56] csraffaga commented on #1560
Added a GDL file to the demo to showcase reading

[2022-05-28 03:02] nicholaswlee commented on #1530
We have gotten all examples to work and a PR has been submitted. Most of the segfaults have been resolved, although some still exist and will have to be avoided during the demo.

[2022-05-28 03:07] HarrisonD123 commented on #1512
### Closing Statement
We were able to write up an [entire wiki page](https://github.com/uchicago-cs/chiventure/wiki/Action-Management-~-Do-Action-Functions) describing the functionality of our action functions. We ended up describing the first three action functions as best we could. Our description of the new do_self_action is written much more in-depth, but framed as a work in progress. We made

[2022-05-28 03:12] HarrisonD123 commented on #1518
Created a new Wiki page describing `do_self_actions` along with other action functions, which will be extremely helpful for new teams writing tests for this function.
https://github.com/uchicago-cs/chiventure/wiki/Action-Management-~-Do-Action-Functions

[2022-05-28 03:30] vanolson commented on #1656
The item prefab tests all work. All that's left for this issue is updating documentation, since I don't believe the `class_prefab_new()` portion of this to be necessary. Could be done in a later issue though

[2022-05-28 03:34] sglenn-uchi commented on #1424
With help from the quests team, the new functions and WDL integration are now complete. Additionally, the current WDL files all run correctly. We have opened a pull request to get these changes merged into the dev branch. When our PR is approved, this issue will close automatically.

[2022-05-28 03:38] rohandeme commented on #1564
Our implementation status has officially been updated in the wiki, under Openworld ~ Source Document. The wiki now contains information about the specgraph_t struct and coords, along with features that we hope the next team implements, such as WDL and autogeneration. We will continue to update this wiki in case we make any updates to our module.

[2022-05-28 03:38] #1564 closed, assigned to helenastc, jsssengonzi, rohandeme

[2022-05-28 03:47] Vincent-Zhang4135 commented on #1657
Jonathan and I have been working together on why there are segfaults for the Tests, and we realized that this is because in the old Tests, the previous generations of devs initialized class and items as NULL. As a result, we realized that in order to get these tests to work, we need to initialize the class and items, so that we can access the names of them we comparing them in our `apply_item_stat

[2022-05-28 03:48] #1544 closed, assigned to helenastc, jsssengonzi, lukasg8

[2022-05-28 04:26] jroven commented on #1657
I have fixed all the tests by initializing items and classes for them, so there are no more segfaults. A pull request can be made now.

[2022-05-28 04:33] wellingtj commented on #1672
The implementation is going well - where we now have "hexblade" (wizard, warrior), "infernal" (elementalist, sorcerer), "paladin" (knight, monk), "enchanter" (bard, healer), and "assassin" (rogue, ranger). There are two main functions 'multiclass_prefab_new' and 'multiclass_prefab_add_skills'. 'multiclass_prefab_new' will read the name and return the short desc, long desc, and set the stats using

[2022-05-28 04:39] vanolson opened #1693 "Player class: create documentation for new prefab items"
I recently created new prefab items in `class_prefabs.c`, along with testing, for all of our prefab classes except the NPC ones. Now that these are in our module, we need to document all their details in the wiki. Vincent, Jonathan, and I will add the various attributes of these new items to the wiki, most likely in the Examples Stats and Abilities section, where they will be paired along with the

[2022-05-28 04:39] wellingtj commented on #1545
We have made significant progress on the multiclass portion, where there are now two new files that include multiclass_prefabs. One is 'include/playerclass/multiclass_prefabs.h' and the other is at 'src/playerclass/src/multiclass_prefabs.c'. We created three new multiclasses alongside the hexblade (warrior and wizard) multiclass that last year had. There is much more functionality with multiclass

[2022-05-28 04:49] mxu24 opened #1700 "Add extra functionality and final changes to the demo"
Issue to track progress on changes that expand on the addition of custom actions based on classes (wizard/warrior itinerary example), lua scripts (chest and gold example), and booleans (torch example) through other small additions involving similar concepts based on the current integrated examples.

Tied to pull request #1690.

[2022-05-28 04:53] mxu24 opened #1702 "Adding extra tests in test_types.c to confirm the functionality of Lua in final demo"
Due to the new changes in the demo (integrating dark_room.c and gold.c with demonstration.c) and earlier difficulties implementing Lua functionality with WDL, we must create additional tests to confirm the working status of the demo, particularly after further added functionality and final edits.

Tied to pull request #1692.

[2022-05-28 04:53] jroven commented on #1693
Here is the link to the wiki page: [Examples Stats and Abilities](https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Example-Stats-and-Abilities)

[2022-05-28 04:55] mxu24 opened #1703 "Create final changes to demo"
Fix up documentation, edit any small mistakes and script changes, shift work from dark_room.c to demonstration.c file, any other last changes necessary.

Tied to pull request #1697.

[2022-05-28 05:20] emilybae1705 commented on #1457
We have created a [demo design document](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-NPC-Demo-Design-Document) that lists the NPC features that are being integrated for the demo, which includes movement, dialogue, and battle-integration. Unfortunately, we decided to exclude action-management as most of its functions have not been tested yet. The general goal of the demo is to integrate ac

[2022-05-28 14:52] sangerr commented on #1320
The pull request for this issue was submitted prior to the end of sprint 3, however the PR had delays in being reviewed and has yet to be merged. We will close the issues as soon as it is!

[2022-05-28 17:54] vanolson commented on #1693
I added information for wizard, ranger, and druid.

[2022-05-28 19:56] jakeziqiwei commented on #1433
Currently updating task changes

[2022-05-28 20:12] mrestuccia1 commented on #1520
After implementing requested edits, which mostly consisted of style comments, we got our PR reviewed by Faruk, and subsequently approved by Jack, who merged it into the main branch. To illustrate the difference between the previous suggestion system and ours, here is a screenshot of the old suggestion system (on top), and the new one (onthe bottom):

![Screenshot (12)](https://user-images.githubus

[2022-05-28 20:13] mrestuccia1 commented on #1520
The main advantage of this new system is that it doesn't break when the first letter doesn't match the suggestion, and thus still suggests something useful. With the old system, if you wrote the first letter wrong, the suggestions would be of no help.

[2022-05-28 20:19] mrestuccia1 commented on #1520
This issue can now be closed, since we implemented the intended suggestions system, based on the Levenshtein Distance formula (linked above). This calculates the number of changes it would take to get two words to equal each other, so the lower the score, the more similar the words are. For this task, both Matteo and Miles worked on implementation and testing, and Matteo worked on the documentatio

[2022-05-28 20:19] #1520 closed, assigned to milesgardner, mrestuccia1

[2022-05-28 20:24] mrestuccia1 commented on #1488
This task was never implemented, as it would have changed much of the previous code we had just written in the recently merged quotes PR. However, here is one idea for implementing it:
- Use a stack-like algorithm to track whether quotes are open are closed. Because both the open and closing quotes are the same characters, it will have to be a variation of it, likely which tracks whether an even n

[2022-05-28 20:27] mrestuccia1 commented on #1488
For this issue, Faruk and I worked on the documentation. Miles and I looked over the current dev code for some time to figure out how to make the change, but I decided this might be better suited to leave to future classes since it is not a very urgent feature to add, and would have caused many changes over recently added code.

[2022-05-28 20:39] tatmaca opened #1707 "Adding extra tests in test_types.c to confirm the functionality of Lua in our final demo"
Due to the new changes in the demo (integrating dark_room.c and gold.c with demonstration.c) and earlier difficulties implementing Lua functionality with WDL, these additional tests confirms the working status of the demo, particularly after further added functionality and final edits.

[2022-05-28 22:03] mrestuccia1 commented on #1396
We have added the option to use multiple commands separated by the ';' character. This was implemented using an array of pointers to cmd types. This is very similar to a feature the 'and' command, which allows you to input multiple commands separated by 'and'.

[2022-05-28 22:03] mrestuccia1 commented on #1396
Because these were too similar, we changed them slightly, making it such that the 'and' is conditional, meaning that if one of the commands called fail, the rest of the commands will not be executed. On the other hand, commands separated by ';' will execute unconditionally. There are only two current limitations to this. * Firstly, right now there is only a way to check if commands fail to print t

[2022-05-28 22:09] mrestuccia1 commented on #1396
Here is an example of this functionality at work:
When two commands are called with 'and', only one is executed because the first command failed (it contained too many tokens). However, when we run the same command with ';', the second command runs, regardless of the fact that the first fails. This will be a useful feature in the game, as there are many actions you might only want to do in a certa

[2022-05-28 22:13] mrestuccia1 commented on #1396
I encountered a problem with strtok_r, as it was tokenizing correctly, but was somehow editing the output in a way that caused the following functions that were called on it to not recognize it. After doing research, I found that strtok is destructive, so I used a strtok-like helper function (called strtokstr_r) that had been created by previous CLI teams. This fixed the problem, and the program w

[2022-05-28 22:14] junasano commented on #1574
The previous PR was approved and we were able to move forward with the final steps before submitting a PR related to this issue.
The PR is now submitted and once it is approved by a peer and TA, this issue will close automatically.

[2022-05-28 22:14] mrestuccia1 commented on #1396
The PR has now been merged into dev. In this PR, Matteo and Miles both worked on implementation and testing, and Matteo worked on the documentation.

[2022-05-28 22:14] #1396 closed, assigned to milesgardner, mrestuccia1

[2022-05-29 00:11] wellingtj commented on #1346
I have basically done this code, you can reference this branch, but I dont think this is an issue worth completing, or pulling at the moment. All that needs to be done to finish this branch is to fix merge conflicts and to fix testing for the npc module.

[2022-05-29 00:11] #1346 closed, assigned to wellingtj

[2022-05-29 00:17] wellingtj commented on #1679
The documentation on the class list page has been updated accordingly.

[2022-05-29 00:17] #1679 closed, assigned to wellingtj

[2022-05-29 00:49] wellingtj commented on #1620
We have finalized the page. It is found in the same location as where Van linked earlier on the Wiki

[2022-05-29 00:49] #1620 closed, assigned to katie-gao, vanolson, wellingtj

[2022-05-29 04:28] lilyehsani commented on #1112
Issue Score: Excellent

Comments:
Excellent work on this issue! The closing statement is incredibly thorough.

[2022-05-29 04:39] lilyehsani commented on #1275
Issue Score: Excellent

Comments:
Great work on this issue! Ordinarily, an issue associated with a PR shouldn't be closed when the PR is opened, but when the work associated with that issue is done (i.e., when the PR is complete and merged).

[2022-05-29 16:10] katie-gao commented on #1680
I added skills to this. For the current state, we have some skill tree functionalities, where each of the playerclasses (see playerclass list) have damages and skills. There is also functionality to add more skills. There is still room for improvement in the skills, especially multitasking and adding skills for the new npc-specific prefabs.

[2022-05-29 16:18] katie-gao commented on #1672
We created both multiclass_prefabs.c and multiclass_prefabs.h for the playerclass demo. This was successful in actually printing out all the skills of multiclasses, alongside stats and damages. As Jake mentioned earlier, there are now four functional multiclass prefabs of "hexblade" (wizard, warrior), "infernal" (elementalist, sorcerer), "paladin" (knight, monk), "enchanter" (bard, healer), and "a

[2022-05-29 17:08] #1542 closed, assigned to bvvill

[2022-05-29 17:11] jwschroeder21 commented on #1650
Update: after receiving help from Borja in relation to Espeak and its not actually being required, we fixed the compiler errors we were dealing with. We have written all the documentation and are awaiting approval on our PR

[2022-05-29 17:23] jroven commented on #1680
I added NPC integration to this page. The current state includes the new NPC-specific prefab classes, along with the indefinite movement multiplier feature. I linked the [Player Class NPC Integration](https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Player-Class-NPC-Integration) wiki page for the future dev section since there was a lot on it that we did not get around to implementing

[2022-05-29 17:42] sangerr commented on #1555
This issue was generally for us to begin thinking about the demo, the more concrete issue that addresses this demo is #1437. I am closing this issue as it is no longer needed.

[2022-05-29 17:42] #1555 closed, assigned to jiaoboxuan, jwschroeder21, sangerr, parkerbroz, JaStarbuck

[2022-05-29 18:04] williamhu314 commented on #1473
We have finished the following tests:

1. random_first_room (Creates a random first room for the game)
2. The random_room_from_game (returns a random room within the game)
3. autogenerate_room_in_game (picks random room in a game and generates a room in a random direction)

**In autogenerate.c**
1. pick_random_direction
2. room_exists_in_direction

[2022-05-29 18:04] #1473 closed, assigned to jsssengonzi, rohandeme, williamhu314

[2022-05-29 18:06] williamhu314 commented on #1415
We have finished making test for this function. Future work could include making more tests for this function.

[2022-05-29 18:06] #1415 closed, assigned to jsssengonzi, rohandeme, williamhu314

[2022-05-29 18:07] williamhu314 commented on #1414
We were unable to finish the implementation but future work could implement this function based on the plan outlined above.

[2022-05-29 18:07] #1414 closed, assigned to helenastc, jsssengonzi, williamhu314

[2022-05-29 18:10] williamhu314 commented on #1417
We were unable to finish the implementation of the dynamic autogeneration functions but if it is implemented in the future these tests will be important.

[2022-05-29 18:12] williamhu314 commented on #1472
Some possibilities are making the function generate games with a square or circular shape, changing the algorithm for roomspec autogenerate, and changing the forumla for path autogenerate to affect the connectivity and structure of the game.

[2022-05-29 18:12] williamhu314 commented on #1472
We have completed brainstorming for other generation methods. Future work could include designing and implementing some of these functions.

[2022-05-29 18:12] williamhu314 commented on #1472
We have completed brainstorming for other generation methods. Future work could include designing and implementing some of these functions.

[2022-05-29 18:12] #1472 closed, assigned to jsssengonzi, lukasg8, williamhu314

[2022-05-29 18:15] williamhu314 commented on #1417
We were unable to finish the implementation of the dynamic autogeneration functions but if it is implemented in the future these tests will be important.

[2022-05-29 18:15] #1417 closed, assigned to helenastc, jsssengonzi, williamhu314

[2022-05-29 18:44] sglenn-uchi commented on #1658
I wrote tests for the new functions and revised the functions so that they all pass. I also made a draft of a .WDL file extending the work of pokemon.wdl called pokemon_plus.wdl where some of the NPCs now have quests and tasks with unique dialogue.

[2022-05-29 18:44] #1658 closed, assigned to sglenn-uchi

[2022-05-29 18:52] sglenn-uchi commented on #1514
We successfully implemented the convert_hostility and the tone_t struct and created a pull request. We ran into a problem where a teammate's commits from another branch ended up on ours and are trying to use revert to remove them. As of now, we're working through a lot of merge conflicts, but when they're solved and the PR goes through, this issue will be closed automatically.

[2022-05-29 19:45] emilybae1705 commented on #1514
All chiventure files and example files build successfully and all tests pass. In order to solve the problem of having another teammate's commits show up on our npc/dialogue-provocation branch, with our TA Lily's approval, I created another called npc/npc-provocation and set HEAD as the latest commit on our previous npc/dialogue-provocation branch. However, our teammate's commits for the demo branc

[2022-05-29 19:56] alexlee0422 commented on #1416
We successfully created the new-demo file which showcases the features we added to chiventure including NPC, player class, and its respective elements.  We hope this file indicates how future features can be implemented. This issue will be closed with the pull request.

[2022-05-29 20:58] #1460 closed, assigned to arya32hub, chelseaegbarin, anchristensen

[2022-05-29 22:06] milesgardner commented on #1486
We've added an overview of what we've changed in parsing, commands, and operations.  Additionally, we added a section for going forward.  Matteo, Brianna, and I all split up the work evenly 3 ways.

[2022-05-29 22:06] #1486 closed, assigned to milesgardner, bzeng6, mrestuccia1

[2022-05-29 22:16] #1320 closed, assigned to jwschroeder21, sangerr, JaStarbuck

[2022-05-29 22:21] #1516 closed, assigned to sabinecodes15, HarrisonD123

[2022-05-29 22:31] #1622 closed, assigned to jiaoboxuan, sangerr

[2022-05-29 22:40] sabinecodes15 commented on #1516
### Closing Statement
Tests for inventory conditions have been fully implemented and integrated with chiventure, so the issue is now closed.
Harrison consolidated the __get_doc_obj() function into a header file, I wrote the tests, and we both debugged merge issues in the PR.

[2022-05-29 22:43] sabinecodes15 commented on #236
### Closing Statement
Inventory conditions have been fully implemented and pass all tests, so we can now close this issue.

[2022-05-29 22:43] #236 closed

[2022-05-29 23:11] sangerr commented on #1130
Another idea of how to add sound is to incorporate sound effects when moving between rooms or picking up objects. We also will want to include background music that match the vibes of certain rooms.

[2022-05-29 23:12] sangerr commented on #1130
With the new text to speech structs, all conversations between an NPC and a player can have sound that is playing what the npc is saying out loud. The text to speech feature could also be incorporated when entering different rooms or during other interactions.

[2022-05-30 00:16] #1424 closed, assigned to JSerf02, sglenn-uchi, elizabethli31

[2022-05-30 00:21] #1614 closed, assigned to bvvill

[2022-05-30 00:38] lilyehsani commented on #1276
Issue Score: Excellent

Comments:
Great work on this issue! Two comments:
1. Status updates on an issue should have something tangible to share. Asking questions like "I feel like wizard and sorcerer are similar?" should be done through other means, and the path you choose to take is what should be shared in the update.
2. Ordinarily, an issue associated with a PR shouldn't be closed when the PR i

[2022-05-30 01:57] emilybae1705 commented on #1514
We decided to keep the same npc/dialogue-provocation branch but I `reset --hard dev` which cleared all previous commits and reset commit history to dev HEAD. I committed the same set of changes I made before but on the newly reset branch so npc/dialogue-provocation now only contains the commits related to `hostility_level` conversion and the `tone_t` struct. Specifically, We added the `change_npc_

[2022-05-30 05:07] jackjackkimkim commented on #1543
The documentation has been added to the wiki:  https://github.com/uchicago-cs/chiventure/wiki/Custom-Scripts-~-Using-Custom-Scripts

[2022-05-30 05:07] #1543 closed, assigned to RamarkoB, jackjackkimkim, calvinytcheong2020

[2022-05-30 05:24] jackjackkimkim commented on #1707
this issue was a duplicate of issue #1702

[2022-05-30 05:52] #1707 closed, assigned to tatmaca

[2022-05-30 14:03] #1628 closed, assigned to sabinecodes15, HarrisonD123, jbrouwer5

[2022-05-30 16:07] junasano commented on #1574
Another reviewer from team action management was added.

[2022-05-30 16:12] imadejski commented on #1419
The GDL module resulted in 3 pull requests that are in the process of being closed. There are tests for all of the structs that were created within the graphics struct for the news, inits, and frees. The read_gdl function is completed with tests.

[2022-05-30 16:12] #1419 closed, assigned to imadejski, csraffaga, ukanyanwu

[2022-05-30 16:51] ukanyanwu commented on #1618
These tests for slots are now working correctly as this part of the GDL is going through the steps of being pullrequested. We recently cleaned up the tests to have the proper header comments as well, to make it clear for those who read the test file. The tests currently work as they should, giving confidence that the new/init/free functions for slot_t structs work correctly.

[2022-05-30 16:51] #1618 closed, assigned to imadejski, csraffaga, ukanyanwu

[2022-05-30 17:27] ukanyanwu commented on #1601
Header files for new/init/free structs have also been added for the on_screen_stat struct within stat_graphics. This struct is used within the screen_stats_t struct, which currently has its own new/init/free functions. screen_stats_t will be continued to be worked on in order to implement its new/init/free functions once work with on_screen_stat is completed to account for this dependency.

[2022-05-30 17:43] ukanyanwu commented on #1601
new/init/free functions have been written for screen_stats_t and pop_up_t. To confirm if any further work is needed for these functions, tests will be written as referenced in issue #1602.

[2022-05-30 20:21] awliu2 commented on #1418
Looks like this task has been completed, as all the checklist items have been resolved. A pull request for the readme has also been submitted, and I'll close this issue now.

[2022-05-30 20:23] awliu2 commented on #1420
We did not get around to implementing this feature this sprint. However, the rest of NPC has been implemented, so hopefully this task can get picked up by future teams. For the NPC grammar specification of the dialogue tree, see `dsl_grammar.lark`. Futhermore, it looks like we are on track to complete the graph verification algorithms, so hopefully that will assist development of the dialogue pars

[2022-05-30 20:23] #1418 closed, assigned to wzeng0, awliu2, baigh1

[2022-05-30 21:08] #1462 closed, assigned to KabirDubey, nbilaver, arya32hub, anchristensen

[2022-05-30 21:16] #1412 closed, assigned to jhsivadas, alexlee0422, baigh1

[2022-05-30 23:12] csraffaga commented on #1262
This issue can be closed. Inventory display PRs have been pushed and are awaiting approval. In short, inventories can be draw to the screen and with specialized inputs from the GDL!

[2022-05-30 23:12] #1262 closed, assigned to dhirpalshah, csraffaga, ukanyanwu

[2022-05-30 23:14] csraffaga commented on #1509
Pull requests required the compilation of multiple makefiles in addition to refining code and tests etc... For each of the modules pushed our code built successfully and performed as desired. This issue can be closed.

[2022-05-30 23:14] #1509 closed, assigned to cyruszzhou, csraffaga, ukanyanwu

[2022-05-30 23:18] Vincent-Zhang4135 commented on #1680
I added the Battles integration to this page. This includes the description of the integration we made on consuming battle_item consumables to change player stats, but also the additional areas of improvements in further integration battle items and equipments. I also added a description of the multi class functionality, which is the main thing that we will be presenting in our demo.

[2022-05-31 00:10] #1597 closed, assigned to Vincent-Zhang4135, jroven, katie-gao

[2022-05-31 00:23] Vincent-Zhang4135 commented on #1519
As a part of PR #1458, william has also been able to fix the NPC_MOVEMENT_INDEFINITE test by changing the time parameter to be double, and initatializing a `stat_global_t` and changing the `room_t` room to get a generated one rather than testing aut_gen_movment on all_rooms separately. This test now pasts due to Williams fix, and as a result we will be closing this Issue now.

[2022-05-31 00:23] #1519 closed, assigned to Vincent-Zhang4135, jroven

[2022-05-31 00:45] Vincent-Zhang4135 commented on #1693
In the Examples Stats and Abilities Page, I filled in the relevant stats and skills for Basic, and Monk. Currently the NPC classes do not have a skills design, so these classes are not documented with their abilities, but their stats are populated.

The only thing left to do is to include some more items that the classes can use, which I have communicated with Jonathan to let him do that

[2022-05-31 00:47] majorsylvie commented on #1489
A lot of progress! we've added a readme and have a rough draft of commands we want to use to showcase bison!
We now will be working on making the output be prettier and easier to look at!
Here's the contents of the README as of 5/30/2022 7:45 pm:
[code]
mkdir out
make
./parser-bison
[code]

[2022-05-31 01:54] #1610 closed, assigned to RamarkoB, tatmaca, jackjackkimkim

[2022-05-31 02:08] majorsylvie commented on #1336
since the method is simple, we've added a lot of synonyms!
such as:
[code]
among others.

these are specified in the `.l` lex file!

[2022-05-31 02:24] jackjackkimkim commented on #1610
We were able to make updates to the legacy demonstrations to function correctly with the refactored code. The old demonstration can now make with the new refactored code design.

[2022-05-31 04:23] chelseaegbarin commented on #1496
Closing statement: everyone on the team met to finalize the use of the reader in the demo and also thought about how the reader could be expanded. Chelsea and Kabir developed the way conditional skills interacts with the reader whereas Nikola developed the reader itself. Future work will involve communicating the powerful functionality of the reader to other groups and expanding the context argume

[2022-05-31 04:23] #1496 closed, assigned to KabirDubey, nbilaver, chelseaegbarin

[2022-05-31 06:40] jhsivadas commented on #1416
We made a lot of updates to player class and npc to get them to run in chiventure. Merged those updates from the branches ```dsl/npc-support-modified``` and ```dsl/player-class``` into ```dsl/demo-test``` in order to run the player class and npc on demo file. Put the demo file (with no dialogue supported) into the ```dsl/demo-file``` branch as well as the corresponding demo file and a demo file wi

[2022-05-31 13:21] #1625 closed, assigned to sabinecodes15, HarrisonD123, jbrouwer5

[2022-05-31 13:49] jwschroeder21 commented on #1437
Update: we are now getting an error with compilation in our include paths that we are trying to fix. The error has something to do with the e-speak library that we will clone into a different repo.

[2022-05-31 13:51] jwschroeder21 commented on #1596
Update: we are working on implementing this struct, running into an error with including the e-speak library. We are trying to resolve this error to get the TTS working for our demo.

[2022-05-31 13:52] jwschroeder21 commented on #1600
Update, Elizabeth noted how these sounds are the same ones we added in another part of the code. Now, instead of duplicating the files, we will reference the file path of where they already exist.

[2022-05-31 15:33] #1514 closed, assigned to sglenn-uchi, srydbergcox, emilybae1705

[2022-05-31 15:37] #1529 closed, assigned to nicholaswlee, nmkhan100, corian-jal

[2022-05-31 15:59] philipchenaux commented on #1297
Issue Score: Excellent

Comments:
Great work, just a minor note: I though that the summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that t

[2022-05-31 16:01] #1254 closed, assigned to wzeng0, jhsivadas, awliu2

[2022-05-31 16:08] #1489 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-31 16:10] philipchenaux commented on #1301
Issue Score: Excellent

Comments:
Great job! I would advise that status updates on an issue should have something tangible to share. So in this case including brief documentation about how to get raylib loaded would be helpful.

[2022-05-31 16:27] katyashchukina commented on #1328
We implemented the current chiventure grammar! As seen in the demo, it now works with all prior commands, therefore we are closing this issue. We set up the commands to be recognised by kind, making it easier to add new commands. The code is currently in cli/sandbox branch in src/cli/sandbox, and includes the .l , .y , .c , .h file and a Makefile!

[2022-05-31 16:27] #1328 closed, assigned to katyashchukina, bzeng6, mrestuccia1

[2022-05-31 16:29] katyashchukina commented on #1336
We have implemented synonyms! A lot of the coding overlapped with the implement-current-grammar task , but once we did that, amending the grammar to add synonyms was a case of adding the synonyms separated by '|' to call each command in the .l file.

[2022-05-31 16:29] #1336 closed, assigned to katyashchukina, majorsylvie, bzeng6

[2022-05-31 16:36] #1252 closed, assigned to wzeng0, jhsivadas, baigh1

[2022-05-31 16:37] #1512 closed, assigned to HarrisonD123, Don-Osipov, KendrickXie

[2022-05-31 17:08] #1416 closed, assigned to jhsivadas, alexlee0422, baigh1

[2022-05-31 17:10] cyruszzhou commented on #1560
We tried to implement a multithreading version of the demo, which can be found here[https://github.com/Cyrus-Zhou2302/GraphicsDemo.git](url), However, we decided to not continue with it as it may be too much work during the final week. We will try to go through each module instead in the final presentation. Each of us will be responsible for 1-2 modules as specified by the work split. We followed

[2022-05-31 17:10] cyruszzhou commented on #1560
We close this issue as we are ready to go for the demo.

[2022-05-31 17:10] #1560 closed, assigned to cyruszzhou, dhirpalshah, imadejski, csraffaga, ukanyanwu

[2022-05-31 17:10] bzeng6 commented on #1489
Closing statement:

We feel that this issue is complete because we've implemented enough grammar that we feel we can use the module during the demo and thoroughly showcase the most relevant features of Bison for Chiventure. We've included lots of documentation so that later years can use and understand our demo as well, and we've made sure that the commands on our script work.

Brianna, Kate, and

[2022-05-31 17:19] emilybae1705 commented on #1514
We created a [design document](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-NPC-Battle-Integration-Changes-Design-Document) that details the changes we planned for creating a `tone_t` struct and hostility conversion function. Following this document, we implemented those changes by making a `tone_t` enum in `dialogue.h` and creating `make_npc_hostile()`, `make_npc_cond_friendly()`, and `ch

[2022-05-31 17:31] nicholaswlee opened #1714 "Finish making tests to test new move_t, stat_t, battle_item_t, and battle_equipment_t."
Testing still needs to be done for battles. The full outline for this is in the design [document](https://github.com/uchicago-cs/chiventure/wiki/Battle-~-Test-~-Moves-~-Items-~-Equipment-~-Design-Document). The past team has added a lot of changes to a lot of different structs, and we were not able to finish testing. Follow the design doc to implement all necessary tests that have not been impleme

[2022-05-31 17:40] sangerr commented on #1130
Closing Statement: This issue ended up being more of an exploration into the ways that we could integrate sound across chiventure, rather than implementing these different features. Through our demo, we showed how text to speech could be used in a conversation between a NPC and player in a sample game on VM. We hope that future sound teams can further explore this area and work to actually incorpo

[2022-05-31 17:40] #1130 closed

[2022-05-31 17:47] sangerr commented on #1600
Closing Statement: In this issue, we wrote tests for sound.c functions. While we initially wrote tests for sound_new, sound_init, load_wav, sound_free, and play_sound, there were large issues we encountered in trying to compile them. We ultimately only tested sound_new, which is the most critical function to sound.c, and were able to have those tests compile and pass. We would urge future teams to

[2022-05-31 17:48] cyruszzhou opened #1715 "GUI: figuring out a way to do multithreading on the current modules"
The current GUI operates on the basis of single modules. However, if we were to integrate graphics into the game program, it would be inefficient and buggy to run different executables. It would also be inflexible and chubby if we were to put everything into a single program. Therefore, I am trying to figure out a way to use multithreading to run every graphics module concurrently.

[2022-05-31 17:52] cyruszzhou commented on #1715
I have figured out a way to do multithreading on the modules. It would require the rungraphics functions to be tweaked a little bit. We would then be required to do pthreadcreate for each module, and also one thread for updating all graphics structs. I have a template for doing this through this link [https://github.com/Cyrus-Zhou2302/GraphicsDemo.git](url). I will be putting the rationale behind

[2022-05-31 17:53] cyruszzhou commented on #1715
Time only allowed me to provide a template for multithreading. I would not be able to finish everything this quarter (maybe I can continue working on this during the break?). I close the issue for now.

[2022-05-31 17:53] #1715 closed, assigned to cyruszzhou

[2022-05-31 18:13] junasano commented on #1573
The first PR was approved and merged and the second (and final) PR was approved by a peer and is waiting on the TA's approval.
Since it is close to being fully implemented and I will go forward with editing the wiki page.

[2022-05-31 18:25] #1624 closed, assigned to HarrisonD123, Don-Osipov, KendrickXie

[2022-05-31 18:30] #1636 closed, assigned to tatmaca, jackjackkimkim, mxu24

[2022-05-31 18:38] #1646 closed, assigned to RamarkoB, tatmaca, mxu24

[2022-05-31 18:51] #1561 closed, assigned to tatmaca, calvinytcheong2020, mxu24

[2022-05-31 19:00] #1530 closed, assigned to nicholaswlee, emiliolevinspage, aliu65803

[2022-05-31 19:09] #1643 closed, assigned to tatmaca, calvinytcheong2020, mxu24

[2022-05-31 19:15] #1545 closed, assigned to katie-gao, vanolson, wellingtj

[2022-05-31 19:15] #1672 closed, assigned to katie-gao, vanolson, wellingtj

[2022-05-31 19:36] junasano commented on #1573
The overall wiki update is now complete at:
https://github.com/uchicago-cs/chiventure/wiki/NPC-~-Action-Documentation
However, links to the backlog has to be still created as well as making sure this documentation shows up on the side bar.

[2022-05-31 19:36] #1650 closed, assigned to jwschroeder21, sangerr, parkerbroz

[2022-05-31 19:42] sglenn-uchi commented on #1678
I finished updating the wiki. I added sections documenting the inclusion of the `tone_t` struct as well as the Quests implementation. I also updated the [Loading NPCs from WDL Files](https://github.com/uchicago-cs/chiventure/wiki/NPC-~-Loading-NPCs-from-WDL-Files) page. I also created a list of interesting and logistical features that would improve the quality of Dialogue and NPC interactions in g

[2022-05-31 19:42] #1678 closed, assigned to sglenn-uchi

[2022-05-31 19:45] junasano commented on #1573
The two cards in the back log have now been linked to the wiki page. And the wiki page also shows up on the side bar.
The main part I changed was the structure section since the agent_t was not mentioned before and the linked list is also new. A whole new section of future work was also added.
Furthermore, the introduction was slightly modified to reflect the new names of the functions an the impl

[2022-05-31 19:45] #1573 closed, assigned to junasano

[2022-05-31 19:51] #1648 closed, assigned to RamarkoB, calvinytcheong2020, mxu24

[2022-05-31 19:51] #1655 closed, assigned to RamarkoB, jackjackkimkim, calvinytcheong2020

[2022-05-31 20:10] aliu65803 commented on #1530
The PR has successfully been merged, completing our work for this issue. For this issue, we have changed the previous examples to reflect the changes we have made throughout the term including updates to battle equipment, stats, items, and more. For our demo, we would like to showcase our battle CLI example, which will allow the user to input their actions through the CLI and run a battle that use

[2022-05-31 20:18] #1587 closed, assigned to junasano, srydbergcox, emilybae1705

[2022-05-31 20:25] sangerr commented on #1437
Closing Statement: In this issue, we created an example of what text to speech would look like in the chiventure game. We monkeypatched it into a sample conversation between an npc and individual, where the dialogue from the npc is read aloud. This is a great proof of concept of the potential for text to speech to alter the game experience. We had some challenges with compiling and building the de

[2022-05-31 20:28] #1656 closed, assigned to vanolson, wellingtj

[2022-05-31 20:33] jbrouwer5 commented on #1111
Since action-management created a new kind 4 self action, the npc actions are now kind 5,6, and 7.

[2022-05-31 20:33] #1574 closed, assigned to junasano, sglenn-uchi

[2022-05-31 20:43] katie-gao commented on #1680
I am adding multiclass integration to this page. This will include the prefabs we have, the functionalities we have with multiclasses, and where we can improve. It is also similar to https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Multiclassing:-Design multiclass design.

[2022-05-31 20:50] HarrisonD123 commented on #1593
Created rooms and added items to them in the demo file

[2022-05-31 20:50] HarrisonD123 commented on #1593
Created and assigned skills to the player struct we're using. This required adding skills to a skill tree manually

[2022-05-31 20:51] HarrisonD123 commented on #1593
Created and assigned quests and respective tasks to their hash tables in the game struct and the player struct

[2022-05-31 20:51] HarrisonD123 commented on #1593
Added items to the player's inventory hashtable. Some bugs regarding item names and CLI inputs were fixed. Demo now works for all view functions

[2022-05-31 20:51] vanolson commented on #1620
Closing comment: I submitted the edits, but Katie and Jake were heavily involved both in figuring out the demo's workings from last year and evolving it to this year, so they were instrumental to the development of these processes. We documented both the prefab class portion of the demo and the multiclass portion, in addition to providing instructions for getting the demo running and user processe

[2022-05-31 20:54] #1593 closed, assigned to sabinecodes15, jbrouwer5, KendrickXie

[2022-05-31 20:56] #1600 closed, assigned to jiaoboxuan, jwschroeder21, sangerr

[2022-05-31 20:58] katie-gao commented on #1680
In this issue, we added a page on the wiki page called Current State of Player Class, to write out all the things we worked on this past year, and directions for next year. While there were user stories, it was not always clear cut what we could work on and what was possible to work on. In particular, we covered multiclass, skills, npc integration, and battle integration. As a team, these were the

[2022-05-31 20:58] #1680 closed, assigned to Vincent-Zhang4135, jroven, katie-gao

[2022-05-31 21:06] #1700 closed, assigned to RamarkoB, jackjackkimkim, mxu24

[2022-05-31 21:06] #1703 closed, assigned to RamarkoB, jackjackkimkim, mxu24

[2022-05-31 21:12] jbrouwer5 commented on #1593
**Closing Statement**

We have fully implemented a demo with different rooms in Crerar along with items with conditional taking such as a rolex and a trophy. The demo is fully functional and also allows us to show off new actions such as view skills, view quests, view task, and view inventory. We have merged the pull request and this issue is now closed.

[2022-05-31 21:15] ukanyanwu commented on #1459
We've resolved the issues we faced for inventory_graphics tests, and inventory_graphics are now merged with the dev branch. Tests for the structs within inventory_graphics are written properly and pass, giving us confidence that our new/init/free functions that were written for inventory structs were written properly. The written tests allow further information on a deeper end of how these functio

[2022-05-31 21:15] #1459 closed, assigned to dhirpalshah, imadejski, ukanyanwu

[2022-05-31 21:21] ukanyanwu commented on #1602
Tests have been created and currently pass for stat graphics structs. Tests were made to validate that the new/init/free functions for pop_ups and screen_stats properly allocated and initialized values when their respective functions were called. As a whole, stat_graphics is not a fully implemented module within graphics. However, the inclusion of new/init/free functions, and their tests confirmin

[2022-05-31 21:21] #1602 closed, assigned to ukanyanwu

[2022-05-31 21:29] ukanyanwu commented on #1601
With the tests written for stats new/init/free functions, the functions themselves are currently stable. In future developments with the stats_graphics module, these functions can be useful as the structs themselves will have a lot of use when implementing the drawing functions within the stats module. It may also provide a starting point in implementing the rest of the module, as currently, the s

[2022-05-31 21:29] #1601 closed, assigned to ukanyanwu

[2022-05-31 21:32] #1437 closed, assigned to jiaoboxuan, jwschroeder21, sangerr, parkerbroz, JaStarbuck

[2022-05-31 21:35] vanolson commented on #1693
Jonathan, Vincent, and I wrote documentation for the new prefab items to the [Examples Stats and Abilities](https://github.com/uchicago-cs/chiventure/wiki/Player-Class-~-Example-Stats-and-Abilities) page on the player class wiki, splitting up the work to each add different items to the page. We added information on the name, short description, and long description, of each item listed in a new **I

[2022-05-31 21:35] #1693 closed, assigned to Vincent-Zhang4135, jroven, vanolson

[2022-05-31 21:35] RamarkoB commented on #1646
A new demo has been added to the custom-scripts folder which can take in multiple arguments and then pass it to Lua. The demo file is called gold.c and is in the examples folder of custom-scripts. Marking this issue as closed

[2022-05-31 21:44] RamarkoB commented on #1648
Over the course of Multiple pull requests, we now have a single demo that combines our previous smaller demos. This will be our final demo file for the year, and is called demo_2022.c

[2022-05-31 21:47] RamarkoB commented on #1655
We were able to add the two custom actions to the demo without hardcoding them in chiventure. This is visible in the demo_2022.c demo. Marking this issue as closed

[2022-05-31 21:47] bvvill commented on #1542
To summarize, the changes made in this branch were to ensure that the header (AKA `*.h`) files within chiventure are properly defined and terminated with `#ifndef`, `#define`, and `#endif` statements, followed by a newline at the EOF, such as:
[code]
This was done in order to avoid possible issues with legacy / historical UNIX utilities and to help optimize compiling so that headers aren't defined

[2022-05-31 21:50] RamarkoB commented on #1670
We successfully combined the gold.c demo with the demo_2022.c file to create a larger demo. This is visible in the demo_2022.c file. This demo_2022.c demo will be our final demo for our end-of-quarter demo. Marking this as closed.

[2022-05-31 21:51] #1702 closed, assigned to tatmaca, calvinytcheong2020, mxu24

[2022-05-31 21:53] RamarkoB commented on #1700
We restructured the map of our demo to create a more cohesive narrative of what the Custom Scripts team has accomplished this year. The demo will dynamically load a wdl file depending on input, as well as other examples that will change depending on input. Marking this issue as closed.

[2022-05-31 21:54] KendrickXie commented on #1513
### Closing Statement
We were able to write up an [entire wiki page](https://github.com/uchicago-cs/chiventure/wiki/Action-Management-~-Action-Types) describing the structure of actions. Specifically, we described actions of kinds 1-4, and what actions are included in each of those kinds. We also linked the NPC team's Wiki for explaining actions of kinds 5-7, since those actions all deal with NPCs

[2022-05-31 21:54] #1513 closed, assigned to HarrisonD123, Don-Osipov, KendrickXie

[2022-05-31 21:54] #1255 closed, assigned to wzeng0, awliu2, alexlee0422

[2022-05-31 21:54] tatmaca commented on #1702
This pull request is now closed! The custom-scripts team realized that our new demos for the end of the Spring Quarter incorporates some new Lua functionality. In order to make sure that this functionality is documented and proven in our codebase, we decided to create new tests. These tests have all passed, cover all new cases, and has been successfully merged!

[2022-05-31 21:56] #1592 closed, assigned to majorsylvie, milesgardner, bzeng6, mrestuccia1

[2022-05-31 21:57] bvvill commented on #1599
in summary: the goal of this pr was to make sure the correct `ut_hash_handle`s were being used regarding items held by NPCs, items in rooms, and NPCs in rooms, as well as making sure explicit NULL hash table initialization was consistent in these areas. This issue/PR achieved this goal and has been closed/merged

[2022-05-31 21:58] #1024 closed

[2022-05-31 21:59] bvvill commented on #1614
This issue has been closed because of the successful merge of the changes made above, as duplicate items can no longer coexist in the same hash table

[2022-05-31 22:00] Vincent-Zhang4135 commented on #1657
As a part of issue #1024, we have applied an `apply_item_stat_changes()` function battle_logic.c, and since it broke some of the tests, which was what this issue was for, we have also fixed the original tests that broke. Unfortunately, due to some conflicting design directions from battle teams and our side, some of our tests works while the additional ones that battle teams added fails, and so I

[2022-05-31 22:00] #1657 closed, assigned to Vincent-Zhang4135, jroven

[2022-05-31 22:04] #1553 closed, assigned to jiaoboxuan, emiliolevinspage, nmkhan100

[2022-05-31 22:06] RamarkoB commented on #1563
The [goals page](https://github.com/uchicago-cs/chiventure/wiki/Custom-Scripts-~-Goal) and the [documentation page](https://github.com/uchicago-cs/chiventure/wiki/Custom-Scripts-~-Using-Custom-Scripts) have both been updated to include changes made by the custom scripts team over the course of this year, so that future teams have a better starting off point for custom scripts moving forward

[2022-05-31 22:06] #1563 closed, assigned to RamarkoB, jackjackkimkim, mxu24

[2022-05-31 23:10] tatmaca commented on #1643
This issue is completed! We've successfully merged a branch which contains the "lost_order.c" demo. This is critical in the development of our final demo, as this demo is able to input three arguments into our Lua script and create unique outputs and in-game events as a result. While this issue is closed, we look forward to presenting this smaller demo in the greater context of our final demo.

[2022-05-31 23:12] tatmaca commented on #1561
This issue is now closed! In preparation for our final demo, we've merged a branch that runs a chiventure game and experiments with using Lua to manipulate boolean values. This simple function is critical as it can add easy game manipulation through the use of ON/OFF, ACTIVE/INACTIVE, etc. to implement logic on the players end as they progress through a game. This demo can be found in dark_room.c.

[2022-05-31 23:20] tatmaca commented on #1636
This issue is now closed! Both WDL files are read correctly by the Chiventure game and in both demonstrations the correct items are being loaded in with the proper associated actions. Since everything runs as it should, all tests have passed, and the merge request went through, this pull request is closed!

[2022-06-01 01:20] cyruszzhou opened #1717 "GUI: tweaking codes to enable dynamic demonstration"
The original version (in the dev branch) of the codes was not very flexible when it comes to the demonstration. Every struct must be allocated and initialized inside the codebase, so it would be hard for us to inform the audience what really is going on inside the code implementation. Therefore, I am going to try to produce a more audience-friendly version of executables by tweaking the original c

[2022-06-01 01:21] Vincent-Zhang4135 opened #1718 "Fix Testing in test_battle_logic.c"
As a part of issue #1024 and #1657, playerclass has implemented some changes to battle_logic.c, but some of these tests still are not adjusted for the most recent changes battle_logic.c made (#1661). As a result, I will open this issue for fixing these tests that now are not working for test_battle_logic.c

[2022-06-01 01:21] cyruszzhou commented on #1717
I have tweaked the main and run functions of the four modules in graphics_sandbox. Now it would be able for us to show (in the demo) that our graphics are dynamically implemented. I have also written scripts for running these executables in a sequence for DEMO (See the other issue). I believe that the current executables would take in corresponding inputs from the command line and spit out the thi

[2022-06-01 01:22] cyruszzhou commented on #1717
This issue is completed, and now I close it.

[2022-06-01 01:22] #1717 closed, assigned to cyruszzhou

[2022-06-01 03:14] sangerr commented on #1650
Closing Statement: In this issue, we provided documentation explaining the functionality of the tts structs. We edited the README.md in src/sound to provide this documentation. This documentation gave an overview, covered basic structure, showed how to do an example demo, and included info on the current status and future changes. We hope that this will help future teams in understanding how to in

[2022-06-01 15:54] jwschroeder21 commented on #1320
closing statement: In this issue, we created an example of sound using sound in chiventure through using the existing Chiventure structs. We installed the VM and then looked at the existing structures in other parts of the game.

[2022-06-01 15:59] parkerbroz commented on #1596
Success. The struct works and one of the other groups commented that it was easy to interface with.

[2022-06-01 15:59] #1596 closed, assigned to jwschroeder21, parkerbroz, JaStarbuck

[2022-06-01 16:20] cyruszzhou opened #1720 "GUI: preparing script for demo"
We are now ready to go with individual modules with dynamic inputs. We want to have a script for the demo for the purposes of 1) illustrating functionalities/variables of each graphics struct, 2) demonstrating the effects of their changes, and 3) making sure that the demo process goes as smooth as possible.  We want to touch on most possible cases so that the audience (other teams) can better get

[2022-06-01 16:55] cyruszzhou commented on #1720
I thought through the most particular parts of our codes that we wanted to demonstrate. Based on that, I have written the script and the workflow for the presentation on the computer-implementation side. I coordinated with my teammates and made sure that we followed the same sequence. I rigorously followed the order of commands during the demonstration (I was in charge of the whole computer manipu

[2022-06-01 16:56] cyruszzhou commented on #1720
I close this issue as everything is done for this class, including the presentation.

[2022-06-01 16:56] #1720 closed, assigned to cyruszzhou

[2022-06-01 17:22] cyruszzhou commented on #1209
We close this issue as everything specified is completed and the whole NPC module is now in a good shape!

[2022-06-01 17:22] #1209 closed, assigned to cyruszzhou, imadejski, ukanyanwu

[2022-06-01 18:50] ukanyanwu commented on #1572
A page discussing possible future directions for the current modules in chiventure is added to the Wiki. So, new developers of chiventure now have an additional reference point on how to expand upon the graphics module, which is especially important since this version of the module is new during this iteration of CMSC 220.  It is desired that the page can give a starting point when starting work w

[2022-06-01 18:50] #1572 closed, assigned to imadejski, csraffaga, ukanyanwu

[2022-06-02 01:12] lilyehsani commented on #1277
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-02 01:21] lilyehsani commented on #1282
Issue Score: Excellent

Comments:
Great work on this issue! The updates and closing statement are incredibly thorough. One comment:
1. While using Google Docs to sketch out some of the documentation, you should avoid posting links to those Google Docs from an issue, as it may cause confusion as to whether that document (or some future update to the wiki) is the most up-to-date version of that docu

[2022-06-02 01:28] lilyehsani commented on #1283
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-02 01:35] lilyehsani commented on #1285
Issue Score: Excellent

Comments:
Great work on this issue! Even though you can add labels to issues to categorize them, you should avoid titles that could plausibly apply to multiple teams. It would have been good to refer to "battle" stubs specifically in the title.

[2022-06-02 01:44] lilyehsani commented on #1287
Issue Score: Excellent

Comments:
Great work! One comment:
1. For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed. For example, it would have been nice to get updates about the debugging and what the bug was/how it was fixed.

[2022-06-02 01:49] lilyehsani commented on #1288
Issue Score: Excellent

Comments:
Great work on this issue! Good job particularly on the updates about the bug.

[2022-06-02 01:53] lilyehsani commented on #1292
Issue Score: Excellent

Comments:
Great work on this issue! Ordinarily, an issue associated with a PR shouldn't be closed when the PR is opened, but when the work associated with that issue is done (i.e., when the PR is complete and merged).

[2022-06-02 01:57] lilyehsani commented on #1302
Issue Score: Excellent

Comments:
Great work! One comment:
1. The issue was closed before it was actually done. Issues that involve writing code should be closed by their associated pull request.

[2022-06-02 02:05] lilyehsani commented on #1303
Issue Score: Excellent

Comments:
Great work! One comment:
1. The issue was closed before it was actually done. Issues that involve writing code should be closed by their associated pull request.

[2022-06-02 02:42] lilyehsani commented on #1306
Issue Score: Excellent

Comments:
Great work on this issue! Ordinarily, an issue associated with a PR shouldn't be closed when the PR is opened, but when the work associated with that issue is done (i.e., when the PR is complete and merged).

[2022-06-02 02:55] lilyehsani commented on #1312
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-02 03:03] elizabethli31 commented on #1433
Added all the code from this year and updated wiki pages regarding integration with other teams. Everything should be up to date with our code. We'll still need to add some issues for next year to the wiki

[2022-06-02 03:06] elizabethli31 commented on #1429
We did not get to actually working on this with the graphics team. Because we changed the prerequisite system so much this year, it would be nice to have this displayed by graphics.

[2022-06-02 03:43] JSerf02 commented on #1567
We designed the demo last Friday (forgot to update here) and needed to wait for NPC team and Action Management to submit their PRs before we could send ours

[2022-06-02 03:43] JSerf02 commented on #1567
Got the demo pulled into dev!

[2022-06-02 03:44] JSerf02 commented on #1567
We finished designing our final demo themed around vanquishing Steve the Dangerous: Master of Deceit and we got our demo pulled into dev!

[2022-06-02 03:44] #1567 closed, assigned to Castel-Jaloux, JSerf02, charlieweiler

[2022-06-02 03:45] JSerf02 commented on #1606
Charlie finished designing and implementing 2 functions for this purpose (one for printing status enums and another for printing the all of the quests with their statuses) a couple of days ago

[2022-06-02 03:45] JSerf02 commented on #1606
We debugged this function and made it bug free in time for our demo

[2022-06-02 03:46] JSerf02 commented on #1606
We finished designing and implementing the function to print the id and status of every quest in the player's hash table

[2022-06-02 03:46] #1606 closed, assigned to charlieweiler

[2022-06-02 03:48] JSerf02 commented on #1467
This was finished over a week ago, we just forgot to update the issue...

[2022-06-02 03:48] JSerf02 commented on #1467
We finished updating the WDL design document with the quest mission re-redesign

[2022-06-02 03:48] #1467 closed, assigned to JSerf02, charlieweiler

[2022-06-02 22:44] jacknugent1529 commented on #1253
Issue Score: Excellent

Comments: Nice work on this issue. Avoid using google docs, since they may not exist in the future, and in this way aren't great for documentation purposes.

[2022-06-02 22:51] jacknugent1529 commented on #1256
Issue Score: Excellent

Comments: Good job! Some of the updates could be a bit more detailed, but the frequency of updates is fantastic.

[2022-06-02 23:07] jacknugent1529 commented on #1278
Issue Score: Excellent

Comments: Excellent work! This issue requires fairly major implementation, so a few more updates would be helpful to understand your progress.

[2022-06-02 23:13] jacknugent1529 commented on #1279
Issue Score: Satisfactory

Comments: The wiki page looks very thorough (note that you can use triple backticks ``` for code blocks). However, you should add a few comments to the issue to describe what parts of the code you were exploring, and how you approached the issue.

[2022-06-02 23:21] jacknugent1529 commented on #1280
Issue Score: Satisfactory

Comments: Nice job exploring the issue and documenting your findings! It's unfortunate that last year's documentation doesn't provide a clear direction. Keep in mind that as you're looking into the code and meeting with other teams you should try to comment on the issue to describe your progress.

[2022-06-02 23:28] jacknugent1529 commented on #1334
Issue Score: Excellent

Comments: Excellent work on this issue! Nice job updating the issue with your progress. However, it's not necessary to include all the code you changed. If there's a particular line that's relevant (since it represented a major development, was a source of confusion, etc.) that's fine, but reviewing the entire code is done in the PR.

[2022-06-03 00:11] bvvill commented on #1353
In the refactoring of the NPC movement module, detailed in #1475, I implemented the `time_ray_t` struct, which has a `time_t start` and a `double assigned_time` field, which represents the initial time an NPC enters a room and the number of seconds that the NPC has been assigned to the room (this only applies to NPCs with an indefinite movement, as NPCs with definite movement have their movement a

[2022-06-03 00:12] #1353 closed, assigned to bvvill

[2022-06-03 02:41] jacknugent1529 commented on #1390
Issue Score: Satisfactory

Comments: Nice work on this issue. If you need to split an issue, try to do that as early as possible in the sprint, so you can get help from other teammates in figuring out the problems.

[2022-06-03 04:34] majorsylvie opened #1721 "cli: get bison to parse commands on "and" and ";""
currently, the only feature of current chiventure parsing that was unimplemented in bison was the ability to parse commands on semicolon and "and"

getting bison to parse commands generally on semicolons and "and" should not be difficult, and likely requires one level of definition above the current topmost seen in the bison-demo `.y` file.

[2022-06-03 04:36] majorsylvie opened #1722 "cli: figure out how to call on bison from within chiventure"
as of now, the functional bison code that has been written exists separate to chiventure code, integrating it into chiventure is a very large task that involes figuring out how to pass information into bison from a program as opposed to a direct command line executable call

this likely can be broken down into many smaller issues as the task progresses

[2022-06-03 04:38] majorsylvie opened #1723 "cli: figure out how to case desnsitize input into bison"
specifically, figuring out how to take input from the command line in bison, first cast it to a particular case, then feed that to flex/bison to be parsed.

this would take a string like : "GO North" and make it "go north", thus removing the necessity to add letter case matching cases in the `.l` file such as "GO|go|Go|gO" which become too complicated beyond 3 or 4 characters.

[2022-06-03 04:46] majorsylvie opened #1724 "cli: create internal developer focused documentation on how to implement new commands in bison"
this would involve a write-up, once bison is integrated in some way with chiventure, on how to add new functions into chiventure

this would allow other teams to easily add their own commands without having to know as much about bison.

would involve talking about the .l and .y file, along with the way c files have been chosen to be integrated with bison (likely by adding a new operation to operat

[2022-06-03 05:39] wellingtj opened #1725 "Finish Testing for Multiclassing"
Right now, we have a complete multiclassing module called multiclassing.c. We simply need to implement testing for this module's functions with the ideal end product of having testing to guarantee zero bugs in the multiclass function, since it is by far the most important function in the module.

[2022-06-03 14:44] jiaoboxuan opened #1726 "sound: integrate sound modules into different aspects of the game, specifically rpg-battles"
This issue will be placed in the sprint backlog just in case future teams want to start their sprint with it.

[2022-06-03 19:32] JaStarbuck commented on #1596
Closing statement: The text to speech struct was made in its own module and the functions have been demonstrated to work. We hope that other teams in the future will be able to expand on these functions, create new functions, and facilitate their usage by other teams.

[2022-06-03 20:02] HarrisonD123 opened #1727 "Reformat "view inventory" Inventory Printing to Account for Long Item Names"
The display_inventory function within game-state/player.c currently doesn't add padding to items when the inventory is printed to the terminal. This means that extremely long item names will offset the gridlines for the inventory. This function is used in the "view inventory" command supported in the do_self_action function. Either beyond a certain number of characters in an item name, truncate th

[2022-06-03 20:05] HarrisonD123 opened #1728 "Tests for the do_self_action function"
The do_self_action function implements a fairly straightforward nested if-statement. It works in our 2022 demo, but it would be nice to also write up some action_management tests to ensure that everything works as planned. The do_self_action function is described in detail in [this wiki page](https://github.com/uchicago-cs/chiventure/wiki/Action-Management-~-Do-Action-Functions).

[2022-06-03 20:12] HarrisonD123 opened #1729 "Support uppercase letters in inventory item names for the "view inventory" command and skill names for the "view skills" command"
Currently, the "view inventory" and "view inventory [inventory-item]" commands don't support uppercase letters in inventory item names. This is because the CLI team lowercases all strings inputted by the user before passing them to our do_action functions. This causes our display_inventory and display_inventory_item functions in game-state/player.c to be unable to find items with capital letters,

[2022-06-03 21:05] elizabethli31 opened #1730 "Quests: Implement KILL_NPC mission type"
We were able to incorporate quests into NPCs, but right now the player can only talk to them for task completion. Perhaps this can be how the KILL_NPC mission type is implemented, since that is currently used in some places in our tests but is not actually fully supported (missions of that type aren't automatically managed by Chiventure like other mission types). This could require working with th

[2022-06-03 21:10] elizabethli31 commented on #1308
We changed a lot of the code this year, especially functions and structs from previous years. Some of the headers are not accurate (like incorrect parameters), so these comments should be fixed.

[2022-06-03 21:12] elizabethli31 opened #1731 "Quests: Implement health in prerequisites"
The current implementation of health prerequisites assumes a "health" stat was added to the player, but we are unsure whether this is actually how health works in Chiventure. It could be worthwhile reaching out to the Player Classes team to see how they implemented health so we can do it the same way.

[2022-06-03 21:13] elizabethli31 opened #1732 "Quests: Allow for tasks to give multiple rewards upon completion"
Quest rewards can currently only give one item, but it would likely be better if they can give the player multiple items. A good task to start with would be replacing the current reward item implementation with a linked list of item pointers instead of just a single pointer. This would involve changing the item struct (and the management functions, including new, init, and free), the accept reward

[2022-06-03 21:16] elizabethli31 opened #1733 "Quests: Testing for quests cli functions"
In the quests_cli.h file, we wrote three functions that would store what we wanted CLI/action management to display on the command line as strings. We tested these functions quickly through print statements in some of our other tests, and they all work through the command line. But we did not write any tests specifically for these functions

[2022-06-04 14:26] philipchenaux commented on #1165
Issue Score: Excellent

Comments:
Great job! My only comment here is that you did not include an update when you linked the Quests/add ctx PR to this issue. You should explain the significance of this PR in this issue.

[2022-06-04 14:29] philipchenaux commented on #1209
Issue Score: Excellent

Comments:
Great work! Next time it is worth adding links to wikis/code that outline the exact specifications so that anyone who reads through this issue can follow what is going on.

[2022-06-04 14:30] philipchenaux commented on #1258
Issue Score: Excellent

Comments:
Great work, a minor issue, but great nonetheless!

[2022-06-04 14:34] philipchenaux commented on #1262
Issue Score: Excellent

Comments:
Great work on this issue and a very through set of updates.

[2022-06-04 14:39] philipchenaux commented on #1273
Issue Score: Excellent

Comments:
Great work! Note that ideally an issue started in one sprint will be completed by the end of that sprint and not drag onto the next one.

[2022-06-04 14:40] philipchenaux commented on #1294
Issue Score: Excellent

Comments:
Great work -- short and to the point!

[2022-06-04 14:42] philipchenaux commented on #1296
Issue Score: Excellent

Comments:
Great work! But note that for a task of this size, we would've expected to see more status updates and/or status updates that were more detailed.

[2022-06-04 14:45] philipchenaux commented on #1300
Issue Score: Satisfactory

Comments:
Great work! There are just two notable issues:
1. The issue was started in sprint 3 and ended in sprint 4
2. The summary of the issues is too terse, you should at least explain what scenes are.

[2022-06-04 14:46] philipchenaux commented on #1310
Issue Score: Excellent

Comments:
Great work, the issue is thorough and concise.

[2022-06-04 14:50] philipchenaux commented on #1311
Issue Score: Excellent

Comments:
Great work on this issue, very thorough and a nice link to a wiki.

[2022-06-04 14:52] philipchenaux commented on #1313
Issue Score: Excellent

Comments:
Well done including a closing statement explaining the split task.

[2022-06-04 14:54] philipchenaux commented on #1314
Issue Score: Excellent

Comments:
Good work with this issue, next time adding a direct link to the wiki will be helpful.

[2022-06-04 15:02] philipchenaux commented on #1317
Issue Score: Excellent

Comments:
Great work! Good set of updates and closing statement.

[2022-06-04 15:05] philipchenaux commented on #1318
Issue Score: Excellent

Comments:
Great work! As always an excellent set of updates, and overall exemplary issue.

[2022-06-04 15:06] philipchenaux commented on #1321
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 15:08] philipchenaux commented on #1323
Issue Score: Excellent

Comments:
Great job, and good to see that you reopened the issue to provide an update on a change to this issue.

[2022-06-04 15:10] philipchenaux commented on #1325
Issue Score: Excellent

Comments:
A well-justified explanation as to why the other functionalities are not needed and well done including links to related issues.

[2022-06-04 15:12] philipchenaux commented on #1326
Issue Score: Excellent

Comments:
Really happy with how this issue looks: a thorough summary and good closing statement.

[2022-06-04 15:14] philipchenaux commented on #1329
Issue Score: Satisfactory

Comments:
Great work! I have one comment, however, that your issue did not include any status updates between the opening of the issue and the closing of the issue (and this issue was not small enough to justify having no status updates at all). If you make any intermediate progress before finishing the task, then it should be documented on the GitHub issue via a comment

[2022-06-04 15:18] philipchenaux commented on #1341
Issue Score: Excellent

Comments:
Great work, but I would have liked the summary to expand a bit more on what those three aspects are. Specifically explaining what unloading and texture rendering are would be helpful.

[2022-06-04 15:20] philipchenaux commented on #1347
Issue Score: Excellent

Comments:
Great job, next time adding a quick explanation about what you added to the wiki during the update would be helpful.

[2022-06-04 15:21] philipchenaux commented on #1348
Issue Score: Excellent

Comments:
Great work on this issue -- straightforward but important nonetheless.

[2022-06-04 15:23] philipchenaux commented on #1349
Issue Score: Excellent

Comments:
Great work, but I would have liked to see a more detailed summary explaining what was difficult about the original code and what you intended to refactor.

[2022-06-04 15:24] philipchenaux commented on #1351
Issue Score: Excellent

Comments:
Another exemplary issue -- great work!

[2022-06-04 15:26] philipchenaux commented on #1352
Issue Score: Excellent

Comments:
Great job, next time I would have liked to see inclusion of the specific functions that you wrote and any other design decisions that you had to make.

[2022-06-04 15:28] philipchenaux commented on #1357
Issue Score: Excellent

Comments:
A relatively straight forward issue, well done.

[2022-06-04 15:42] philipchenaux commented on #1366
Issue Score: Satisfactory

Comments:
Great job, but I have two main comments:
1. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that

[2022-06-04 15:44] philipchenaux commented on #1369
Issue Score: Excellent

Comments:
Great work, but next time I would like to see a brief explanation as to why the initial data structures were not freed properly (i.e. what was incorrect with the original code), as this can be useful for reference.

[2022-06-04 15:45] philipchenaux commented on #1374
Issue Score: Excellent

Comments:
An excellent issue!

[2022-06-04 15:47] philipchenaux commented on #1376
Issue Score: Excellent

Comments:
A nice and simple issue -- well done!

[2022-06-04 15:51] philipchenaux commented on #1385
Issue Score: Excellent

Comments:
Great job, next time I would have liked to see a more thorough summary explaining what exactly needs to be changed in the tests.

[2022-06-04 15:56] philipchenaux commented on #1386
Issue Score: Excellent

Comments:
Great job on this issue, straight to the point!

[2022-06-04 15:57] philipchenaux commented on #1387
Issue Score: Excellent

Comments:
Great job splitting this issue between the two sprints and including sufficient updates!

[2022-06-04 15:59] philipchenaux commented on #1392
Issue Score: Satisfactory

Comments:
Great job on the issue, however your issue did not include any status updates between the opening of the issue and the closing of the issue (and this issue was not small enough to justify having no status updates at all). If you make any intermediate progress before finishing the task, then it should be documented on the GitHub issue via a comment.

[2022-06-04 16:01] philipchenaux commented on #1398
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 16:03] philipchenaux commented on #1411
Issue Score: Excellent

Comments:
Brief but to the point -- well done!

[2022-06-04 16:03] philipchenaux commented on #1413
Issue Score: Excellent

Comments:
Excellent work on this issue!

[2022-06-04 16:04] philipchenaux commented on #1414
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 16:05] philipchenaux commented on #1415
Issue Score: Excellent

Comments:
Great work!

[2022-06-04 16:06] philipchenaux commented on #1417
Issue Score: Excellent

Comments:
Great work!

[2022-06-04 16:07] philipchenaux commented on #1419
Issue Score: Excellent

Comments:
Great work on this issue with a good set of updates!

[2022-06-04 16:13] philipchenaux commented on #1425
Issue Score: Excellent

Comments:
Great work, my only comment is that I wish the summary was a bit more thorough.

[2022-06-04 16:14] philipchenaux commented on #1426
Issue Score: Excellent

Comments:
Great job and good to see so many updates.

[2022-06-04 16:16] philipchenaux commented on #1428
Issue Score: Excellent

Comments:
A brief but good issue! Note that next time, you should include an explicit closing statement.

[2022-06-04 16:18] philipchenaux commented on #1430
Issue Score: Excellent

Comments:
Great job on this issue!

[2022-06-04 16:20] philipchenaux commented on #1434
Issue Score: Excellent

Comments:
Good issue that immediately addressed a bug in the dev branch!

[2022-06-04 16:22] philipchenaux commented on #1439
Issue Score: Excellent

Comments:
Excellent work on this issue!

[2022-06-04 16:23] philipchenaux commented on #1442
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 16:24] philipchenaux commented on #1446
Issue Score: Excellent

Comments:
A thorough set of updates -- well done!

[2022-06-04 16:25] philipchenaux commented on #1459
Issue Score: Excellent

Comments:
An exemplary issue, well done!

[2022-06-04 19:14] philipchenaux commented on #1468
Issue Score: Excellent

Comments:
Great work on this issue, but I would have like to see a more thorough summary that fully describes your goal for the issue,

[2022-06-04 19:15] philipchenaux commented on #1469
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 19:16] philipchenaux commented on #1471
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-04 19:17] philipchenaux commented on #1472
Issue Score: Excellent

Comments:
Great work on this issue, especially the updates.

[2022-06-04 19:17] philipchenaux commented on #1473
Issue Score: Excellent

Comments:
Great work on this issue, especially the updates.

[2022-06-04 19:20] philipchenaux commented on #1481
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-04 19:25] philipchenaux commented on #1495
Issue Score: Excellent

Comments:
A brief, but nonetheless good issue!

[2022-06-04 19:28] philipchenaux commented on #1500
Issue Score: Excellent

Comments:
A minor issue, but well done!

[2022-06-04 19:29] philipchenaux commented on #1501
Issue Score: Excellent

Comments:
Great work, but next time add a closing statement to your issue to indicate it is finished.

[2022-06-04 19:30] philipchenaux commented on #1505
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-04 19:32] philipchenaux commented on #1509
Issue Score: Excellent

Comments:
Great job, but I would have liked to see some tangible outcomes on some of the updates.

[2022-06-04 19:33] philipchenaux commented on #1511
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-04 19:34] philipchenaux commented on #1526
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-04 23:00] #1433 closed, assigned to JSerf02, jakeziqiwei, elizabethli31

[2022-06-05 01:46] lilyehsani commented on #1372
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 01:57] lilyehsani commented on #1370
Issue Score: Excellent

Comments:
Great work on this issue! Two comments:
1. For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed.
2. Ordinarily, an issue associated with a PR shouldn't be closed when the PR is opened, but when the work associated with that issue is done (i.e., when the PR is complete and merged).

[2022-06-05 02:22] lilyehsani commented on #1354
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 02:36] lilyehsani commented on #1024
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 02:40] lilyehsani commented on #1339
Issue Score: Excellent

Comments:
Great work on this issue! The updates are very thorough.

[2022-06-05 02:50] lilyehsani commented on #1346
Issue Score: Satisfactory

Comments:
Great work! Two comments:
1. For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed.
2. The issue was closed before it was actually done. Since the code was not pulled, the issue should have either been moved to the backlog or linked to a new issue about getting the code pulled.

[2022-06-05 03:01] lilyehsani commented on #1355
Issue Score: Satisfactory

Comments:
Great work! Two comments:
1. The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples). If this issue was generated from a Scrum board card, please remember that the summary yo

[2022-06-05 03:35] lilyehsani commented on #1356
Issue Score: Excellent

Comments:
Great work on this issue! Status updates on an issue should have something tangible to share.

[2022-06-05 03:45] lilyehsani commented on #1371
Issue Score: Excellent

Comments:
Great work on this issue! The title of an issue has to convey what the issue will be producing. In the future, try using simple titles with a "Verb-Object" structure that clearly states what you will be doing in the issue (e.g., “Design and implement a ‘circle’ module”, “Research libraries for drawing simple geometric shapes”, etc.)

[2022-06-05 09:45] philipchenaux commented on #1532
Issue Score: Excellent

Comments:
Great work, but I would have like to see a more detailed summary explaining what exactly you intend to test.

[2022-06-05 09:48] philipchenaux commented on #1540
Issue Score: Excellent

Comments:
Great work, but I would have like to see a more detailed summary explaining what exactly you intend to test.

[2022-06-05 09:52] philipchenaux commented on #1544
Issue Score: Satisfactory

Comments:
Great job, but I have two key comments about this issue:
1. Your issue did not include any status updates between the opening of the issue and the closing of the issue (and this issue was not small enough to justify having no status updates at all). If you make any intermediate progress before finishing the task, then it should be documented on the GitHub issue

[2022-06-05 09:53] philipchenaux commented on #1546
Issue Score: Excellent

Comments:
Great job on this issue -- simple but straightforward.

[2022-06-05 09:56] philipchenaux commented on #1558
Issue Score: Excellent

Comments:
Great job, but next time make sure to include a closing statement.

[2022-06-05 09:57] philipchenaux commented on #1564
Issue Score: Excellent

Comments:
Great job on this minor issue!

[2022-06-05 09:58] philipchenaux commented on #1566
Issue Score: Excellent

Comments:
Excellent job on this issue, but next time make sure to include a closing statement.

[2022-06-05 10:00] philipchenaux commented on #1567
Issue Score: Excellent

Comments:
Great work, but ideally the status updates should have something tangible to share!

[2022-06-05 10:01] philipchenaux commented on #1572
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-05 10:02] philipchenaux commented on #1601
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-05 10:03] philipchenaux commented on #1602
Issue Score: Excellent

Comments:
Great job on this issue -- simple but important!

[2022-06-05 10:09] philipchenaux commented on #1618
Issue Score: Excellent

Comments:
Great job on this issue with a good set of updates!

[2022-06-05 10:16] philipchenaux commented on #1677
Issue Score: Excellent

Comments:
Great work on this minor issue!

[2022-06-05 18:25] lilyehsani commented on #1402
Issue Score: Satisfactory

Comments:
Great work! Two comments:
1. The issue was closed before it was actually done and reopened repeatedly. The appropriate time to close the issue is when the PR is merged.
2. The issue was started in one sprint, but was not completed until the next one.

[2022-06-05 18:34] lilyehsani commented on #1443
Issue Score: Excellent

Comments:
Great work on this issue! The updates are very thorough.

[2022-06-05 18:37] lilyehsani commented on #1444
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 18:39] lilyehsani commented on #1445
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 18:43] lilyehsani commented on #1448
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 19:00] lilyehsani commented on #1453
Issue Score: Excellent

Comments:
Great work on this issue! The wiki page looks great too.

[2022-06-05 19:02] lilyehsani commented on #1457
Issue Score: Excellent

Comments:
Great work on this issue! The closing statement is very thorough.

[2022-06-05 20:06] philipchenaux commented on #1424
Issue Score: Excellent

Comments:
Great work on this issue, especially the many updates!

[2022-06-05 20:50] lilyehsani commented on #1475
Issue Score: Excellent

Comments:
Great work on this issue! The updates are fantastic.

[2022-06-05 21:18] lilyehsani commented on #1490
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 21:23] lilyehsani commented on #1503
Issue Score: Excellent

Comments:
Great work on this issue! Even though you can add labels to issues to categorize them, you should avoid titles that could plausibly apply to multiple teams

[2022-06-05 21:32] lilyehsani commented on #1514
Issue Score: Excellent

Comments:
Great work on this issue! The summary, updates, and closing are very thorough. The issue was closed before it was actually done. Remember that a PR resulting in code should be closed automatically when its PR is merged.

[2022-06-05 21:36] lilyehsani commented on #1519
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 21:42] lilyehsani commented on #1528
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 21:45] lilyehsani commented on #1529
Issue Score: Excellent

Comments:
Great work on this issue! The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples).

[2022-06-05 21:47] lilyehsani commented on #1530
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 21:49] lilyehsani commented on #1533
Issue Score: Excellent

Comments:
Great work on this issue! Status updates on an issue should have something tangible to share, so updates about when you are beginning to work on something are not really necessary.

[2022-06-05 22:04] lilyehsani commented on #1545
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 22:09] lilyehsani commented on #1550
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 22:15] lilyehsani commented on #1569
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 22:20] lilyehsani commented on #1573
Issue Score: Excellent

Comments:
Great work on this issue! The summary for this issue is too terse. A good rule of thumb is that you should be writing at least one full paragraph in your summary (see https://uchicago-cs.github.io/cmsc22000/project/issue-pr-grading.html#descriptive-summary for examples).

[2022-06-05 22:21] lilyehsani commented on #1574
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 22:25] lilyehsani commented on #1542
Issue Score: Excellent

Comments:
Great work on this (minor) issue!

[2022-06-05 22:32] lilyehsani commented on #1587
Issue Score: Excellent

Comments:
Great work on this issue! For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed. The given updates are thorough, but they identify some uncertainties that I would expect further updates to clarify.

[2022-06-05 22:41] lilyehsani commented on #1595
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 23:01] lilyehsani commented on #1599
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 23:05] lilyehsani commented on #1612
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 23:08] lilyehsani commented on #1614
Issue Score: Excellent

Comments:
Great work on this issue! The updates are very thorough.

[2022-06-05 23:14] lilyehsani commented on #1620
Issue Score: Excellent

Comments:
Great work on this issue! The page looks great as well.

[2022-06-05 23:22] lilyehsani commented on #1630
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 23:29] lilyehsani commented on #1656
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-05 23:32] lilyehsani commented on #1657
Issue Score: Excellent

Comments:
Great work on this issue! The summary and closing statement are very thorough.

[2022-06-05 23:37] lilyehsani commented on #1658
Issue Score: Satisfactory

Comments:
Great work! Your issue did not include any status updates between the opening of the issue and the closing of the issue (and this issue was not small enough to justify having no status updates at all). If you make any intermediate progress before finishing the task, then it should be documented on the GitHub issue via a comment.

[2022-06-06 15:23] jacknugent1529 commented on #1252
Issue Score: Satisfactory

Comments: Nice work on this issue! I know parsing can be tricky, but it looks like you were able to work through it well, and the updates documented your progress. Be careful not to to use google docs because they may not be available in the future for others to reference as documentation. Also, this issue was started in sprint 3, but not completed until sprint 4.

[2022-06-06 15:29] jacknugent1529 commented on #1254
Issue Score: Excellent

Comments: Nice work on this issue! It was spread out over two sprints, but it looks like you were able to work through the problems you encountered, and the comments documented your progress very well.

[2022-06-06 15:36] jacknugent1529 commented on #1271
Issue Score: Excellent

Comments: Great work on this issue! The updates are very thorough and are great for documenting your progress. The task description could be a bit more thorough to clarify what the specifications from the action management team and UI team are exactly.

[2022-06-06 15:41] jacknugent1529 commented on #1298
Issue Score: Excellent

Comments: Fantastic work on this issue! The updates are very well written and explain your progress very well. You also did a great job of linking relevant documents and resources.

[2022-06-06 15:48] jacknugent1529 commented on #1328
Issue Score: Excellent

Comments: Excellent work on this issue! It's really cool to see bison work in this way and it has a lot of potential to improve chiventure. The updates are great overall, although if you bring up a question or issue, be sure to address it in a future update.

[2022-06-06 15:53] jacknugent1529 commented on #1335
Issue Score: Satisfactory

Comments: It looks like you did great work implementing and writing tests based on the pull request. However, you should be a bit more descriptive both in writing the summary of the task and the updates in order to better describe your progress.

[2022-06-06 15:59] jacknugent1529 commented on #1336
Issue Score: Excellent

Comments: Nice work on this issue! The updates are well-written and demonstrate how you resolved the issue. (One comment on the grammar itself – `^` refers to the start of a string, so, `^put|PUT` will recognize `put` only at the start of the string but will recognize `PUT` anywhere in the string. I'm not sure if this is intentional or not).

[2022-06-06 16:07] jacknugent1529 commented on #1340
Issue Score: Excellent

Comments: Great work! The updates for this issue could be a bit more frequent and thorough (e.g. what was difficult about writing the execute functions?). The closing statements and task summary were very well done, and linking the wiki page was helpful.

[2022-06-06 16:16] jacknugent1529 commented on #1344
Issue Score: Excellent

Comments: Nice work looking into this! Even though it wasn't possible to produce a design document, you were able to summarize your ideas well, which will be helpful for someone looking at this in the future. I know this has been mentioned before, but google docs are generally not the appropriate tool when working with github. Instead, try to use wiki pages and issue update

[2022-06-06 16:37] philipchenaux commented on #1485
Issue Score: Excellent

Comments:
Great job on this issue -- simple but important!

[2022-06-06 16:38] jacknugent1529 commented on #1416
Issue Score: Excellent

Comments: Nice work on this issue! It looks like this demonstrates well the features you added to the DSL. Due to the length it is not necessary to paste the entire wdl into a comment, but you could include a few sections if those are particularly relevant. Also, see this from the issue grading page about google docs

[2022-06-06 16:39] philipchenaux commented on #1433
Issue Score: Excellent

Comments:
Great job on this issue, next time try to make your updates tangible!

[2022-06-06 16:41] philipchenaux commented on #1375
Issue Score: Excellent

Comments:
Great job on this issue, good summary and closing statement!

[2022-06-06 16:42] jacknugent1529 commented on #1418
Issue Score: Excellent

Comments: Fantastic work on this issue! Breaking down the various aspects of the documentation and creating a checklist was a great way to approach this and ensure that the documentation is consistent.

[2022-06-06 16:46] jacknugent1529 commented on #1421
Issue Score: Excellent

Comments: Great work on this issue! The refactoring was much needed. When writing updates, try to include tangible progress or explain the motivation for refactoring in the manner you chose.

[2022-06-06 16:48] philipchenaux commented on #1269
Issue Score: Excellent

Comments:
Great job on this issue, but note that next time try to make the issue summary more comprehensive by clearly explaining the issue.

[2022-06-06 16:49] jacknugent1529 commented on #1460
Issue Score: Excellent

Comments: Fantastic work! The comments here are very thorough and explain very well how you approached this issue.

[2022-06-06 16:49] philipchenaux commented on #1521
Issue Score: Excellent

Comments:
Great job on this issue -- simple but important!

[2022-06-06 16:50] philipchenaux commented on #1525
Issue Score: Excellent

Comments:
Great job on this issue!

[2022-06-06 16:54] philipchenaux commented on #1588
Issue Score: Excellent

Comments:
Great job on this issue, good that you resolved this confusion before implementing the change!

[2022-06-06 16:54] jacknugent1529 commented on #1461
Issue Score: Excellent

Comments: Nice work on this issue! The wiki page will certainly be useful for people using skill trees. Keep in mind that when writing updates, try to include specific and tangible items (e.g. which "broad subjects").

[2022-06-06 17:00] jacknugent1529 commented on #1462
Issue Score: Excellent

Comments: Nice work on this issue! The demo file was very well made. In the comments, try to be a bit more specific – rather than vague statements such "Still need to add more room," include what rooms could be added and why these would be relevant.

[2022-06-06 17:08] jacknugent1529 commented on #1486
Issue Score: Excellent

Comments: Great work on this issue! The documentation looks well organized, and it looks like you split it up well to cover all aspects.

[2022-06-06 17:11] jacknugent1529 commented on #1487
Issue Score: Excellent

Comments: Great work on this issue! This documentation could be very useful to future teams.

[2022-06-06 17:15] jacknugent1529 commented on #1489
Issue Score: Excellent

Comments: Great work on this issue!

[2022-06-06 17:19] jacknugent1529 commented on #1497
Issue Score: Excellent

Comments: Great work on this issue! Additional testing will certainly help the reliability of the cli.

[2022-06-06 17:31] jacknugent1529 commented on #1520
Issue Score: Excellent

Comments: Excellent work on this issue! The updates are detailed and demonstrate your progress and the usefulness of this feature.

[2022-06-06 21:45] ecoble commented on #1293
Issue Score: Excellent

Comments:
Great job on this task, the text to speech is really cool especially for the demo! Nice job with the frequent updates as well!

[2022-06-06 21:48] ecoble commented on #1319
Issue Score: Excellent

Comments:
Great job finishing up these modules, this is a big step for sound in Chiventure!

[2022-06-06 21:53] lilyehsani commented on #1672
Issue Score: Excellent

Comments:
Great work on this issue! The closing statement is very thorough.

[2022-06-06 21:57] ecoble commented on #1320
Issue Score: Excellent

Comments:
Great job getting this working, I know there was quite a lot to debug, and great job on the updates! There is a penalty for the issue starting in sprint 3 but completing in sprint 4. Additionally, issues with associated PRs should not be closed until the PR is merged, but I can see that you realized this later on and corrected it. Nice job!

[2022-06-06 22:04] ecoble commented on #1377
Issue Score: Excellent

Comments:
Great job diving into the Chiventure code and updating this issue with your findings!

[2022-06-06 22:13] ecoble commented on #1436
Issue Score: Excellent

Comments:
Nice job on this documentation, the sound module is one that is trickier to use because of all the external libraries so this documentation was really needed!

[2022-06-06 22:23] jacknugent1529 commented on #1554
Issue Score: Excellent

Comments: Nice work on this issue! Keep in mind that google docs doesn't work very well for documentation purposes. This is explained in the pr grading page:

[2022-06-06 22:27] jacknugent1529 commented on #1565
Issue Score: Satisfactory

Comments: Nice work on this issue! The updates are detailed, however the issue description should go into a bit more depth about the specifications. Additionally, the specifications should be placed in a wiki page rather than google docs.

[2022-06-06 22:36] jacknugent1529 commented on #1592
Issue Score: Excellent

Comments: Great work writing the demo! Even though the task might be clear to yourself and there may be documentation elsewhere, it would still be better to expand on the issue description to give others a better idea of what you intended with this task

[2022-06-06 23:05] jacknugent1529 commented on #1342
Issue Score: Satisfactory

Comments: Solid work on this issue! The updates are thorough, but avoid using google docs and instead try to use wiki pages or the comments on an issue. Additionally, be sure an issue is finished before closing it.

The PR grading page gives an explanation for why to avoid google docs:

[2022-06-06 23:16] jacknugent1529 commented on #1412
Issue Score: Excellent

Comments: Nice work on this issue! The updates are very detailed, but, as mentioned previously, use github wiki pages or the issue discussion itself instead of google docs.

[2022-06-06 23:33] jacknugent1529 commented on #1255
Issue Score: Excellent

Comments: Nice work on this issue! Even though it took longer to complete, I think it is very useful for ensuring that the dsl parser is consistent and accurate.

[2022-06-06 23:36] jacknugent1529 commented on #1479
Issue Score: Satisfactory

Comments: Nice work implementing this feature! Even though this task was split from the single task, it still needs a detailed description and updates as you make progress on the issue.

[2022-06-06 23:37] lilyehsani commented on #1678
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-06 23:39] lilyehsani commented on #1679
Issue Score: Excellent

Comments:
Great work on this issue! For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed. Particularly, it would have been good to link the page that you updated.

[2022-06-06 23:39] jacknugent1529 commented on #1270
Issue Score: Excellent

Comments: Nice work on this issue! Even though it took part of 2 sprints, it's good to resolve these difficulties so they hopefully won't be a problem in the future.

[2022-06-06 23:55] lilyehsani commented on #1680
Issue Score: Excellent

Comments:
Great work on this issue! The updates and closing statement are very thorough.

[2022-06-06 23:57] ecoble commented on #1437
Issue Score: Excellent

Comments:
Great job on this demo, it was fantastic! Nice job keeping this issue updated as well! Thanks for being an awesome team!

[2022-06-07 00:00] ecoble commented on #1365
Issue Score: Needs Improvement

Comments:
Good job fixing this issue! The summary here could use some fleshing out, additionally there are no updates on the issue and no closing statement summarizing the outcome of the issue.

[2022-06-07 00:02] ecoble commented on #1464
Issue Score: Excellent

Comments:
Great job completing this and diving into the SDL library to figure it out!

[2022-06-07 00:03] ecoble commented on #1551
Issue Score: Excellent

Comments:
Great job debugging this issue and adapting your code along the way! Nice job updating the issue too!

[2022-06-07 00:08] lilyehsani commented on #1693
Issue Score: Excellent

Comments:
Great work on this issue! The updates are very thorough.

[2022-06-07 00:08] ecoble commented on #1553
Issue Score: Excellent

Comments:
Nice work debugging this, and also pivoting when you realized you wouldn't be able to make the initial plan work given time constraints. The summary could be a bit more fleshed out in terms of what you want to accomplish, since it is a bit broad right now. Additionally you should not close an issue if it has an associated PR until that PR is merged, but it looks l

[2022-06-07 00:14] ecoble commented on #1555
Since this ended up being a duplicate issue, the milestone has been removed and it will be ungraded.

[2022-06-07 00:17] jacknugent1529 commented on #1066
Issue Score: Excellent

Comments: Great work on this issue! The comments documenting coordination with the playerclass team were very detailed.

[2022-06-07 00:19] ecoble commented on #1562
Removing the milestone as it is a duplicate issue and will be ungraded.

[2022-06-07 00:24] jacknugent1529 commented on #1343
Issue Score: Excellent

Comments: Great work on this issue! The comments are detailed, and the additional comment describing later changes prevents confusion for future teams. As mentioned before, use wiki pages for design documents rather than google docs.

[2022-06-07 00:24] ecoble commented on #1579
Issue Score: Excellent

Comments:
Great job on this example! It is a smart idea to get a small demo working before moving onto a more robust example.

[2022-06-07 00:31] ecoble commented on #1577
Issue Score: Excellent

Comments:
Great job on this documentation, I am sure it will make text to speech much easier to work with for future teams!

[2022-06-07 00:38] lilyehsani commented on #1597
Issue Score: Excellent

Comments:
Great work on this issue!

[2022-06-07 00:39] ecoble commented on #1650
Issue Score: Excellent

Comments:
Great job on this documentation, and great summary and closing statement!

[2022-06-07 00:51] ecoble commented on #1622
Issue Score: Satisfactory

Comments:
Nice job creating these new functions! Though this issue wasn't too difficult, there should still be a couple status updates on your progress.

[2022-06-07 00:52] ecoble commented on #1600
Issue Score: Excellent

Comments:
Great job writing the first tests for the sound module!

[2022-06-07 00:53] ecoble commented on #1596
Issue Score: Excellent

Comments:
Nice job creating an easy to use interface and debugging the e-speak library issues!

[2022-06-07 01:06] ecoble commented on #1628
Issue Score: Excellent

Comments:
Great job collaborating with other teams on this issue! Nice job on the thorough updates and closing statement as well!

[2022-06-07 01:06] jacknugent1529 commented on #1345
Issue Score: Excellent

Comments: Great work on this issue! Even if it didn't turn out as you might have hoped, it will be useful as documentation for future teams.

[2022-06-07 01:07] ecoble commented on #1625
Issue Score: Excellent

Comments:
Great job implementing this, nice closing statement!

[2022-06-07 01:08] ecoble commented on #1624
Issue Score: Excellent

Comments:
Great job! Nice work updating this issue!

[2022-06-07 01:11] ecoble commented on #1593
Issue Score: Excellent

Comments:
Great job creating a comprehensive demo that showcases your work!

[2022-06-07 01:12] jacknugent1529 commented on #1396
Issue Score: Excellent

Comments: Great work on this issue! The comments are very detailed and explain your decisions very well.

[2022-06-07 01:14] lilyehsani commented on #1568
Issue Score: Excellent

Comments:
Great work on this issue! For a task of this size, we would've expected to see more status updates and/or status updates that were more detailed. Particularly, the final update seems to indicate that another update should have followed it.

[2022-06-07 01:16] jacknugent1529 commented on #1420
Opening this issue and placing it in the backlog so future teams can work on it

[2022-06-07 01:17] ecoble commented on #1516
Issue Score: Excellent

Comments:
Excellent work! Great job on thorough updates as well!

[2022-06-07 01:19] ecoble commented on #1513
Issue Score: Excellent

Comments:
Great job creating documentation that is much needed! The summary could be expanded to be a bit more detailed.

[2022-06-07 01:19] jacknugent1529 commented on #1488
Opening this and placing it in the backlog so future teams can work on it

[2022-06-07 01:20] ecoble commented on #1512
Issue Score: Excellent

Comments:
Nice work creating documentation for your new functions! I am sure this will be helpful to future teams.

[2022-06-07 01:23] ecoble commented on #1463
Issue Score: Excellent

Comments:
Great work! Nice job reworking your code to be more flexible!

[2022-06-07 01:24] ecoble commented on #1455
Issue Score: Excellent

Comments:
Nice job! Great work adding error checking and diving into the CLI code to get this integration working.

[2022-06-07 01:27] jacknugent1529 commented on #1452
Issue Score: Excellent

Comments: Great work on this issue! Your comments are very detailed. One thing you can do is mark the PR as closing this issue, which makes it easier to follow what is happening

[2022-06-07 01:29] jacknugent1529 commented on #1465
Issue Score: Excellent

Comments: Great work! The comments are very detailed and present your progress and thoughts very clearly.

[2022-06-07 01:32] ecoble commented on #1291
Issue Score: Excellent

Comments:
Nice job! I know it can be tricky to work with custom actions code, great work!

[2022-06-07 01:35] ecoble commented on #1290
Issue Score: Excellent

Comments:
Nice job! Great work collaborating with the GUI team to get this working.

[2022-06-07 01:36] jacknugent1529 commented on #1510
Issue Score: Excellent

Comments: Fantastic work! All the comments are very detailed and clearly explain your progress.

[2022-06-07 01:36] ecoble commented on #1072
Issue Score: Excellent

Comments:
Nice job debugging this backlog issue!

[2022-06-07 01:36] jacknugent1529 commented on #1247
Issue Score: Ungradable

Comments: This issue was continued in 1391, so that issue will be graded instead.

[2022-06-07 01:37] ecoble commented on #786
Issue Score: Excellent

Comments:
Great job finishing this challenging backlog issue!

[2022-06-07 01:40] ecoble commented on #236
Issue Score: Excellent

Comments:
Great job finishing this issue that has been in the work for a long time!

[2022-06-07 01:47] ecoble commented on #1707
Removing the milestone of this duplicate issue, it will be ungraded.

[2022-06-07 01:49] jacknugent1529 commented on #1391
Issue Score: Satisfactory

Comments: Nice work looking into this! However, this issue was initially split without the senior developer's approval. Additionally, the updates are brief and the closing of the issue doesn't provide the implementation.

[2022-06-07 01:49] ecoble commented on #1703
Issue Score: Needs Improvement

Comments:
Nice job! The summary here could be more detailed on what changes were made, additionally there are are no updates or closing statement

[2022-06-07 01:50] ecoble commented on #1702
Issue Score: Satisfactory

Comments:
Nice job writing new tests! Please provide status updates on issues as you go.

[2022-06-07 01:53] ecoble commented on #1700
Issue Score: Satisfactory

Comments:
Great job creating this demo! For a substantial issue like this one, please provide intermediate updates as you work.

[2022-06-07 01:53] jacknugent1529 commented on #1496
Issue Score: Satisfactory

Comments: Nice job looking into this! Be sure to provide status updates, and ideally provide tangible outcomes to close the issue.

[2022-06-07 01:57] ecoble commented on #1648
Removing the milestone since this is a duplicate issue and will be ungraded.

[2022-06-07 01:59] ecoble commented on #1670
Issue Score: Satisfactory

Comments:
Nice work on the demo! Please provide status updates as you work on the issue.

[2022-06-07 02:00] ecoble commented on #1667
Removing milestone for unnecessary issue.

[2022-06-07 02:00] ecoble commented on #1659
Removing milestone for unnecessary issue.

[2022-06-07 02:01] ecoble commented on #1655
Issue Score: Satisfactory

Comments:
Great job monkeypatching these actions for the demo! Please provide status updates as you go.

[2022-06-07 02:05] ecoble commented on #1646
Issue Score: Satisfactory

Comments:
Great job creating a multi-argument Lua script! Please provide status updates as you go.

[2022-06-07 02:06] ecoble commented on #1645
Issue Score: Satisfactory

Comments:
Great job writing these tests! Please provide status updates for issues as you make progress.

[2022-06-07 02:07] ecoble commented on #1643
Issue Score: Satisfactory

Comments:
Great job creating a more advanced demo with Lua! Please provide status updates for issues as you make progress.

[2022-06-07 02:08] ecoble commented on #1638
Removing the milestone as this issue ended up being replaced by a different one, so this will be ungraded.

[2022-06-07 02:10] ecoble commented on #1636
Issue Score: Excellent

Comments:
Great job creating this for the demo! The status updates could be a bit more detailed.

[2022-06-07 02:13] ecoble commented on #1610
Issue Score: Satisfactory

Comments:
Great job updating the old code! Please provide status updates as you work.

[2022-06-07 02:15] ecoble commented on #1604
Issue Score: Excellent

Comments:
Nice job creating this demo that utilizes WDL files!

[2022-06-07 02:17] ecoble commented on #1598
Issue Score: Excellent

Comments:
Great job on cross team collaboration here and using this info for your demo!

[2022-06-07 02:20] ecoble commented on #1563
Issue Score: Excellent

Comments:
Nice job updating the documentation, I'm sure this will be helpful in the future!

[2022-06-07 02:21] ecoble commented on #1561
Issue Score: Excellent

Comments:
Nice work on this sandbox, and great job keeping the issue updated!

[2022-06-07 02:22] ecoble commented on #1557
Issue Score: Satisfactory

Comments:
Nice job on this issue, I know it was a tricky one! Please provide status updates on your progress as you work.

[2022-06-07 02:23] ecoble commented on #1547
Removing milestone as this issue was not completed and will be ungraded.

[2022-06-07 02:24] ecoble commented on #1543
Issue Score: Excellent

Comments:
Great job creating much needed documentation!

[2022-06-07 02:25] ecoble commented on #1535
Issue Score: Excellent

Comments:
Nice job researching past work, even if you ended up not utilizing it I hope the information was helpful!

[2022-06-07 02:26] ecoble commented on #1524
Issue Score: Excellent

Comments:
Nice job researching this task!

[2022-06-07 02:27] ecoble commented on #1330
Issue Score: Excellent

Comments:
Nice job creating documentation and pivoting on this task when you realized there was a different need.

[2022-06-07 02:31] ecoble commented on #1284
Issue Score: Excellent

Comments:
Nice job looking into this! There could be a few more updates on the progress of this task, even if it ended up being a smaller task.

[2022-06-07 02:33] ecoble commented on #1226
Issue Score: Excellent

Comments:
Nice job creating this demo and documenting future goals!

[2022-06-07 02:34] ecoble commented on #1225
Issue Score: Excellent

Comments:
Great job breaking up the legacy code into more manageable modules!

[2022-06-07 02:37] jacknugent1529 commented on #1627
Issue Score: Satisfactory

Comments: Nice work on this minor integration issue! I don't recall approving this issue; be sure to check in before creating a new issue.